body{overflow:hidden}
body,p{margin:0;padding;}
a{text-decoration:none;}
.clear{clear:both;}
.qn_main{padding:8px;}
.qn_border{border: 2px solid #cacaca;}
.qn_item{font-size:16px;line-height:40px;padding:0 18px;}
.qn_mt{margin-top:9px;}
.qn_bt{border-bottom:2px solid #cacaca;}
.qn_fl{float:left;}
.qn_extend{margin-left:80px;position:relative;}
.qn_extend_l{margin-right:25px;height:40px;}
.qn_arrow_grey{width:9px;height:14px;right:0px;top:13px;position:absolute;background:url(../image/arrow_grey_sprites.png) -9px 0 no-repeat;background-size:500% 100%;}
.qn_inp{width:100%;border:2px solid #cacaca;line-height:25px;}
.qn_btn{margin-top:8px;}
.qn_btn a{display:block;font-size:18px;text-align:center;color:#ffffff;line-height:40px;background:-webkit-gradient(linear, 0% 0, 0% 100%, from(#ffa442), to(#ff801a));}
.pcd{position:absolute;left:100%;top:0;opacity:0;width:0;height:100%;background:#ffffff;display:none;}
.pcd_header{text-align:center;height:40px;width:100%;line-height:40px;color:white;position:relative;background:-webkit-gradient(linear, 0% 0, 0% 100%, from(#ffa442), to(#ff801a))}
.pcd_cancel{position:absolute;width:30px;height:30px;background:url(../image/cancel.png) 0 0 no-repeat; top:11px;left:6px;background-size:60% 60%;}
.pcd_search{position:relative;background:#ffa442;height:35px;padding:5px 30px;border-top:1px solid #666666;}
.pcd_search_icon{position:absolute;top:6px;left:32px;width:30px;height:30px;background:url(../image/search_bar.png) top left no-repeat;background-position:-30px 0;background-size:200% 100%;}
.pcd_searc_input{height:32px;padding:0px 0 0 40px;background:#ffffff;}
.pcd_search_input{height:30px;border:none;width:100%;}
.pcd_loading{padding:5px;display:none;}
.pcd_items{padding:5px 12px;overflow-y:scroll;}
.pcd_item{padding:5px;}
.num_item{padding:5px;border:2px solid #bfbfbf;}
.num_item_cur{background:#efefef;}