<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hd.agent.oa.dao.OaAccessAuditinfoMapper">
  <resultMap id="BaseResultMap" type="com.hd.agent.oa.model.OaAccessAuditinfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="billid" jdbcType="VARCHAR" property="billid" />
    <result column="nodeid" jdbcType="VARCHAR" property="nodeid" />
    <result column="nodename" jdbcType="VARCHAR" property="nodename" />
    <result column="auditname" jdbcType="VARCHAR" property="auditname" />
    <result column="audittime" jdbcType="TIMESTAMP" property="audittime" />
    <result column="seq" jdbcType="INTEGER" property="seq" />
  </resultMap>
  <sql id="Base_Column_List">
    id, billid, nodeid, nodename, auditname, audittime, seq
  </sql>
</mapper>