@CHARSET "UTF-8";

* {
	font-size: 12px;
}

input {
	height: 20px;
	line-height: 18px;
	border: 1px solid rgb(160, 160, 160);
	text-indent: 5px;
	box-sizing: content-box;
	padding: 1px 0px 0px 0px;
}

input[type="text"] {
	height: 20px;
	line-height: 18px;
	border: 1px solid rgb(160, 160, 160);
	text-indent: 5px;
	box-sizing: content-box;
	padding: 1px 0px 0px 0px;
}

input[type="button"] {
	height: 25px;
}

SELECT {
	height: 20px;
	line-height: 18px;
	border: 1px solid rgb(160, 160, 160);
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: #fff url(../image/combo_arrow.png) no-repeat right;
	box-sizing: content-box;
	padding: 1px 0px 0px 0px;
}

.tags {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0;
	width: 100%;
	padding-top: 0px;
	height: 26px;
	border-bottom: 1px solid #99BBE8;
}

.tags li {
	background-color: #e0ecff;
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #99BBE8;
	border-left: 1px solid #99BBE8;
	border-right: 1px solid #99BBE8;
	border-bottom: 0px solid #99BBE8;
	float: left;
	margin-left: 5px;
	list-style-type: none;
	height: 25px;
	width: 100px;
}

.tags li a {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	line-height: 25px;
	padding-top: 0px;
	height: 25px;
	text-decoration: none;
	text-align: center;
	width: 80px;
	color: #15428B;
	float: left;
}

.tags li.emptytag {
	background: none transparent scroll repeat 0% 0%;
	width: 4px;
}

.tags li.selectTag {
	position: relative;
	height: 25px;
	background-color: #fff;
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
}

.tags li.selectTag a {
	background-position: right top;
	line-height: 25px;
	height: 25px;
	text-align: center;
}

.tagsDiv .tagsDiv_item {
	display: none;
	background: none repeat-x;
	width: 100%;
	min-width: 800px;
	padding: 1px 0;
	border: 1 solid #FF0000;
}

.widgetinput {
	float: left;
	border: 1px solid #B3ADAB;
	white-space: nowrap;
}

.widgetinput input {
	float: left;
	border: 0px;
	height: 18px;
	line-height: 18px;
}

.searchbox-clear {
	background: url(../image/clear.png) right no-repeat #ffffff;
	width: 20px;
	height: 20px;
}

.searchbox-button-widget {
	width: 20px;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background: url('../image/combo_arrow.png') no-repeat right;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.len40 {
    width: 40px;
}

.len50 {
    width: 50px;
}

.len60 {
    width: 60px;
}

.len80 {
    width: 80px;
}

.len90 {
	width: 90px;
}

.len100 {
	width: 100px;
}

.len110 {
    width: 110px;
}

.len120 {
	width: 120px;
}

.len130 {
	width: 130px;
}

.len136 {
	width: 135px;
}

.len140 {
	width: 140px;
}

.len150 {
	width: 150px;
}

.len165 {
	width: 165px;
}

.len180 {
	width: 180px;
}

.len185 {
	width: 185px;
}

.len400 {
	width: 400px;
}

.datagrid-footer {
	background: #dedede;
}

.readonly1 {
	border: 2px solid #efefef;
	background: #efefef;
	color: #000000;
	cursor: default;
	float: left;
}

.readonly {
	border: 1px solid #B3ADAB;
	background-color: #EBEBE4;
	color: #000000;
	cursor: default;
	float: left;
}

.readonly2 {
	border: 1px solid #B3ADAB;
	background-color: #EBEBE4;
	color: #000000;
}

.box_table {
	width: 650px;
}

.box_table td {
	text-align: right;
	line-height: 25px;
}

.box_table td p {
	text-align: left;
	padding-left: 5px;
	background: #efefef;
	line-height: 25px;
	margin: 0;
	width: 180px;
	float: left;
}

.box_table input {
	width: 165px;
	float: left;
}

.box_table select {
	width: 165px;
	float: left;
}

.box_table_empty {
	width: 50px;
}

.no_input1 {
	border: 2px solid #efefef;
	background: #efefef;
	color: #000000;
	cursor: default;
	float: left;
}

.no_input {
	border: 1px solid #B3ADAB;
	background-color: #EBEBE4;
	cursor: default;
	float: left;
}

.inputload {
	background: url(../image/loading.gif) right top no-repeat;
}

.tableinvoice {
	border: solid 1px;
	width: 90%;
	border-collapse: collapse;
	margin-left: 10px;
}

.tableinvoice td {
	border: solid 1px;
	padding-left: 10px;
	height: 25px;
}

.tableinvoice tr {
	cursor: pointer;
}

.tableinvoice .select {
	background-color: #FBEC88;
}

.tablenormal {
	border: solid 1px;
	width: 90%;
	border-collapse: collapse;
	margin-left: 10px;
}

.tablenormal td {
	border: solid 1px;
	padding-left: 10px;
	height: 25px;
}

.tablepaymentdays {
	border: solid 1px;
	width: 360px;
	border-collapse: collapse;
	margin-left: 10px;
}

.tablepaymentdays td {
	border: solid 1px;
	padding-left: 10px;
	height: 25px;
}

.top_menu {
	float: right;
}

.top_menu ul {
	list-style: none;
	margin-right: 20px;
}

.top_menu li {
	list-style: none;
	float: right;
	padding: 5px 5px;
}

.pageFormContent {
	display: block;
	overflow: auto;
	padding: 10px 5px;
	position: relative;
}

.pageFormContent div.unit {
	display: block;
	margin: 0;
	padding: 5px 0;
	position: relative;
	clear: both;
}

.pageFormContent p {
	float: left;
	display: block;
	width: 350px;
	height: 21px;
	margin: 0;
	padding: 5px 0;
	position: relative;
}

.pageFormContent p.nowrap {
	height: auto;
}

.pageFormContent .radioGroup {
	float: left;
	display: block;
	overflow: hidden;
}

.pageFormContent label {
	float: left;
	width: 100px;
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent input {
	float: left;
	width: 200px;
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent label.radioButton {
	float: left;
	width: auto;
	padding: 0 10px 0 0;
	line-height: 21px;
}

.pageFormContent .textInput {
	float: left;
}

.pageFormContent select {
	float: left;
	width: 200px;
	height: 25px;
}

.pageFormContent .inputInfo {
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent span.unit,.pageFormContent a.unit {
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent span.info {
	color: #7F7F7F;
	display: block;
	line-height: 21px;
	float: left;
}

.pageFormContent dl {
	float: left;
	display: block;
	width: 380px;
	height: 21px;
	margin: 0;
	padding: 5px 0;
	position: relative;
}

.pageFormContent dt {
	float: left;
	width: 120px;
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent dd {
	display: block;
	line-height: 21px;
	width: 220px;
	float: left;
}

.pageFormContent dl.nowrap,.nowrap dl {
	width: 100%;
	height: auto;
	clear: both;
}

.pageFormContent dl.nowrap dd,.nowrap dd {
	width: 560px;
}

.pageContent {
	display: block;
	overflow: auto;
	padding: 10px 5px;
	position: relative;
}

.pageContent p {
	float: left;
	display: block;
	width: 380px;
	height: 21px;
	margin: 0;
	padding: 5px 0;
	position: relative;
}

.pageContent p.nowrap {
	height: auto;
}

.pageContent label {
	float: left;
	width: 120px;
	padding: 0 5px;
	line-height: 21px;
	font-size: 12px;
}

.pageContent input {
	width: 200px;
}

.pageContent select {
	width: 200px;
}

.buttondiv {
	text-align: center;
	margin: 10px;
}

.buttonBG {
	background: #fafafa;
	height: 26px;
	padding: 1px 5px 1px 5px;
}
.buttonQueryBG {
	background: rgb(255, 255, 255);
	height: 30px;
	padding: 6px 2px 0px 7px;
}

.buttonDivR {
	padding: 5px;
	background: #fafafa;
	border: 1px solid #ddd;
	text-align: right;
}

.ruletable {
	border: 1px solid #ddd;
	width: 600px;
}

.ruletable0 {
	border: 1px solid #ddd;
	background: white;
	width: 600px;
	margin-left: 10px;
}

.ruletable1 {
	border: 1px solid #ddd;
	background: gray;
	width: 600px;
	margin-left: 10px;
}

.ruleselect {
	width: 99%;
}

.menuContext {
	width: 150px;
	overflow-y: scroll;
	height: 300px;
}

.menuContext div {
	width: 120px;
}

.menuContext .menu-text {
	height: 20px;
	line-height: 20px;
	float: left;
	padding-left: 28px;
}

.menuContext .menu-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 50%;
	margin-top: -8px;
}

.menuContext .menu-rightarrow {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0;
	top: 50%;
	margin-top: -8px;
}

.menuImage {
	z-index: 9999;
	position: absolute;
	display: none;
	width: 300px;
	height: 150px;
	border: 1px solid #AED0EA;
	background: white;
	overflow: auto;
}

.menuImage ul {
	margin-left: -20px;
}

.menuImage li {
	list-style: none;
	float: left;
	width: 18px;
	height: 18px;
}

.menuImageOn {
	border: 1px solid #ddd;
}

.clear {
	clear: both;
}

.leveltd {
	font-size: 12px;
}

.pageTip {
	margin: 3px;
	padding: 3px;
	line-height: 22px;
	border: 1px solid #dfdfdf;
	background: #efefef;
}

.z-tip {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	border: 1px dashed #aaaaaa;
	background: #faf99f;
	height: 25px;
	line-height: 25px;
	width: 100%;
}

.links {
	display: block;
	position: relative;
	margin-top: 4px;
	margin-bottom: 4px;
}

.link {
	float: left;
	position: relative;
	width: 120px;
	height: 30px;
	margin-left: 10px;
	text-align: left;
	border: 1px solid white;
	cursor: pointer;
}

.linkover {
	border: 1px solid lightGrey;
	background: #F1F1F1;
}

.link .close {
	position: absolute;
	top: 1px;
	right: 1px;
	display: none;
	width: 11px;
	height: 11px;
	background: white;
	border: 1px solid #F1F1F1;
}

.link .closeover {
	border: 1px solid lightGrey;
	background: url(../image/icon-close-over.gif);
}

.icon-extend-sendInfo {
	background: url('../image/btn/info/sendinfo.png') no-repeat;
}

.icon-extend-newmail {
	background: url('../image/btn/info/email_new.gif') no-repeat;
}

.icon-extend-sendMsg {
	background: url('../image/btn/info/send.gif') no-repeat;
}

.icon-extend-recvMsg {
	background: url('../image/btn/info/receive.gif') no-repeat;
}

.icon-extend-sendMail {
	background: url('../image/btn/mail/mail_send.png') no-repeat;
}

.icon-extend-resendMail {
	background: url('../image/btn/mail/mail_resend.png') no-repeat;
}

.icon-extend-depusr {
	background: url('../image/btn/dep-usr.png') no-repeat;
}

.icon-extend-group16 {
	background: url('../image/btn/group_16.gif') no-repeat;
}

.icon-extend-user16 {
	background: url('../image/btn/user_16.gif') no-repeat;
}

.icon-extend-sys-addall {
	background: url('../image/btn/system/add-all.gif') no-repeat;
}

.icon-extend-sys-remall {
	background: url('../image/btn/system/rem-all.gif') no-repeat;
}

.icon-extend-sys-upload {
    background: url('../image/btn/system/rem-all-upload.gif') no-repeat;
}

.icon-extend-sys-down {
    background: url('../image/btn/system/rem-all-down.gif') no-repeat;
}

.icon-extend-upload {
	background: url('../image/btn/info/upload.png') no-repeat;
}

.icon-extend-info-open {
	background: url('../image/btn/info/info_open.gif') no-repeat;
}

.icon-extend-fok {
	background: url('../image/btn/fok.gif') no-repeat;
}

.icon-extend-fcopy {
	background: url('../image/btn/fcopy.gif') no-repeat;
}

.icon-extend-fdel {
	background: url('../image/btn/fdel.gif') no-repeat;
}

.icon-extend-fmin {
	background: url('../image/btn/fmin.gif') no-repeat;
}

.icon-extend-readoc {
	background: url('../image/btn/read_document.png') no-repeat;
}

.icon-extend-xls {
	background: url('../image/btn/system/xls.png') no-repeat;
}

.icon-extend-filedel {
	background: url('../image/btn/filedel.gif') no-repeat;
}

.icon-extend-modelist {
	background: url('../image/btn/modelist.png') no-repeat;
}

.icon-extend-modeview {
	background: url('../image/btn/modeview.png') no-repeat;
}

.icon-extend-last {
	background: url('../image/btn/last.png') no-repeat;
}
.icon-extend-uploadfile {
	background: url('../image/upload.png') no-repeat;
}

.icon-extend-widgetdel {
	background: url('../image/widget-del.png') no-repeat;
}

.button-commonquery {
	background: url(../image/default/button/query.png) no-repeat;
}

.button-commonquery1 {
	background: url(../image/default/button/query1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-commonquery {
	background: url(../image/default/button/query2.png) no-repeat;
}

.icon-search {
	background: url(../image/default/button/query.png) no-repeat;
}

.icon-search1 {
	background: url(../image/default/button/query1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-search {
	background: url(../image/default/button/query2.png) no-repeat;
}

.icon-reload {
	background: url(../image/default/button/reload.png) no-repeat;
}

.icon-reload1 {
	background: url(../image/default/button/reload1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-reload {
	background: url(../image/default/button/reload2.png) no-repeat;
}

.button-add {
	background: url(../image/default/button/add.png) no-repeat;
}

.button-add1 {
	background: url(../image/default/button/add1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-add {
	background: url(../image/default/button/add2.png) no-repeat;
}

.button-edit {
	background: url(../image/default/button/edit.png) no-repeat;
}

.button-edit1 {
	background: url(../image/default/button/edit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-edit {
	background: url(../image/default/button/edit2.png) no-repeat;
}

.button-save {
	background: url(../image/default/button/save.png) no-repeat;
}

.button-save1 {
	background: url(../image/default/button/save1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-save {
	background: url(../image/default/button/save2.png) no-repeat;
}

.button-delete {
	background: url(../image/default/button/del.png) no-repeat;
}

.button-delete1 {
	background: url(../image/default/button/del1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-delete {
	background: url(../image/default/button/del2.png) no-repeat;
}

.button-copy {
	background: url(../image/default/button/copy.png) no-repeat;
}

.button-copy1 {
	background: url(../image/default/button/copy1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-copy {
	background: url(../image/default/button/copy2.png) no-repeat;
}

.button-open {
	background: url(../image/default/button/open.png) no-repeat;
}

.button-open1 {
	background: url(../image/default/button/open1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-open {
	background: url(../image/default/button/open2.png) no-repeat;
}

.button-close {
	background: url(../image/default/button/close.png) no-repeat;
}

.button-close1 {
	background: url(../image/default/button/close1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-close {
	background: url(../image/default/button/close2.png) no-repeat;
}

.button-import {
	background: url(../image/default/button/import.png) no-repeat;
}

.button-import1 {
	background: url(../image/default/button/import1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-import {
	background: url(../image/default/button/import2.png) no-repeat;
}

.button-export {
	background: url(../image/default/button/export.png) no-repeat;
}

.button-export1 {
	background: url(../image/default/button/export1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-export {
	background: url(../image/default/button/export2.png) no-repeat;
}

.button-audit {
	background: url(../image/default/button/audit.png) no-repeat;
}

.button-audit1 {
	background: url(../image/default/button/audit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-audit {
	background: url(../image/default/button/audit2.png) no-repeat;
}

.button-back {
	background: url(../image/default/button/back.png) no-repeat;
}

.button-back1 {
	background: url(../image/default/button/back1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-back {
	background: url(../image/default/button/back2.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-back1 {
	background: url(../image/default/button/back2.png) no-repeat;
}

.button-next {
	background: url(../image/default/button/next.png) no-repeat;
}

.button-next1 {
	background: url(../image/default/button/next1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-next {
	background: url(../image/default/button/next2.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-next1 {
	background: url(../image/default/button/next2.png) no-repeat;
}

.button-deploy {
	background: url(../image/default/button/deploy.png) no-repeat;
}

.button-deploy1 {
	background: url(../image/default/button/deploy1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-deploy {
	background: url(../image/default/button/deploy2.png) no-repeat;
}

.button-setting {
    background: url(../image/default/button/setting.png) no-repeat;
}

.button-setting {
    background: url(../image/default/button/setting1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-setting {
    background: url(../image/default/button/setting.png) no-repeat;
}

.button-saveaudit {
	background: url(../image/default/button/saveaudit.png) no-repeat;
}

.button-saveaudit1 {
	background: url(../image/default/button/saveaudit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-saveaudit {
	background: url(../image/default/button/saveaudit2.png) no-repeat;
}

.button-oppaudit {
	background: url(../image/default/button/oppaudit.png) no-repeat;
}

.button-oppaudit1 {
	background: url(../image/default/button/oppaudit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-oppaudit {
	background: url(../image/default/button/oppaudit2.png) no-repeat;
}

.button-print {
	background: url(../image/default/button/print.png) no-repeat;
}

.button-print1 {
	background: url(../image/default/button/print1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-print {
	background: url(../image/default/button/print2.png) no-repeat;
}

.menu-item-disabled .button-print {
	background: url(../image/default/button/print2.png) no-repeat;
}

.button-preview {
	background: url(../image/default/button/preview.png) no-repeat;
}

.button-preview1 {
	background: url(../image/default/button/preview1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-preview {
	background: url(../image/default/button/preview2.png) no-repeat;
}

.menu-item-disabled .button-preview {
	background: url(../image/default/button/preview2.png) no-repeat;
}

.assign-user {
	background: url(../image/default/button/assign-user.png) no-repeat;
}

.assign-user1 {
	background: url(../image/default/button/assign-user1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.assign-user {
	background: url(../image/default/button/assign-user2.png) no-repeat;
}

.button-view {
	background: url(../image/default/button/view.png) no-repeat;
}

.button-view1 {
	background: url(../image/default/button/view1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-view {
	background: url(../image/default/button/view2.png) no-repeat;
}

.icon-print {
	background: url(../image/default/button/print.png) no-repeat;
}

.button-giveup {
	background: url('../image/button/give_up.png') no-repeat;
}

.button-hold {
	background: url('../image/button/savehold.png') no-repeat;
}

.button-file {
	background: url('../image/button/file.png') no-repeat;
}

.button-more {
	background: url('../image/button/more.png') no-repeat;
}

.more-change {
	background: url('../image/button/change.png') no-repeat;
}

.more-stop {
	background: url('../image/button/stop.png') no-repeat;
}

.more-history {
	background: url('../image/button/history.png') no-repeat;
}

.more-current {
	background: url('../image/button/current.png') no-repeat;
}

.workflow-submit {
	background: url('../image/button/submit.png') no-repeat;
}

.workflow-addidea {
	background: url('../image/button/addidea.png') no-repeat;
}

.workflow-viewflow {
	background: url('../image/button/viewflow.png') no-repeat;
}

.workflow-viewflow-pic {
	background: url('../image/button/viewflow-pic.png') no-repeat;
}

.workflow-recover {
	background: url('../image/button/recover.png') no-repeat;
}

.button-relation {
	background: url('../image/button/relation.png') no-repeat;
}

.button-workflow {
	background: url('../image/button/workflow.png') no-repeat;
}

.relation-upper {
	background: url('../image/button/upper.png') no-repeat;
}

.relation-upper-view {
	background: url('../image/button/upper-view.png') no-repeat;
}

.relation-savedown {
	background: url('../image/button/savedown.png') no-repeat;
}

.relation-down-view {
	background: url('../image/button/down-view.png') no-repeat;
}

.img-loading {
	width: 16px;
	hegiht: 16px;
	background: url('../image/loading.gif') left 7px no-repeat;
}
/*
.button-setting {
	background: url('../image/button/setting.png') no-repeat;
}
*/
.nodisplay {
	display: none;
}