@CHARSET "UTF-8";
.icon-extend-sendInfo{	
	background:url('../image/btn/info/sendinfo.png') no-repeat;
}
.icon-extend-newmail{	
	background:url('../image/btn/info/email_new.gif') no-repeat;
}
.icon-extend-sendMsg{	
	background:url('../image/btn/info/send.gif') no-repeat;
}
.icon-extend-recvMsg{	
	background:url('../image/btn/info/receive.gif') no-repeat;
}
.icon-extend-sendMail{
	background:url('../image/btn/mail/mail_send.png') no-repeat;
}
.icon-extend-resendMail{
	background:url('../image/btn/mail/mail_resend.png') no-repeat;
}
/*.icon-extend-receiveMail{*/
	/*background:url('../image/btn/info/receive.png') no-repeat;*/
/*}*/

.icon-extend-next2{
	background:url('../image/btn/info/next.gif') no-repeat;
}
.icon-extend-prev2{
	background:url('../image/btn/info/previous.gif') no-repeat;
}
.icon-extend-depusr{
	background:url('../image/btn/dep-usr.png') no-repeat;
}
.icon-extend-group16{
	background:url('../image/btn/group_16.gif') no-repeat;
}
.icon-extend-user16{
	background:url('../image/btn/user_16.gif') no-repeat;
}
.icon-extend-sys-addall{
	background:url('../image/btn/system/add-all.gif') no-repeat;
}
.icon-extend-sys-remall{
	background:url('../image/btn/system/rem-all.gif') no-repeat;
}

.icon-extend-sys-upload {
    background: url('../image/btn/system/rem-all-upload.gif') no-repeat;
}

.icon-extend-sys-down {
    background: url('../image/btn/system/rem-all-down.gif') no-repeat;
}
.icon-extend-upload{
	background:url('../image/btn/info/upload.png') no-repeat;
}
.icon-extend-info-open{	
	background:url('../image/btn/info/info_open.gif') no-repeat;
}
/*.button-readmess {*/
    /*background: url(../../image/default/button/readmess.png) no-repeat;*/
/*}*/
.icon-extend-fok{
	background:url('../image/btn/fok.gif') no-repeat;
}
.icon-extend-fcopy{
	background:url('../image/btn/fcopy.gif') no-repeat;
}
.icon-extend-fdel{
	background:url('../image/btn/fdel.gif') no-repeat;
}
.icon-extend-fmin{
	background:url('../image/btn/fmin.gif') no-repeat;
}
.icon-extend-readoc{
	background:url('../image/btn/read_document.png') no-repeat;
}
.icon-extend-xls{
	background:url('../image/btn/system/xls.png') no-repeat;
}
.icon-extend-filedel{
	background:url('../image/btn/filedel.gif') no-repeat;
}
.icon-extend-modelist{
	background:url('../image/btn/modelist.png') no-repeat;
}
.icon-extend-modeview{
	background:url('../image/btn/modeview.png') no-repeat;
}
/*.icon-extend-last{*/
	/*background:url('../image/btn/last.png') no-repeat;*/
/*}*/

.icon-extend-dexpand{
	background:url('../image/btn/expand.png') no-repeat;
}
.icon-extend-fmove{
	background:url('../image/btn/fmove.gif') no-repeat;
}
.icon-extend-expeml{
	background:url('../image/btn/mail/exp_eml.gif') no-repeat;
}
.icon-extend-pointRight2{
	background:url('../image/btn/system/add-all.gif') no-repeat;	
}
.icon-extend-pointLeft2{
	background:url('../image/btn/system/rem-all.gif') no-repeat;	
}
.icon-extend-emlback{
	background:url('../image/btn/mail/mail_back.png') no-repeat;	
}
/*.icon-extend-mobilesms{	*/
	/*background:url('../image/btn/mobile_sms.gif') no-repeat;*/
/*}*/
.icon-mobilemess{
    background:url('../image/btn/mobile_sms.gif') no-repeat;
}
.icon-extend-write{
	background:url('../image/btn/write.png') no-repeat;
}
.icon-extend-eraser{
	background:url('../image/btn/archive/eraser.png') no-repeat;
}


.img-extend-infow64{
	background:url('../image/btn/info_w64.png') no-repeat center center;	
	height:64px;
	width:64px;
}
.img-extend-emailopen{
	background:url('../image/btn/info/info_open.gif') no-repeat center center;
	width:16px;
	height:16px;
}
.img-extend-emailnew{	
	background:url('../image/btn/info/email_new.gif') no-repeat;
	width:20px;
	height:20px;
}
.img-extend-deptuser2{	
	background:url('../image/btn/dept-user2.gif') no-repeat;
	width:20px;
	height:20px;
}

