<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.agent.agprint.dao.PrintTempletResourceMapper">
	<!-- 缓存 -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
	<sql id="printTempletResource_Column_List">	
	    id,viewid, code, name, remark, state, sourcefileid, sourcefile, sourcepath, templetfileid, 
	    templetfile, templetpath, adduserid, addusername, addtime, modifyuserid, modifyusername, 
	    modifytime, openuserid, openusername, opentime, closeuserid, closeusername, closetime,issystem,papersizeid
	</sql>
	
	<sql id="printTempletResourcePageList_Where_Condition">
		<if test="condition.code != null">
			and code =#{condition.code}
		</if>
		<if test="condition.viewid != null">
			and viewid = #{condition.viewid}
		</if>
		<if test="condition.name != null">
			and name like CONCAT('%',#{condition.name},'%')
		</if>
		<if test="condition.state != null">
			and state = #{condition.state}
		</if>
		<if test="condition.issystem != null">
			and issystem = #{condition.issystem}
		</if>
	</sql>
	<select id="getPrintTempletResourcePageList" resultType="com.hd.agent.agprint.model.PrintTempletResource" parameterType="com.hd.agent.common.util.PageMap" useCache="false">
		select
		<include refid="printTempletResource_Column_List"/>
		from t_print_templet_resource
		<trim prefix="where" prefixOverrides="and|or">
			<include refid="printTempletResourcePageList_Where_Condition"></include>
		</trim>
		<include refid="common.Page_limit"/>
	</select>
	<select id="getPrintTempletResourceCount" resultType="int" parameterType="com.hd.agent.common.util.PageMap" useCache="false">
		select count(1) from t_print_templet_resource
		<trim prefix="where" prefixOverrides="and|or">
			<include refid="printTempletResourcePageList_Where_Condition"></include>
		</trim>
	</select>
	<select id="getPrintTempletResource" resultType="com.hd.agent.agprint.model.PrintTempletResource" parameterType="java.lang.String">
		select
		<include refid="printTempletResource_Column_List"/>
		from t_print_templet_resource
		where id=#{id}
	</select>
	<select id="getEnablePrintTempletResource" resultType="com.hd.agent.agprint.model.PrintTempletResource" parameterType="java.lang.String">
		select
		<include refid="printTempletResource_Column_List"/>
		from t_print_templet_resource
		where id=#{id} and state='1'
	</select>
	<insert id="insertPrintTempletResource" parameterType="com.hd.agent.agprint.model.PrintTempletResource">
	<selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE" >
      select uuid_short()
    </selectKey>
    insert into t_print_templet_resource
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="sourcefileid != null">
        sourcefileid,
      </if>
      <if test="sourcefile != null">
        sourcefile,
      </if>
      <if test="sourcepath != null">
        sourcepath,
      </if>
      <if test="templetfileid != null">
        templetfileid,
      </if>
      <if test="templetfile != null">
        templetfile,
      </if>
      <if test="templetpath != null">
        templetpath,
      </if>
      <if test="adduserid != null">
        adduserid,
      </if>
      <if test="addusername != null">
        addusername,
      </if>
      <if test="1==1">
        addtime,
      </if>
      <if test="issystem != null">
        issystem,
      </if>
      <if test="papersizeid != null">
        papersizeid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="code != null">
        #{code},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="remark != null">
        #{remark},
      </if>
      <if test="state != null">
        #{state},
      </if>
      <if test="sourcefileid != null">
        #{sourcefileid},
      </if>
      <if test="sourcefile != null">
        #{sourcefile},
      </if>
      <if test="sourcepath != null">
        #{sourcepath},
      </if>
      <if test="templetfileid != null">
        #{templetfileid},
      </if>
      <if test="templetfile != null">
        #{templetfile},
      </if>
      <if test="templetpath != null">
        #{templetpath},
      </if>
      <if test="adduserid != null">
        #{adduserid},
      </if>
      <if test="addusername != null">
        #{addusername},
      </if>
      <choose>
      	<when test="addtime !=null">
      		#{addtime},
      	</when>
      	<otherwise>now(),</otherwise>
      </choose>
      <if test="issystem != null">
        #{issystem},
      </if>
      <if test="papersizeid != null">
        #{papersizeid},
      </if>
    </trim>
  </insert>
  <update id="updatePrintTempletResource" parameterType="com.hd.agent.agprint.model.PrintTempletResource">
    update t_print_templet_resource
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
      <if test="papersizeid != null">
        papersizeid = #{papersizeid},
      </if>
      <if test="modifyuserid != null">
        modifyuserid = #{modifyuserid},
      </if>
      <if test="modifyusername != null">
        modifyusername = #{modifyusername},
      </if>
      <if test="modifytime != null">
        modifytime = #{modifytime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="disablePrintTempletResource" parameterType="com.hd.agent.agprint.model.PrintTempletResource">
		update t_print_templet_resource
		<set>
	      <if test="1==1">
	        state = '0',
	      </if>
	      <if test="closeuserid != null">
	        closeuserid = #{closeuserid},
	      </if>
	      <if test="closeusername != null">
	        closeusername = #{closeusername},
	      </if>
	      <if test="closetime != null">
	        closetime = #{closetime},
	      </if>
	    </set> 
		where id = #{id}
	</update>
	<update id="enablePrintTempletResource" parameterType="com.hd.agent.agprint.model.PrintTempletResource">
		update t_print_templet_resource
		<set>
	      <if test="1==1">
	        state = '1',
	      </if>
	      <if test="openuserid != null">
	        openuserid = #{openuserid},
	      </if>
	      <if test="openusername != null">
	        openusername = #{openusername},
	      </if>
	      <if test="opentime != null">
	        opentime = #{opentime},
	      </if>
	    </set> 
		where id = #{id}
	</update>
	<delete id="deleteUnEnablePrintTempletResource" parameterType="java.lang.String">
		delete from t_print_templet_resource
		where state!='1' and id = #{id}
	</delete>
</mapper>