<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.agent.basefiles.dao.StorageMapper" >
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
	<sql id="storageInoutColumn">
		id, name, type, issystem, referunit, state, remark, adduserid, addusername, adddeptid, 
	    adddeptname, addtime, modifyuserid, modifyusername, modifytime, openuserid, openusername, 
	    opentime, closeuserid, closeusername, closetime
	</sql>
  	<insert id="addStorageInout" parameterType="com.hd.agent.basefiles.model.StorageInout">
  		insert into t_base_storage_inout
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="name != null" >
	        name,
	      </if>
	      <if test="type != null" >
	        type,
	      </if>
	      <if test="issystem != null" >
	        issystem,
	      </if>
	      <if test="referunit != null" >
	        referunit,
	      </if>
	      <if test="state != null" >
	        state,
	      </if>
	      <if test="remark != null" >
	        remark,
	      </if>
	      <if test="adduserid != null" >
	        adduserid,
	      </if>
	      <if test="addusername != null" >
	        addusername,
	      </if>
	      <if test="adddeptid != null" >
	        adddeptid,
	      </if>
	      <if test="adddeptname != null" >
	        adddeptname,
	      </if>
	      <if test="1==1" >
	        addtime,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id},
	      </if>
	      <if test="name != null" >
	        #{name},
	      </if>
	      <if test="type != null" >
	        #{type},
	      </if>
	      <if test="issystem != null" >
	        #{issystem},
	      </if>
	      <if test="referunit != null" >
	        #{referunit},
	      </if>
	      <if test="state != null" >
	        #{state},
	      </if>
	      <if test="remark != null" >
	        #{remark},
	      </if>
	      <if test="adduserid != null" >
	        #{adduserid},
	      </if>
	      <if test="addusername != null" >
	        #{addusername},
	      </if>
	      <if test="adddeptid != null" >
	        #{adddeptid},
	      </if>
	      <if test="adddeptname != null" >
	        #{adddeptname},
	      </if>
	      <if test="1==1" >
	        now(),
	      </if>
	    </trim>
  	</insert>
  	<select id="getStorageInoutCountByID" parameterType="java.lang.String" resultType="int">
  		select count(1) from t_base_storage_inout where id=#{id}
  	</select>
  	<select id="getStorageInoutCountByName" parameterType="java.lang.String" resultType="int">
  		select count(1) from t_base_storage_inout where name=#{name}
  	</select>
  	<select id="showStorageInoutInfo" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageInout">
  		select
   		<include refid="storageInoutColumn" />
    	from t_base_storage_inout where id=#{id}
  	</select>
  	<select id="showStorageInoutList" parameterType="com.hd.agent.common.util.PageMap" resultType="com.hd.agent.basefiles.model.StorageInout">
  		select
   		<include refid="storageInoutColumn" />
    	from t_base_storage_inout
    	<trim prefix="where" prefixOverrides="and|or" >
    	  <if test="condition.id != null" >
	         and id like CONCAT(#{condition.id},'%')
	      </if>
	      <if test="condition.name != null" >
	         and name like CONCAT('%',#{condition.name},'%')
	      </if>
	      <if test="condition.type != null" >
	         and type = #{condition.type}
	      </if>
	      <if test="condition.issystem != null" >
	         and issystem = #{condition.issystem}
	      </if>
	      <if test="condition.referunit != null" >
	         and referunit = #{condition.referunit}
	      </if>
	      <if test="condition.state != null" >
	         and state = #{condition.state}
	      </if>
	      <include refid="common.Page_querySql"/>
	      <include refid="common.Page_dataSql"/>
	    </trim>
	    <include refid="common.Page_limit" />
  	</select>
  	<select id="showStorageInoutCount" parameterType="com.hd.agent.common.util.PageMap" resultType="int">
  		select count(1) from t_base_storage_inout
  		<trim prefix="where" prefixOverrides="and|or" >
    	  <if test="condition.id != null" >
	         and id like CONCAT(#{condition.id},'%')
	      </if>
	      <if test="condition.name != null" >
	         and name like CONCAT('%',#{condition.name},'%')
	      </if>
	      <if test="condition.type != null" >
	         and type = #{condition.type}
	      </if>
	      <if test="condition.issystem != null" >
	         and issystem = #{condition.issystem}
	      </if>
	      <if test="condition.referunit != null" >
	         and referunit = #{condition.referunit}
	      </if>
	      <if test="condition.state != null" >
	         and state = #{condition.state}
	      </if>
	      <include refid="common.Page_querySql"/>
	      <include refid="common.Page_dataSql"/>
	    </trim>
  	</select>
  	<select id="getStorageInoutAllList" parameterType="com.hd.agent.common.util.PageMap" resultType="com.hd.agent.basefiles.model.StorageInout">
  		select
   		<include refid="storageInoutColumn" />
    	from t_base_storage_inout
    	<trim prefix="where" prefixOverrides="and|or" >
    		 <include refid="common.Page_dataSql"/>
    		 <if test="condition.type != null" >
	        	 and type = #{condition.type}
	     	 </if>
		     <if test="1==1" >
		         and state = '1'
		     </if>
	    </trim>
  	</select>
  	<update id="editStorageInout" parameterType="com.hd.agent.basefiles.model.StorageInout">
  		update t_base_storage_inout
	    <set >
	      <if test="id != null" >
	        id = #{id},
	      </if>	
	      <if test="name != null" >
	        name = #{name},
	      </if>
	      <if test="type != null" >
	        type = #{type},
	      </if>
	      <if test="issystem != null" >
	        issystem = #{issystem},
	      </if>
	      <if test="referunit != null" >
	        referunit = #{referunit},
	      </if>
	      <if test="state != null" >
	        state = #{state},
	      </if>
	      <if test="remark != null" >
	        remark = #{remark},
	      </if>
	      <if test="modifyuserid != null" >
	        modifyuserid = #{modifyuserid},
	      </if>
	      <if test="modifyusername != null" >
	        modifyusername = #{modifyusername},
	      </if>
	      <if test="1==1" >
	        modifytime = now(),
	      </if>
	    </set>
	    where id = #{oldid}
  	</update>
  	<delete id="deleteStorageInout" parameterType="java.lang.String">
  		delete from t_base_storage_inout where id =#{id}
  	</delete>
  	<update id="openStorageInout" parameterType="java.lang.String">
  		update t_base_storage_inout
  		set state='1',openuserid=#{userid},openusername=#{name},opentime=now() where id=#{id}
  	</update>
  	<update id="closeStorageInout" parameterType="java.lang.String">
  		update t_base_storage_inout
  		set state='0',closeuserid=#{userid},closeusername=#{name},closetime=now() where id=#{id}
  	</update>
  	
  	<!-- 仓库类型档案 -->
  	<sql id="storageTypeColumn">
  		id, name, state, remark, adduserid, addusername, adddeptid, adddeptname, addtime, 
    	modifyuserid, modifyusername, modifytime, openuserid, openusername, opentime, closeuserid, 
    	closeusername, closetime
  	</sql>
  	<insert id="addStorageType" parameterType="com.hd.agent.basefiles.model.StorageType">
  		insert into t_base_storage_type
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="name != null" >
	        name,
	      </if>
	      <if test="state != null" >
	        state,
	      </if>
	      <if test="remark != null" >
	        remark,
	      </if>
	      <if test="adduserid != null" >
	        adduserid,
	      </if>
	      <if test="addusername != null" >
	        addusername,
	      </if>
	      <if test="adddeptid != null" >
	        adddeptid,
	      </if>
	      <if test="adddeptname != null" >
	        adddeptname,
	      </if>
	      <if test="1==1" >
	        addtime,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id},
	      </if>
	      <if test="name != null" >
	        #{name},
	      </if>
	      <if test="state != null" >
	        #{state},
	      </if>
	      <if test="remark != null" >
	        #{remark},
	      </if>
	      <if test="adduserid != null" >
	        #{adduserid},
	      </if>
	      <if test="addusername != null" >
	        #{addusername},
	      </if>
	      <if test="adddeptid != null" >
	        #{adddeptid},
	      </if>
	      <if test="adddeptname != null" >
	        #{adddeptname},
	      </if>
	      <if test="1==1" >
	        now(),
	      </if>
	    </trim>
  	</insert>
  	<select id="getStorageTypeCountByID" parameterType="java.lang.String" resultType="int">
  		select count(1) from t_base_storage_type where id=#{id}
  	</select>
  	<select id="getStorageTypeCountByName" parameterType="java.lang.String" resultType="int">
  		select count(1) from t_base_storage_type where name=#{name}
  	</select>
  	<select id="showStorageTypeInfo" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageType">
  		select
   		<include refid="storageTypeColumn" />
    	from t_base_storage_type where id=#{id}
  	</select>
  	<select id="showStorageTypeList" parameterType="com.hd.agent.common.util.PageMap" resultType="com.hd.agent.basefiles.model.StorageType">
  		select
   		<include refid="storageTypeColumn" />
    	from t_base_storage_type
    	<trim prefix="where" prefixOverrides="and|or" >
    	  <if test="condition.id != null" >
	         and id like CONCAT(#{condition.id},'%')
	      </if>
	      <if test="condition.name != null" >
	         and name like CONCAT('%',#{condition.name},'%')
	      </if>
	      <if test="condition.state != null" >
	         and state = #{condition.state}
	      </if>
	      <include refid="common.Page_querySql"/>
	      <include refid="common.Page_dataSql"/>
	    </trim>
	    <include refid="common.Page_limit" />
  	</select>
  	<select id="showStorageTypeCount" parameterType="com.hd.agent.common.util.PageMap" resultType="int">
  		select count(1) from t_base_storage_type
  		<trim prefix="where" prefixOverrides="and|or" >
    	  <if test="condition.id != null" >
	         and id like CONCAT(#{condition.id},'%')
	      </if>
	      <if test="condition.name != null" >
	         and name like CONCAT('%',#{condition.name},'%')
	      </if>
	      <if test="condition.state != null" >
	         and state = #{condition.state}
	      </if>
	      <include refid="common.Page_querySql"/>
	      <include refid="common.Page_dataSql"/>
	    </trim>
  	</select>
  	<update id="editStorageType" parameterType="com.hd.agent.basefiles.model.StorageType">
  		update t_base_storage_type
	    <set >
	      <if test="id != null" >
	        id = #{id},
	      </if>
	      <if test="name != null" >
	        name = #{name},
	      </if>
	      <if test="state != null" >
	        state = #{state},
	      </if>
	      <if test="remark != null" >
	        remark = #{remark},
	      </if>
	      <if test="modifyuserid != null" >
	        modifyuserid = #{modifyuserid},
	      </if>
	      <if test="modifyusername != null" >
	        modifyusername = #{modifyusername},
	      </if>
	      <if test="1==1" >
	        modifytime = now(),
	      </if>
	    </set>
	    where id = #{oldid}
  	</update>
  	<delete id="deleteStorageType" parameterType="java.lang.String">
  		delete from t_base_storage_type where id=#{id}
  	</delete>
  	<update id="openStorageType" parameterType="java.lang.String">
  		update t_base_storage_type
  		set state='1',openuserid=#{userid},openusername=#{name},opentime=now() where id=#{id}
  	</update>
  	<update id="closeStorageType" parameterType="java.lang.String">
  		update t_base_storage_type
  		set state='0',closeuserid=#{userid},closeusername=#{name},closetime=now() where id=#{id}
  	</update>
  	<!-- 库位档案 -->
  	<sql id="storageLocationColumn" >
    	id, name, thisid, thisname, pid, storageid,volume,boxnum,isempty, state, remark, adduserid, addusername, 
    	adddeptid, adddeptname, addtime, modifyuserid, modifyusername, modifytime, openuserid, 
    	openusername, opentime, closeuserid, closeusername, closetime
  	</sql>
  	<select id="getStorageLocationList" resultType="com.hd.agent.basefiles.model.StorageLocation">
  		select <include refid="storageLocationColumn" />
  		from t_base_storage_location
  	</select>
  	<insert id="addStorageLocation" parameterType="com.hd.agent.basefiles.model.StorageLocation">
  		insert into t_base_storage_location
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="name != null" >
	        name,
	      </if>
	      <if test="thisid != null" >
	        thisid,
	      </if>
	      <if test="thisname != null" >
	        thisname,
	      </if>
	      <if test="pid != null" >
	        pid,
	      </if>
	      <if test="storageid != null" >
	        storageid,
	      </if>
	      <if test="volume != null" >
	        volume,
	      </if>
	      <if test="boxnum != null" >
	        boxnum,
	      </if>
	      <if test="isempty != null" >
	        isempty,
	      </if>
	      <if test="state != null" >
	        state,
	      </if>
	      <if test="remark != null" >
	        remark,
	      </if>
	      <if test="adduserid != null" >
	        adduserid,
	      </if>
	      <if test="addusername != null" >
	        addusername,
	      </if>
	      <if test="adddeptid != null" >
	        adddeptid,
	      </if>
	      <if test="adddeptname != null" >
	        adddeptname,
	      </if>
	      <if test="1==1" >
	        addtime,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id},
	      </if>
	      <if test="name != null" >
	        #{name},
	      </if>
	      <if test="thisid != null" >
	        #{thisid},
	      </if>
	      <if test="thisname != null" >
	        #{thisname},
	      </if>
	      <if test="pid != null" >
	        #{pid},
	      </if>
	      <if test="storageid != null" >
	        #{storageid},
	      </if>
	      <if test="volume != null" >
	        #{volume},
	      </if>
	      <if test="boxnum != null" >
	        #{boxnum},
	      </if>
	      <if test="isempty != null" >
	        #{isempty},
	      </if>
	      <if test="state != null" >
	        #{state},
	      </if>
	      <if test="remark != null" >
	        #{remark},
	      </if>
	      <if test="adduserid != null" >
	        #{adduserid},
	      </if>
	      <if test="addusername != null" >
	        #{addusername},
	      </if>
	      <if test="adddeptid != null" >
	        #{adddeptid},
	      </if>
	      <if test="adddeptname != null" >
	        #{adddeptname},
	      </if>
	      <if test="1==1" >
	        now(),
	      </if>
	    </trim>
  	</insert>
  	<select id="getStorageLocationCountByID" parameterType="java.lang.String" resultType="int">
  		select count(1) from t_base_storage_location where id=#{id}
  	</select>
  	<select id="getStorageLocationCountByName" parameterType="java.lang.String" resultType="int">
  		select count(1) from t_base_storage_location where thisname=#{name}
  	</select>
  	<select id="returnSLIdByName" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageLocation">
  		select * from t_base_storage_location where name=#{name}
  	</select>
  	<select id="showStorageLocationInfo" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageLocation">
  		select <include refid="storageLocationColumn" />
  		from t_base_storage_location where id=#{id}
  	</select>
  	<update id="editStorageLocation" parameterType="com.hd.agent.basefiles.model.StorageLocation">
  		update t_base_storage_location
	    <set >
	      <if test="id != null" >
	        id = #{id},
	      </if>
	      <if test="name != null" >
	        name = #{name},
	      </if>
	      <if test="thisid != null" >
	        thisid = #{thisid},
	      </if>
	      <if test="thisname != null" >
	        thisname = #{thisname},
	      </if>
	      <if test="pid != null" >
	        pid = #{pid},
	      </if>
	      <if test="storageid != null" >
	        storageid = #{storageid},
	      </if>
	      <if test="volume != null" >
	        volume = #{volume},
	      </if>
	      <if test="boxnum != null" >
	        boxnum = #{boxnum},
	      </if>
	      <if test="isempty != null" >
	        isempty = #{isempty},
	      </if>
	      <if test="state != null" >
	        state = #{state},
	      </if>
	      <if test="remark != null" >
	        remark = #{remark},
	      </if>
	      <if test="modifyuserid != null" >
	        modifyuserid = #{modifyuserid},
	      </if>
	      <if test="modifyusername != null" >
	        modifyusername = #{modifyusername},
	      </if>
	      <if test="1==1" >
	        modifytime = now(),
	      </if>
	    </set>
	    where id = #{oldid}
  	</update>
  	<update id="openStorageLocation" parameterType="java.lang.String">
  		update t_base_storage_location
  		set state='1',openuserid=#{userid},openusername=#{name},opentime=now() where id=#{id}
  	</update>
  	<update id="closeStorageLocation" parameterType="java.lang.String">
  		update t_base_storage_location
  		set state='0',closeuserid=#{userid},closeusername=#{name},closetime=now() 
  		where (id=#{id} or pid = #{id}) and state='1'
  	</update>
  	<delete id="deleteStorageLocation" parameterType="java.lang.String">
  		delete from t_base_storage_location where id=#{id}
  	</delete>
  	<select id="getStorageLocationChildList" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageLocation">
  	select * from t_base_storage_location
  	where pid like concat(#{pid},'%')
  </select>
  <update id="editStorageLocationBatch" parameterType="java.util.List">
  	<foreach collection="list" index="index" item="item">
  		update t_base_storage_location
	  	<set >
	      <if test="item.id != null" >
	        id = #{item.id},
	      </if>
	      <if test="item.name != null" >
	        name = #{item.name},
	      </if>
	      <if test="item.thisid != null" >
	        thisid = #{item.thisid},
	      </if>
	      <if test="item.thisname != null" >
	        thisname = #{item.thisname},
	      </if>
	      <if test="item.pid != null" >
	        pid = #{item.pid},
	      </if>
	    </set>
	    where id = #{item.oldid};
  	</foreach>
  </update>
  <select id="isRepeatThisName" parameterType="java.lang.String" resultType="int">
  	select count(1) from t_base_storage_location where thisname = #{thisname}
  </select>
    <select id="getStorageLocationWithoutName" resultType="com.hd.agent.basefiles.model.StorageLocation">
        select * from t_base_storage_location WHERE name = '' order by id
    </select>
  	<!-- 仓库档案 -->
  	<sql id="stroageInfoColumn" >
	    t.id, t.name, t.state, t.storagetype,t.carsaleuser, t.moenytype, t.pricetype, t.isbatch, t.isstoragelocation, t.islosestorage, 
	    t.istotalcontrol, t.issendusable, t.isoutusable,t.issendstorage,t.isconfig,t.isaloneaccount, t.manageruserid, t.telphone, t.addr, t.remark,
	    t.adduserid, t.addusername, t.adddeptid, t.adddeptname, t.addtime, t.modifyuserid, t.modifyusername, 
	    t.modifytime, t.openuserid, t.openusername, t.opentime, t.closeuserid, t.closeusername, t.closetime
  	</sql>
  	<select id="getStorageInfoCountByID" parameterType="java.lang.String" resultType="int">
  		select count(1) from t_base_storage_info where id=#{id}
  	</select>
  	<select id="getStorageInfoCountByName" parameterType="java.lang.String" resultType="int">
  		select count(1) from t_base_storage_info where name=#{name}
  	</select>
  	<select id="getStorageInfoByName" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageInfo">
  		select <include refid="stroageInfoColumn" /> from t_base_storage_info t where t.name=#{name} limit 1
  	</select>
  	<select id="returnStorageIdByName" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageInfo">
  		select * from t_base_storage_info where name=#{name}
  	</select>
  	<insert id="addStorageInfo" parameterType="com.hd.agent.basefiles.model.StorageInfo">
  		insert into t_base_storage_info
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        id,
	      </if>
	      <if test="name != null" >
	        name,
	      </if>
	      <if test="state != null" >
	        state,
	      </if>
	      <if test="storagetype != null" >
	        storagetype,
	      </if>
	      <if test="carsaleuser != null" >
	        carsaleuser,
	      </if>
	      <if test="moenytype != null" >
	        moenytype,
	      </if>
	      <if test="pricetype != null" >
	        pricetype,
	      </if>
	      <if test="isbatch != null" >
	        isbatch,
	      </if>
	      <if test="isstoragelocation != null" >
	        isstoragelocation,
	      </if>
	      <if test="islosestorage != null" >
	        islosestorage,
	      </if>
	      <if test="istotalcontrol != null" >
	        istotalcontrol,
	      </if>
	      <if test="issendusable != null" >
	        issendusable,
	      </if>
	      <if test="isoutusable != null" >
	        isoutusable,
	      </if>
	      <if test="issendstorage != null" >
	        issendstorage,
	      </if>
	      <if test="isconfig != null" >
	        isconfig,
	      </if>
          <if test="isaloneaccount != null" >
            isaloneaccount,
          </if>
	      <if test="manageruserid != null" >
	        manageruserid,
	      </if>
	      <if test="telphone != null" >
	        telphone,
	      </if>
	      <if test="addr != null" >
	        addr,
	      </if>
	      <if test="remark != null" >
	        remark,
	      </if>
	      <if test="adduserid != null" >
	        adduserid,
	      </if>
	      <if test="addusername != null" >
	        addusername,
	      </if>
	      <if test="adddeptid != null" >
	        adddeptid,
	      </if>
	      <if test="adddeptname != null" >
	        adddeptname,
	      </if>
	      <if test="1==1" >
	        addtime,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="id != null" >
	        #{id},
	      </if>
	      <if test="name != null" >
	        #{name},
	      </if>
	      <if test="state != null" >
	        #{state},
	      </if>
	      <if test="storagetype != null" >
	        #{storagetype},
	      </if>
	      <if test="carsaleuser != null" >
	        #{carsaleuser},
	      </if>
	      <if test="moenytype != null" >
	        #{moenytype},
	      </if>
	      <if test="pricetype != null" >
	        #{pricetype},
	      </if>
	      <if test="isbatch != null" >
	        #{isbatch},
	      </if>
	      <if test="isstoragelocation != null" >
	        #{isstoragelocation},
	      </if>
	      <if test="islosestorage != null" >
	        #{islosestorage},
	      </if>
	      <if test="istotalcontrol != null" >
	        #{istotalcontrol},
	      </if>
	      <if test="issendusable != null" >
	        #{issendusable},
	      </if>
	      <if test="isoutusable != null" >
	        #{isoutusable},
	      </if>
	      <if test="issendstorage != null" >
	        #{issendstorage},
	      </if>
	      <if test="isconfig != null" >
	        #{isconfig},
	      </if>
          <if test="isaloneaccount != null" >
            #{isaloneaccount},
          </if>
	      <if test="manageruserid != null" >
	        #{manageruserid},
	      </if>
	      <if test="telphone != null" >
	        #{telphone},
	      </if>
	      <if test="addr != null" >
	        #{addr},
	      </if>
	      <if test="remark != null" >
	        #{remark},
	      </if>
	      <if test="adduserid != null" >
	        #{adduserid},
	      </if>
	      <if test="addusername != null" >
	        #{addusername},
	      </if>
	      <if test="adddeptid != null" >
	        #{adddeptid},
	      </if>
	      <if test="adddeptname != null" >
	        #{adddeptname},
	      </if>
	      <if test="1==1" >
	        now(),
	      </if>
	    </trim>
  	</insert>
  	<select id="showStorageInfo" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageInfo">
  		select <include refid="stroageInfoColumn" />
  		from t_base_storage_info t where t.id=#{id}
  	</select>
  	<select id="showBaseStorageInfo" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageInfo">
  		select <include refid="stroageInfoColumn" />
  		from t_base_storage_info t where t.id=#{id}
  	</select>
  	<select id="showStorageInfoList" parameterType="com.hd.agent.common.util.PageMap" resultType="com.hd.agent.basefiles.model.StorageInfo">
  		select <include refid="stroageInfoColumn" />,t2.name managername
  		from t_base_storage_info t
  		left join t_base_personnel t2 on t.manageruserid=t2.id
  		<trim prefix="where" prefixOverrides="and|or" >
  		  <if test="condition.id != null" >
	         and t.id like CONCAT(#{condition.id },'%')
	      </if>
	      <if test="condition.name != null" >
	         and t.name like CONCAT('%',#{condition.name},'%')
	      </if>
	      <if test="condition.state != null" >
	         and t.state = #{condition.state}
	      </if>
	      <if test="condition.storagetype != null" >
	         and t.storagetype = #{condition.storagetype}
	      </if>
	      <if test="condition.moenytype != null" >
	         and t.moenytype = #{condition.moenytype}
	      </if>
	      <if test="condition.pricetype != null" >
	         and t.pricetype = #{condition.pricetype}
	      </if>
	      <if test="condition.isbatch != null" >
	         and t.isbatch = #{condition.isbatch}
	      </if>
	      <if test="condition.isstoragelocation != null" >
	         and t.isstoragelocation = #{condition.isstoragelocation}
	      </if>
	      <if test="condition.islosestorage != null" >
	         and t.islosestorage = #{condition.islosestorage}
	      </if>
	      <if test="condition.istotalcontrol != null" >
	         and t.istotalcontrol = #{condition.istotalcontrol}
	      </if>
	      <if test="condition.issendusable != null" >
	         and t.issendusable = #{condition.issendusable}
	      </if>
	      <if test="condition.isoutusable != null" >
	         and t.isoutusable = #{condition.isoutusable}
	      </if>
	      <if test="condition.issendstorage != null" >
	         and t.issendstorage = #{condition.issendstorage}
	      </if>
	      <if test="condition.manageruserid != null" >
	         and t.manageruserid = #{condition.manageruserid}
	      </if>
	      <if test="condition.telphone != null" >
	         and t.telphone like CONCAT(#{condition.telphone},'%')
	      </if>
	      <if test="condition.addr != null" >
	         and t.addr like CONCAT('%',#{condition.addr},'%')
	      </if>
	      <include refid="common.Page_querySql"/>
	      <include refid="common.Page_dataSql"/>
	    </trim>
	    <include refid="common.Page_limit" />
  	</select>
  	<select id="showStorageInfoCount" parameterType="com.hd.agent.common.util.PageMap" resultType="int">
  		select count(1) from t_base_storage_info t
  		<trim prefix="where" prefixOverrides="and|or" >
  		  <if test="condition.id != null" >
	         and t.id like CONCAT(#{condition.id },'%')
	      </if>
	      <if test="condition.name != null" >
	         and t.name like CONCAT('%',#{condition.name},'%')
	      </if>
	      <if test="condition.state != null" >
	         and t.state = #{condition.state}
	      </if>
	      <if test="condition.storagetype != null" >
	         and t.storagetype = #{condition.storagetype}
	      </if>
	      <if test="condition.moenytype != null" >
	         and t.moenytype = #{condition.moenytype}
	      </if>
	      <if test="condition.pricetype != null" >
	         and t.pricetype = #{condition.pricetype}
	      </if>
	      <if test="condition.isbatch != null" >
	         and t.isbatch = #{condition.isbatch}
	      </if>
	      <if test="condition.isstoragelocation != null" >
	         and t.isstoragelocation = #{condition.isstoragelocation}
	      </if>
	      <if test="condition.islosestorage != null" >
	         and t.islosestorage = #{condition.islosestorage}
	      </if>
	      <if test="condition.istotalcontrol != null" >
	         and t.istotalcontrol = #{condition.istotalcontrol}
	      </if>
	      <if test="condition.issendusable != null" >
	         and t.issendusable = #{condition.issendusable}
	      </if>
	      <if test="condition.isoutusable != null" >
	         and t.isoutusable = #{condition.isoutusable}
	      </if>
	      <if test="condition.issendstorage != null" >
	         and t.issendstorage = #{condition.issendstorage}
	      </if>
	      <if test="condition.manageruserid != null" >
	         and t.manageruserid = #{condition.manageruserid}
	      </if>
	      <if test="condition.telphone != null" >
	         and t.telphone like CONCAT(#{condition.telphone},'%')
	      </if>
	      <if test="condition.addr != null" >
	         and t.addr like CONCAT('%',#{condition.addr},'%')
	      </if>
	      <include refid="common.Page_querySql"/>
	      <include refid="common.Page_dataSql"/>
	    </trim>
  	</select>
  	<select id="getStorageInfoAllList" parameterType="com.hd.agent.common.util.PageMap" resultType="com.hd.agent.basefiles.model.StorageInfo">
  		select <include refid="stroageInfoColumn" />
  		from t_base_storage_info t
  		<trim prefix="where" prefixOverrides="and|or" >
	      <include refid="common.Page_dataSql"/>
	      <if test="1==1" >
	         and (t.state = '1' or t.state='0')
	      </if>
	    </trim>
  	</select>
	<select id="getStorageInfoOpenList" parameterType="com.hd.agent.common.util.PageMap" resultType="com.hd.agent.basefiles.model.StorageInfo">
		select <include refid="stroageInfoColumn" />
		from t_base_storage_info t
		<trim prefix="where" prefixOverrides="and|or" >
			<include refid="common.Page_dataSql"/>
			<if test="1==1" >
				and t.state = '1'
			</if>
		</trim>
	</select>
  	<update id="editStorageInfo" parameterType="com.hd.agent.basefiles.model.StorageInfo">
  		update t_base_storage_info
	    <set >
	      <if test="id != null" >
	        id = #{id},
	      </if>
	      <if test="name != null" >
	        name = #{name},
	      </if>
	      <if test="state != null" >
	        state = #{state},
	      </if>
	      <if test="storagetype != null" >
	        storagetype = #{storagetype},
	      </if>
	      <if test="carsaleuser != null" >
	        carsaleuser = #{carsaleuser},
	      </if>
	      <if test="moenytype != null" >
	        moenytype = #{moenytype},
	      </if>
	      <if test="pricetype != null" >
	        pricetype = #{pricetype},
	      </if>
	      <if test="isbatch != null" >
	        isbatch = #{isbatch},
	      </if>
	      <if test="isstoragelocation != null" >
	        isstoragelocation = #{isstoragelocation},
	      </if>
	      <if test="islosestorage != null" >
	        islosestorage = #{islosestorage},
	      </if>
	      <if test="istotalcontrol != null" >
	        istotalcontrol = #{istotalcontrol},
	      </if>
	      <if test="issendusable != null" >
	        issendusable = #{issendusable},
	      </if>
	      <if test="isoutusable != null" >
	        isoutusable = #{isoutusable},
	      </if>
	      <if test="issendstorage != null" >
	        issendstorage = #{issendstorage},
	      </if>
	      <if test="isconfig != null" >
	        isconfig = #{isconfig},
	      </if>
          <if test="isaloneaccount != null" >
            isaloneaccount = #{isaloneaccount},
          </if>
	      <if test="manageruserid != null" >
	        manageruserid = #{manageruserid},
	      </if>
	      <if test="telphone != null" >
	        telphone = #{telphone},
	      </if>
	      <if test="addr != null" >
	        addr = #{addr},
	      </if>
	      <if test="remark != null" >
	        remark = #{remark},
	      </if>
	      <if test="modifyuserid != null" >
	        modifyuserid = #{modifyuserid},
	      </if>
	      <if test="modifyusername != null" >
	        modifyusername = #{modifyusername},
	      </if>
	      <if test="1==1" >
	        modifytime = now(),
	      </if>
	    </set>
	    where id = #{oldid}
  	</update>
  	<delete id="deleteStorageInfo" parameterType="java.lang.String">
  		delete from t_base_storage_info where id=#{id}
  	</delete>
  	<update id="openStorageInfo" parameterType="java.lang.String">
  		update t_base_storage_info
  		set state='1',openuserid=#{userid},openusername=#{name},opentime=now() where id=#{id}
  	</update>
  	<update id="closeStorageInfo" parameterType="java.lang.String">
  		update t_base_storage_info
  		set state='0',closeuserid=#{userid},closeusername=#{name},closetime=now() where id=#{id}
  	</update>
  	<select id="getStorageInfoByCarsaleuser" parameterType="java.lang.String" resultType="com.hd.agent.basefiles.model.StorageInfo">
  		select <include refid="stroageInfoColumn" />
  		from t_base_storage_info t where t.carsaleuser like  CONCAT('%',#{carsaleuser},'%')
  		limit 1
  	</select>
</mapper>