@CHARSET "UTF-8";

* {
	font-size: 12px;
}

input {
	height: 22px;
	line-height: 18px;
	border: 1px solid rgb(160, 160, 160);
	text-indent: 5px;
	box-sizing: border-box;
	padding: 1px 0px 0px 0px;
}

input[type="text"] {
	height: 22px;
	line-height: 18px;
	border: 1px solid rgb(160, 160, 160);
	text-indent: 5px;
	box-sizing: border-box;
	padding: 1px 0px 0px 0px;
}

input[type="button"] {
	height: 25px;
}

SELECT {
	height: 22px;
	line-height: 18px;
	border: 1px solid rgb(160, 160, 160);
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: url(../../image/combo_arrow.png) no-repeat right;
	box-sizing: border-box;
	padding: 1px 12px 0px 0px;
}

.tags {
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0;
	width: 100%;
	padding-top: 0px;
	height: 26px;
	border-bottom: 1px solid #99BBE8;
}

.tags li {
	background-color: #e0ecff;
	border-radius: 5px 5px 0 0;
	border-top: 1px solid #99BBE8;
	border-left: 1px solid #99BBE8;
	border-right: 1px solid #99BBE8;
	border-bottom: 0px solid #99BBE8;
	float: left;
	margin-left: 5px;
	list-style-type: none;
	height: 25px;
	width: 100px;
}

.tags li a {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 0px;
	line-height: 25px;
	padding-top: 0px;
	height: 25px;
	text-decoration: none;
	text-align: center;
	width: 80px;
	color: #15428B;
	float: left;
}

.tags li.emptytag {
	background: none transparent scroll repeat 0% 0%;
	width: 4px;
}

.tags li.selectTag {
	position: relative;
	height: 25px;
	background-color: #fff;
	font-weight: bold;
	border-bottom: 1px solid #ffffff;
}

.tags li.selectTag a {
	background-position: right top;
	line-height: 25px;
	height: 25px;
	text-align: center;
}

.tagsDiv .tagsDiv_item {
	display: none;
	background: none repeat-x;
	width: 100%;
	min-width: 800px;
	/*padding: 1px 0;*/
	/*border: 1px solid #FF0000;*/
}

.widgetinput {
	float: left;
	border: 1px solid #B3ADAB;
	white-space: nowrap;
}

.widgetinput input {
	float: left;
	border: 0px;
	height: 18px;
	line-height: 18px;
}
.searchbox-clear {
	background: url(../../image/clear.png) right no-repeat #ffffff;
	width: 20px;
	height: 20px;
}

.searchbox-button-widget {
	width: 20px;
	height: 18px;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	background: url('../../image/combo_arrow.png') no-repeat right;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.len80 {
	width: 80px;
}

.len90 {
	width: 90px;
}

.len100 {
	width: 100px;
}

.len110 {
    width: 110px;
}

.len120 {
	width: 120px;
}

.len130 {
	width: 130px;
}

.len136 {
	width: 136px;
}

.len140 {
	width: 140px;
}

.len150 {
	width: 150px;
}

.len165 {
	width: 165px;
}

.len180 {
	width: 180px;
}

.len185 {
	width: 185px;
}

.len400 {
	width: 400px;
}

.datagrid-footer {
	background: #dedede;
}

.readonly1 {
	border: 2px solid #efefef;
	background: #efefef;
	color: #000000;
	cursor: default;
	float: left;
}

.readonly {
	border: 1px solid #B3ADAB;
	background-color: #EBEBE4;
	color: #000000;
	cursor: default;
	float: left;
}

.readonly2 {
	border: 1px solid #B3ADAB;
	background-color: #EBEBE4;
	color: #000000;
}

.box_table {
	width: 650px;
}

.box_table td {
	text-align: right;
	line-height: 25px;
}

.box_table td p {
	text-align: left;
	padding-left: 5px;
	background: #efefef;
	line-height: 25px;
	margin: 0;
	width: 180px;
	float: left;
}

.box_table input {
	width: 165px;
	float: left;
}

.box_table select {
	width: 165px;
	float: left;
}

.box_table_empty {
	width: 50px;
}

.no_input1 {
	border: 2px solid #efefef;
	background: #efefef;
	color: #000000;
	cursor: default;
	float: left;
}

.no_input {
	border: 1px solid #B3ADAB;
	background-color: #EBEBE4;
	cursor: default;
	float: left;
}

.inputload {
	background: url(../../image/loading.gif) right top no-repeat;
}

.tableinvoice {
	border: solid 1px;
	width: 90%;
	border-collapse: collapse;
	margin-left: 10px;
}

.tableinvoice td {
	border: solid 1px;
	padding-left: 10px;
	height: 25px;
}

.tableinvoice tr {
	cursor: pointer;
}

.tableinvoice .select {
	background-color: #FBEC88;
}

.tablenormal {
	border: solid 1px;
	width: 90%;
	border-collapse: collapse;
	margin-left: 10px;
}

.tablenormal td {
	border: solid 1px;
	padding-left: 10px;
	height: 25px;
}

.tablepaymentdays {
	border: solid 1px;
	width: 360px;
	border-collapse: collapse;
	margin-left: 10px;
}

.tablepaymentdays td {
	border: solid 1px;
	padding-left: 10px;
	height: 25px;
}

.top_menu {
	float: right;
}

.top_menu ul {
	list-style: none;
	margin-right: 20px;
}

.top_menu li {
	list-style: none;
	float: right;
	padding: 5px 5px;
}

.pageFormContent {
	display: block;
	overflow: auto;
	padding: 10px 5px;
	position: relative;
}

.pageFormContent div.unit {
	display: block;
	margin: 0;
	padding: 5px 0;
	position: relative;
	clear: both;
}

.pageFormContent p {
	float: left;
	display: block;
	width: 350px;
	height: 21px;
	margin: 0;
	padding: 5px 0;
	position: relative;
}

.pageFormContent p.nowrap {
	height: auto;
}

.pageFormContent .radioGroup {
	float: left;
	display: block;
	overflow: hidden;
}

.pageFormContent label {
	float: left;
	width: 100px;
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent input {
	float: left;
	width: 200px;
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent label.radioButton {
	float: left;
	width: auto;
	padding: 0 10px 0 0;
	line-height: 21px;
}

.pageFormContent .textInput {
	float: left;
}

.pageFormContent select {
	float: left;
	width: 200px;
	height: 25px;
}

.pageFormContent .inputInfo {
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent span.unit,.pageFormContent a.unit {
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent span.info {
	color: #7F7F7F;
	display: block;
	line-height: 21px;
	float: left;
}

.pageFormContent dl {
	float: left;
	display: block;
	width: 380px;
	height: 21px;
	margin: 0;
	padding: 5px 0;
	position: relative;
}

.pageFormContent dt {
	float: left;
	width: 120px;
	padding: 0 5px;
	line-height: 21px;
}

.pageFormContent dd {
	display: block;
	line-height: 21px;
	width: 220px;
	float: left;
}

.pageFormContent dl.nowrap,.nowrap dl {
	width: 100%;
	height: auto;
	clear: both;
}

.pageFormContent dl.nowrap dd,.nowrap dd {
	width: 560px;
}

.pageContent {
	display: block;
	overflow: auto;
	padding: 10px 5px;
	position: relative;
}

.pageContent p {
	float: left;
	display: block;
	width: 380px;
	height: 21px;
	margin: 0;
	padding: 5px 0;
	position: relative;
}

.pageContent p.nowrap {
	height: auto;
}

.pageContent label {
	float: left;
	width: 120px;
	padding: 0 5px;
	line-height: 21px;
	font-size: 12px;
}

.pageContent input {
	width: 200px;
}

.pageContent select {
	width: 200px;
}

.buttondiv {
	text-align: center;
	margin: 10px;
}

.buttonBG {
	background: #fafafa;
	height: 26px;
	padding: 1px 5px 1px 5px;
}

.buttonQueryBG {
	background: rgb(255, 255, 255);
	height: 30px;
	padding: 6px 2px 0px 7px;
}

.buttonDivR {
	padding: 5px;
	background: #fafafa;
	border: 1px solid #ddd;
	text-align: right;
}

.ruletable {
	border: 1px solid #ddd;
	width: 600px;
}

.ruletable0 {
	border: 1px solid #ddd;
	background: white;
	width: 600px;
	margin-left: 10px;
}

.ruletable1 {
	border: 1px solid #ddd;
	background: #F7F7F7;
	color:#000000;
	width: 600px;
	margin-left: 10px;
}

.ruleselect {
	width: 99%;
}

.menuContext {
	width: 150px;
	overflow-y: scroll;
	height: 300px;
}

.menuContext div {
	width: 120px;
}

.menuContext .menu-text {
	height: 20px;
	line-height: 20px;
	float: left;
	padding-left: 28px;
}

.menuContext .menu-icon {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 2px;
	top: 50%;
	margin-top: -8px;
}

.menuContext .menu-rightarrow {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 0;
	top: 50%;
	margin-top: -8px;
}

.menuImage {
	z-index: 9999;
	position: absolute;
	display: none;
	width: 300px;
	height: 150px;
	border: 1px solid #AED0EA;
	background: white;
	overflow: auto;
}

.menuImage ul {
	margin-left: -20px;
}

.menuImage li {
	list-style: none;
	float: left;
	width: 18px;
	height: 18px;
}

.menuImageOn {
	border: 1px solid #ddd;
}

.clear {
	clear: both;
}

.leveltd {
	font-size: 12px;
}

.pageTip {
	margin: 3px;
	padding: 3px;
	line-height: 22px;
	border: 1px solid #dfdfdf;
	background: #efefef;
}

.z-tip {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 999;
	border: 1px dashed #aaaaaa;
	background: #faf99f;
	height: 25px;
	line-height: 25px;
	width: 100%;
}

.links {
	display: block;
	position: relative;
	margin-top: 4px;
	margin-bottom: 4px;
}

.link {
	float: left;
	position: relative;
	width: 120px;
	height: 30px;
	margin-left: 10px;
	text-align: left;
	border: 1px solid white;
	cursor: pointer;
}

.linkover {
	border: 1px solid lightGrey;
	background: #F1F1F1;
}

.link .close {
	position: absolute;
	top: 1px;
	right: 1px;
	display: none;
	width: 11px;
	height: 11px;
	background: white;
	border: 1px solid #F1F1F1;
}

.link .closeover {
	border: 1px solid lightGrey;
	background: url(../../image/icon-close-over.gif);
}

.button-closeover {
    background: url(../../image/icon-close-over.gif) no-repeat;
}

.icon-extend-sendInfo {
	background: url('../../image/btn/info/sendinfo.png') no-repeat;
}

.icon-extend-newmail {
	background: url('../../image/btn/info/email_new.gif') no-repeat;
}

.icon-extend-sendMsg {
	background: url('../../image/btn/info/send.gif') no-repeat;
}

.icon-extend-recvMsg {
	background: url('../../image/btn/info/receive.gif') no-repeat;
}

.icon-extend-sendMail {
	background: url('../../image/btn/mail/mail_send.png') no-repeat;
}

.icon-extend-resendMail {
	background: url('../../image/btn/mail/mail_resend.png') no-repeat;
}

.icon-extend-depusr {
	background: url('../../image/btn/dep-usr.png') no-repeat;
}

.icon-extend-group16 {
	background: url('../../image/btn/group_16.gif') no-repeat;
}

.icon-extend-user16 {
	background: url('../../image/btn/user_16.gif') no-repeat;
}

.icon-extend-sys-addall {
	background: url('../../image/btn/system/add-all.gif') no-repeat;
}

.icon-extend-sys-remall {
	background: url('../../image/btn/system/rem-all.gif') no-repeat;
}
.icon-extend-sys-upload {
    background: url('../../image/btn/system/rem-all-upload.gif') no-repeat;
}

.icon-extend-sys-down {
    background: url('../../image/btn/system/rem-all-down.gif') no-repeat;
}
.icon-extend-upload {
	background: url('../../image/btn/info/upload.png') no-repeat;
}

.icon-extend-info-open {
	background: url('../../image/btn/info/info_open.gif') no-repeat;
}

.icon-extend-fok {
	background: url('../../image/btn/fok.gif') no-repeat;
}

.icon-extend-fcopy {
	background: url('../../image/btn/fcopy.gif') no-repeat;
}

.icon-extend-fdel {
	background: url('../../image/btn/fdel.gif') no-repeat;
}

.icon-extend-fmin {
	background: url('../../image/btn/fmin.gif') no-repeat;
}

.icon-extend-readoc {
	background: url('../../image/btn/read_document.png') no-repeat;
}

.icon-extend-xls {
	background: url('../../image/btn/system/xls.png') no-repeat;
}

.icon-extend-filedel {
	background: url('../../image/btn/filedel.gif') no-repeat;
}

.icon-extend-modelist {
	background: url('../../image/btn/modelist.png') no-repeat;
}

.icon-extend-modeview {
	background: url('../../image/btn/modeview.png') no-repeat;
}

.icon-extend-subord {
	background: url('../../image/btn/system/more.png') no-repeat;
}

.icon-extend-uploadfile {
	background: url('../../image/upload.png') no-repeat;
}

.icon-extend-widgetdel {
	background: url('../../image/widget-del.png') no-repeat;
}

.button-commonquery {
	background: url(../../image/default/button/query.png) no-repeat;
}

.button-commonquery1 {
	background: url(../../image/default/button/query1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-commonquery {
	background: url(../../image/default/button/query2.png) no-repeat;
}

.icon-search {
	background: url(../../image/default/button/query.png) no-repeat;
}

.icon-search1 {
	background: url(../../image/default/button/query1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-search {
	background: url(../../image/default/button/query2.png) no-repeat;
}

.icon-reload {
	background: url(../../image/default/button/reload.png) no-repeat;
}

.icon-reload1 {
	background: url(../../image/default/button/reload1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-reload {
	background: url(../../image/default/button/reload2.png) no-repeat;
}

.button-add {
	background: url(../../image/default/button/add.png) no-repeat;
}

.button-add1 {
	background: url(../../image/default/button/add1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-add {
	background: url(../../image/default/button/add2.png) no-repeat;
}

.button-edit {
	background: url(../../image/default/button/edit.png) no-repeat;
}

.button-edit1 {
	background: url(../../image/default/button/edit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-edit {
	background: url(../../image/default/button/edit2.png) no-repeat;
}

.button-save {
	background: url(../../image/default/button/save.png) no-repeat;
}

.button-save1 {
	background: url(../../image/default/button/save1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-save {
	background: url(../../image/default/button/save2.png) no-repeat;
}

.button-delete {
	background: url(../../image/default/button/del.png) no-repeat;
}

.button-delete1 {
	background: url(../../image/default/button/del1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-delete {
	background: url(../../image/default/button/del2.png) no-repeat;
}

.button-copy {
	background: url(../../image/default/button/copy.png) no-repeat;
}

.button-copy1 {
	background: url(../../image/default/button/copy1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-copy {
	background: url(../../image/default/button/copy2.png) no-repeat;
}

.button-open {
	background: url(../../image/default/button/open.png) no-repeat;
}

.button-open1 {
	background: url(../../image/default/button/open1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-open {
	background: url(../../image/default/button/open2.png) no-repeat;
}

.button-close {
	background: url(../../image/default/button/close.png) no-repeat;
}

.button-close1 {
	background: url(../../image/default/button/close1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-close {
	background: url(../../image/default/button/close2.png) no-repeat;
}

.button-import {
	background: url(../../image/default/button/import.png) no-repeat;
}

.button-import1 {
	background: url(../../image/default/button/import1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-import {
	background: url(../../image/default/button/import2.png) no-repeat;
}

.button-export {
	background: url(../../image/default/button/export.png) no-repeat;
}

.button-export1 {
	background: url(../../image/default/button/export1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-export {
	background: url(../../image/default/button/export2.png) no-repeat;
}

.button-audit {
	background: url(../../image/default/button/audit.png) no-repeat;
}

.button-audit1 {
	background: url(../../image/default/button/audit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-audit {
	background: url(../../image/default/button/audit2.png) no-repeat;
}

.button-back {
	background: url(../../image/default/button/back.png) no-repeat;
}

.button-back1 {
	background: url(../../image/default/button/back1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-back {
	background: url(../../image/default/button/back2.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-back1 {
	background: url(../../image/default/button/back2.png) no-repeat;
}

.button-next {
	background: url(../../image/default/button/next.png) no-repeat;
}

.button-next1 {
	background: url(../../image/default/button/next1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-next {
	background: url(../../image/default/button/next2.png) no-repeat;
}
.l-btn-disabled .l-btn-left>.button-next1 {
    background: url(../../image/default/button/next2.png) no-repeat;
}
.button-down {
    background: url(../../image/default/button/down.png) no-repeat;
}

.button-down1 {
    background: url(../../image/default/button/down1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-down {
    background: url(../../image/default/button/down2.png) no-repeat;
}

.button-upload {
    background: url(../../image/default/button/upload.png) no-repeat;
}

.button-upload1 {
    background: url(../../image/default/button/upload1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-upload {
    background: url(../../image/default/button/upload2.png) no-repeat;
}


.button-deploy {
	background: url(../../image/default/button/deploy.png) no-repeat;
}

.button-deploy1 {
	background: url(../../image/default/button/deploy1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-deploy {
	background: url(../../image/default/button/deploy2.png) no-repeat;
}

.button-saveaudit {
	background: url(../../image/default/button/saveaudit.png) no-repeat;
}

.button-saveaudit1 {
	background: url(../../image/default/button/saveaudit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-saveaudit {
	background: url(../../image/default/button/saveaudit2.png) no-repeat;
}

.button-oppaudit {
	background: url(../../image/default/button/oppaudit.png) no-repeat;
}

.button-oppaudit1 {
	background: url(../../image/default/button/oppaudit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-oppaudit {
	background: url(../../image/default/button/oppaudit2.png) no-repeat;
}

.button-print {
	background: url(../../image/default/button/print.png) no-repeat;
}

.button-print1 {
	background: url(../../image/default/button/print1.png) no-repeat;
}

.button-readmess {
    background: url(../../image/default/button/readmess.png) no-repeat;
}

.icon-innerMessage {
    background: url(../../image/default/button/innermess.png) no-repeat;
}

.icon-innerMessage1 {
    background: url(../../image/default/button/innermess1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-innerMessage {
    background: url(../../image/default/button/innermess2.png) no-repeat;
}
.button-merge{
    background: url(../../image/default/button/merge.png) no-repeat;
}
.button-merge1 {
    background: url(../../image/default/button/merge1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-merge {
    background: url(../../image/default/button/merge2.png) no-repeat;
}
.button-customer{
    background: url(../../image/default/button/merge.png) no-repeat;
}
.button-customer1 {
    background: url(../../image/default/button/merge1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-customer {
    background: url(../../image/default/button/merge2.png) no-repeat;
}

.button-writeoff{
    background: url(../../image/default/button/writeoff.png) no-repeat;
}
.button-writeoff1 {
    background: url(../../image/default/button/writeoff1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-writeoff {
    background: url(../../image/default/button/writeoff2.png) no-repeat;
}
.icon-poorat {
    background: url(../../image/default/button/poorat.png) no-repeat;
}

.icon-poorat1 {
    background: url(../../image/default/button/poorat1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-poorat {
    background: url(../../image/default/button/poorat2.png) no-repeat;
}

.icon-businessAssociation {
    background: url(../../image/default/button/businessAssociation.png) no-repeat;
}

.icon-mobilemess {
    background: url(../../image/default/button/mobilemess.png) no-repeat;
}

.icon-mobilemess1 {
    background: url(../../image/default/button/mobilemess1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-mobilemess {
    background: url(../../image/default/button/mobilemess2.png) no-repeat;
}

.button-getdown {
    background: url(../../image/default/button/getdown.png) no-repeat;
}

.button-getdown1 {
    background: url(../../image/default/button/getdown1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-getdown {
    background: url(../../image/default/button/getdown2.png) no-repeat;
}

.button-intervalSet {
    background: url(../../image/default/button/intervalSet.png) no-repeat;
}

.button-intervalSet1 {
    background: url(../../image/default/button/intervalSet1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-intervalSet {
    background: url(../../image/default/button/intervalSet2.png) no-repeat;
}

.button-refresh {
    background: url(../../image/default/button/pagination_refresh.png) no-repeat;
}

.button-refresh1 {
    background: url(../../image/default/button/pagination_refresh1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-refresh {
    background: url(../../image/default/button/pagination_refresh2.png) no-repeat;
}

.icon-removeCheck {
    background: url(../../image/default/button/cancelapproval.png) no-repeat;
}

.icon-removeCheck1 {
    background: url(../../image/default/button/cancelapproval1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-removeCheck {
    background: url(../../image/default/button/cancelapproval2.png) no-repeat;
}

.button-pause {
    background: url(../../image/default/button/pause.png) no-repeat;
}

.button-pause1 {
    background: url(../../image/default/button/pause1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-pause {
    background: url(../../image/default/button/pause2.png) no-repeat;
}

.button-reset {
    background: url(../../image/default/button/button-reset.png) no-repeat;
}

.button-reset1 {
    background: url(../../image/default/button/button-reset1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-reset {
    background: url(../../image/default/button/button-reset2.png) no-repeat;
}

.button-quit {
    background: url(../../image/default/button/quit.png) no-repeat;
}

.button-quit1 {
    background: url(../../image/default/button/quit1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-quit {
    background: url(../../image/default/button/quit2.png) no-repeat;
}

.icon-removed {
    background: url(../../image/default/button/checkAndRemove.png) no-repeat;
}

.icon-removed1 {
    background: url(../../image/default/button/checkAndRemove1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-removed {
    background: url(../../image/default/button/checkAndRemove2.png) no-repeat;
}
.icon-relate {
    background: url(../../image/default/button/businessAssociation.png) no-repeat;
}

.icon-relate1 {
    background: url(../../image/default/button/businessAssociation1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.icon-relate {
    background: url(../../image/default/button/businessAssociation2.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-print {
	background: url(../../image/default/button/print2.png) no-repeat;
}

.menu-item-disabled .button-print {
	background: url(../../image/default/button/print2.png) no-repeat;
}

.button-preview {
	background: url(../../image/default/button/preview.png) no-repeat;
}

.button-preview1 {
	background: url(../../image/default/button/preview1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-preview {
	background: url(../../image/default/button/preview2.png) no-repeat;
}

.menu-item-disabled .button-preview {
	background: url(../../image/default/button/preview2.png) no-repeat;
}

.assign-user {
	background: url(../../image/default/button/assign-user.png) no-repeat;
}

.assign-user1 {
	background: url(../../image/default/button/assign-user1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.assign-user {
	background: url(../../image/default/button/assign-user2.png) no-repeat;
}
.button-transfer {
    background: url(../../image/default/button/transfer.png) no-repeat;
}

.button-transfer1 {
    background: url(../../image/default/button/transfer1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-transfer {
    background: url(../../image/default/button/transfer2.png) no-repeat;
}
.button-view {
	background: url(../../image/default/button/view.png) no-repeat;
}

.button-view1 {
	background: url(../../image/default/button/view1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-view {
	background: url(../../image/default/button/view2.png) no-repeat;
}
.button-stop {
     background: url(../../image/default/button/stop.png) no-repeat;
 }

.button-stop1 {
    background: url(../../image/default/button/stop1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-stop {
    background: url(../../image/default/button/stop2.png) no-repeat;
}
.button-order {
    background: url(../../image/default/button/order.png) no-repeat;
}

.button-order1 {
    background: url(../../image/default/button/order1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-order {
    background: url(../../image/default/button/order2.png) no-repeat;
}
.button-asscustomer {
    background: url(../../image/default/button/asscustomer.png) no-repeat;
}

.button-asscustomer1 {
    background: url(../../image/default/button/asscustomer1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-asscustomer {
    background: url(../../image/default/button/asscustomer2.png) no-repeat;
}

.more-history {
    background: url('../../image/default/button/history.png') no-repeat;
}
.more-history1 {
    background: url('../../image/default/button/history1.png') no-repeat;
}
.l-btn-disabled .l-btn-left>.more-history {
    background: url('../../image/default/button/history2.png') no-repeat;
}
.icon-print {
	background: url(../../image/default/button/print.png) no-repeat;
}

.button-giveup {
	background: url('../../image/button/give_up.png') no-repeat;
}

.button-hold {
	background: url('../../image/button/savehold.png') no-repeat;
}

.button-file {
	background: url('../../image/button/file.png') no-repeat;
}

.button-more {
	background: url('../../image/button/more.png') no-repeat;
}

.button-map {
	background: url(../../image/default/button/map.png) no-repeat;
}

.button-map1 {
	background: url(../../image/default/button/map1.png) no-repeat;
}

.l-btn-disabled .l-btn-left>.button-map {
	background: url(../../image/default/button/map2.png) no-repeat;
}

.more-change {
	background: url('../../image/button/change.png') no-repeat;
}

.more-stop {
	background: url('../../image/button/stop.png') no-repeat;
}

.more-current {
	background: url('../../image/button/current.png') no-repeat;
}

.workflow-submit {
	background: url('../../image/button/submit.png') no-repeat;
}

.workflow-addidea {
	background: url('../../image/button/addidea.png') no-repeat;
}

.workflow-viewflow {
	background: url('../../image/button/viewflow.png') no-repeat;
}

.workflow-viewflow-pic {
	background: url('../../image/button/viewflow-pic.png') no-repeat;
}

.workflow-recover {
	background: url('../../image/button/recover.png') no-repeat;
}

.button-relation {
    background: url('../../image/default/button/relation.png') no-repeat;
}

.button-relation1 {
    background: url('../../image/default/button/relation1.png') no-repeat;
}

.l-btn-disabled .l-btn-left>.button-relation {
    background: url('../../image/default/button/relation2.png') no-repeat;
}

.button-workflow {
	background: url('../../image/button/workflow.png') no-repeat;
}

.relation-upper {
    background: url('../../image/default/button/upper.png') no-repeat;
}

.relation-upper1 {
    background: url('../../image/default/button/upper1.png') no-repeat;
}

.l-btn-disabled .l-btn-left>.relation-upper {
    background: url('../../image/default/button/upper2.png') no-repeat;
}

.relation-upper-view {
    background: url('../../image/default/button/upper-view.png') no-repeat;
}

.relation-upper-view1 {
    background: url('../../image/default/button/upper-view1.png') no-repeat;
}

.l-btn-disabled .l-btn-left>.relation-upper-view {
    background: url('../../image/default/button/upper-view2.png') no-repeat;
}

.relation-savedown {
	background: url('../../image/button/savedown.png') no-repeat;
}

.relation-down-view {
	background: url('../../image/button/down-view.png') no-repeat;
}

.icon-blank {
	background: url('../../js/themes/icons/blank.gif') no-repeat;
}

.icon-add {
	background: url('../../js/themes/icons/edit_add.png') no-repeat;
}

.icon-edit {
	background: url('../../js/themes/icons/pencil.png') no-repeat;
}

.icon-save {
	background: url('../../js/themes/icons/filesave.png') no-repeat;
}

.icon-cut {
	background: url('../../js/themes/icons/cut.png') no-repeat;
}

.icon-ok {
	background: url('../../js/themes/icons/ok.png') no-repeat;
}

.icon-no {
	background: url('../../js/themes/icons/no.png') no-repeat;
}

.icon-cancel {
	background: url('../../js/themes/icons/cancel.png') no-repeat;
}

.icon-reload {
	background: url('../../js/themes/icons/reload.png') no-repeat;
}

.icon-search {
	background: url('../../js/themes/icons/search.png') no-repeat;
}

.icon-print {
	background: url('../../js/themes/icons/print.png') no-repeat;
}

.icon-help {
	background: url('../../js/themes/icons/help.png') no-repeat;
}

.icon-undo {
	background: url('../../js/themes/icons/undo.png') no-repeat;
}

.icon-redo {
	background: url('../../js/themes/icons/redo.png') no-repeat;
}

.icon-back {
	background: url('../../js/themes/icons/back.png') no-repeat;
}

.icon-sum {
	background: url('../../js/themes/icons/sum.png') no-repeat;
}

.icon-tip {
	background: url('../../js/themes/icons/tip.png') no-repeat;
}

.icon-mini-add {
	background: url('../../js/themes/icons/mini_add.png') no-repeat 2px 2px;
}

.icon-mini-edit {
	background: url('../../js/themes/icons/mini_edit.png') no-repeat 2px 2px;
}

.icon-mini-refresh {
	background: url('../../js/themes/icons/mini_refresh.png') no-repeat 3px
		2px;
}

.img-loading {
	width: 16px;
	hegiht: 16px;
	background: url('../../image/loading.gif') left 7px no-repeat;
}

.button-setting {
	background: url('../../image/default/button/setting.png') no-repeat;
}

.nodisplay {
	display: none;
}

.mainbackground {
	background: url(../../image/default/logo/mbg.png) center no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.main-header {
	background: url(../../image/default/logo/header_bg.png) repeat;
}

.main-logo {
	background: url(../../image/default/logo/header.png) no-repeat;
	height: 60px;
}

.cs-north-span {
	line-height: 55px;
	padding: 1px 2px 1px 2px;
}

.userdetail {
	background: url(../../image/default/user-icon.png) no-repeat;
	color: rgb(193, 225, 249);
	height: 30px;
	padding: 7px 5px 5px 25px;
	/*display: bolck;*/
	margin: 1px 0px 1px 1px;
}

.main-home {
	background: url(../../image/default/home_1.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-home1 {
	background: url(../../image/default/home.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-skin {
	background: url(../../image/default/skin_1.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-skin1 {
	background: url(../../image/default/skin.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-set {
	background: url(../../image/default/set_1.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-set1 {
	background: url(../../image/default/set.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-pwd {
	background: url(../../image/default/pwdm.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-pwd1 {
	background: url(../../image/default/pwdm1.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-out {
	background: url(../../image/default/out_1.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}

.main-out1 {
	background: url(../../image/default/out.png) no-repeat;
	padding: 2px 5px 3px 15px;
	text-decoration: none;
	/*display: bolck;*/
}


.main-left {
	background: rgb(61, 119, 164) repeat;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.main-tree {
	text-align: center;
	padding: 0px 0px 0px 0px;
	width: 86px;
	margin: 0px;
}

.main-tree li {
	list-style-type: none;
	height: 48px;
	text-align: center;
	cursor: pointer;
}

.main-tree li img {
	margin: 12px 0px 12px 0px;
	width: 26px;
	height: 24px;
}

.main-tree li:HOVER {
	background: rgb(13, 89, 148) repeat;
}

.main-title {
	border: 1px solid black;
	background: rgb(255, 255, 204);
	position: absolute;
	padding: 1px 5px 1px 5px;
	display: none;
	z-index: 200;
}

.main-select {
	background: rgb(37, 84, 120) repeat;
}

.mian-tree2 {
	background: rgb(231, 246, 255);
	position: absolute;
	width: 180px;
	overflow: auto;
	padding-right: 5px;
	filter: alpha(opacity = 95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}

.main-bottom {
	background: rgb(61, 119, 164) repeat;
	width: 100%;
	height: 35px;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
}

.main-tree-bottom {
	text-align: center;
	padding: 0px 0px 0px 0px;
	width: 86px;
	margin: 0px;
}

.main-tree-bottom li {
	list-style-type: none;
	height: 35px;
	text-align: center;
	cursor: pointer;
}

.main-tree-bottom li img {
	margin: 6px 0px 6px 0px;
	width: 26px;
	height: 24px;
}

.main-tree-bottom li:HOVER {
	background: rgb(13, 89, 148) repeat;
}

.main-tree-bottom-over {
	background: rgb(13, 89, 148) repeat;
}

.main-bottom-div {
	background: url(../../image/default/workbg.png) repeat-x;
	position: absolute;
	width: 200px;
	height: 35px;
	overflow: auto;
	text-align: center;
	white-space: nowrap;
	padding: 12px 20px 5px 10px;
	cursor: pointer;
}

.main-bottom-a {
	float: left;
	white-space: nowrap;
	position: relative;
}

#menu_left_tree.ztree {
	margin: 0px;
	padding: 5px 5px 5px 0px;
}

#menu_left_tree.ztree.ztree li {
	line-height: 18px;
	vertical-align: middle;
}

#menu_left_tree.ztree li a {
	height: 18px;
	line-height: 18px;
	text-align: left;
	margin: 2px 0px 2px -40px;
	text-decoration: none;
	color: rgb(0, 0, 0);
	padding: 4px 0px 2px 60px;
}

#menu_left_tree.ztree li a:HOVER {
	width: 100%;
	height: 18px;
	line-height: 18px;
	background-color: rgb(178, 200, 213);
	border: none;
	color: rgb(0, 0, 0);
}

#menu_left_tree.ztree li span {
	margin: 2px 0 2px 0;
	text-align: left;
	color: rgb(0, 0, 0);
}

#menu_left_tree.ztree li span.button.switch {
	margin: 5px 0 2px 0;
	text-align: left;
	color: rgb(0, 0, 0);
	position: absolute;
	z-index: 2;
}

#menu_left_tree.ztree li a.level0 {
	width: 100%;
	height: 18px;
	line-height: 18px;
	text-decoration: none;
	margin: 2px 0px 4px -40px;
	padding: 4px 0px 2px 60px;
	color: rgb(0, 0, 0);
}

#menu_left_tree.ztree ul.level0 {
	width: 100%;
	margin: -4px 0 1px 0;
}

#menu_left_tree.ztree li span.level1 {
	height: 18px;
	line-height: 18px;
	text-align: left;
	margin: 4px 0px 0px 0px;
	color: rgb(0, 0, 0);
}

#menu_left_tree.ztree li a.level1 {
	height: 18px;
	line-height: 18px;
	text-align: left;
	text-decoration: none;
	margin: 2px 0px 2px -40px;
	padding: 4px 0px 2px 60px;
	color: rgb(0, 0, 0);
}

#menu_left_tree.ztree li a.level1.curSelectedNode {
	width: 200px;
	height: 18px;
	line-height: 18px;
	background-color: rgb(178, 200, 213);
	border: none;
	color: rgb(0, 0, 0);
	margin: 2px 0px 2px -40px;
	padding: 4px 0px 2px 60px;
}

#menu_left_tree.ztree li a.curSelectedNode {
	width: 200px;
	height: 18px;
	line-height: 18px;
	background-color: rgb(178, 200, 213);
	border: none;
	color: rgb(0, 0, 0);
	margin: 2px 0px 2px -40px;
	padding: 4px 0px 2px 60px;
}

.tab-tools-div {
	width: 135px;
	height: 65px;
	background: rgb(206, 228, 242);
}

.tab-tools {
	width: 135px;
	margin: 10px 8px 15px 8px;
}

.tab-tools a {
	width: 27px;
    height:30px;
	margin: 0px -2px 0px -2px;
}

#tt .tabs-tool {
	border: none;
}

.tools_user {
	background: url(../../image/default/tools_user.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_user1 {
	background: url(../../image/default/tools_user1.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_store {
	background: url(../../image/default/tools_store.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_store1 {
	background: url(../../image/default/tools_store1.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_notice {
	background: url(../../image/default/tools_notice.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_notice1 {
	background: url(../../image/default/tools_notice1.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_notice_remind {
	background: url(../../image/default/tools_notice3.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_notice_remind1 {
	background: url(../../image/default/tools_notice2.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_msg {
	background: url(../../image/default/tools_msg.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_msg1 {
	background: url(../../image/default/tools_msg1.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_msg_remind {
	background: url(../../image/default/tools_msg3.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_msg_remind1 {
	background: url(../../image/default/tools_msg2.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_job {
	background: url(../../image/default/tools_job.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_job1 {
	background: url(../../image/default/tools_job1.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_job_remind {
	background: url(../../image/default/tools_job3.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_job_remind1 {
	background: url(../../image/default/tools_job2.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_mail {
	background: url(../../image/default/tools_mail.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_mail_other {
    background: url(../../image/default/tools_mail.png) no-repeat 2px 3px;
    padding: 1px 5px 5px 15px;
    text-decoration: none;
}

.tools_mail1 {
	background: url(../../image/default/tools_mail1.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_mail_remind {
	background: url(../../image/default/tools_mail3.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.tools_mail_remind1 {
	background: url(../../image/default/tools_mail2.png) no-repeat;
	padding: 1px 5px 5px 15px;
	text-decoration: none;
}

.main-bottom-remind {
	background: url(../../image/default/tools_bottom_remind.png) no-repeat;
	color: rgb(255, 255, 255);
	position: absolute;
	left: 50px;
	bottom: 18px;
	width: 15px;
	height: 15px;
	font-size: 12px;
	text-align: center;
}

.tab-user {
	width: 200px;
	height: 450px;
	position: absolute;
	overflow: auto;
	padding-left: 10px;
	background: rgb(217, 230, 238);
	-webkit-box-shadow: 0px 2px 2px rgb(90, 90, 90);
	-moz-box-shadow: 0px 2px 2px rgb(90, 90, 90);
	box-shadow: 0px 2px 2px rgb(90, 90, 90);
}

#group-user .ztree li {
	line-height: 18px;
}

#group-user .ztree li span.button.noline_open {
	background: url(../../image/default/user_tree_open.png) no-repeat;
	margin: 8px -8px 0px 0px;
}

#group-user .ztree li span.button.noline_close {
	background: url(../../image/default/user_tree_close.png) no-repeat;
	margin: 8px -8px 0px 0px;
}

#group-user .ztree li a.level0 span.button {
	display: none;
}

#group-user .ztree li a span {
	line-height: 18px;
	height: 20px;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	vertical-align: middle;
}

#group-user .ztree li a {
	text-decoration: none;
	line-height: 18px;
	height: 20px;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	vertical-align: middle;
}

#group-user .ztree li a.level1:HOVER {
	background: rgb(14, 139, 154);
	color: rgb(255, 255, 255);
	line-height: 18px;
	height: 20px;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	vertical-align: middle;
}

#group-user .ztree li a.curSelectedNode {
	background-color: rgb(14, 139, 154);
	border: none;
	color: rgb(255, 255, 255);
	line-height: 18px;
	height: 20px;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	vertical-align: middle;
}

#group-user .ztree li a.msgbutton {
	background: url(../../image/default/msg.png) no-repeat;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin: 0px 2px 0px 10px;
}

#group-user .ztree li a.emailbutton {
	background: url(../../image/default/email.png) no-repeat;
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin: 0px 5px 0px 0px;
}

.treewidget-arr {
	background: #fafafa;
	padding: 4px 10px 2px 10px;
	text-align: right;
	height: 30px;
}

.buttonDetailBG input[type="button"] {
	color: rgb(25, 110, 176);
	border: 1px rgb(99, 99, 99) solid;
	background: rgb(255, 255, 255);
	height: 24px;
	line-height: 20px;
	width: 105px;
	margin: 2px;
	box-sizing: border-box;
	padding: 1px 0px;
	text-align: center;
    cursor: pointer;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}

.buttonDetailBG input[type="button"]:HOVER {
	background: rgb(25, 110, 176);
	color: rgb(255, 255, 255);
	border: 1px rgb(25, 110, 176) solid;
}

.tabhead-div {
	height: 30px;
	background: #f5f5f5;
	line-height: 20px;
	top: 60px;
	left: 87px;
	position: absolute;
}

.tab-head-nav {
	margin: 5px 0px 5px 9px;
}

.button-div {
	margin: 5px 0px 5px 0px;
}

.Wdate {
	background: #fff url(../../image/default/wdate.png) no-repeat right;
}
.WdateRead{
    background: #EBEBE4 url(../../image/default/wdate.png) no-repeat right;
}

.checkbox1{
    float:left;
    height: 22px;
    line-height: 22px;
}

.divtext{
    height:22px;
    line-height:22px;
    float:left;
    display: block;
}

.button-qr {
	width: 100px;
	height: 20px;
	background: #008e9f repeat-x;
	line-height: 20px;
	text-decoration: none;
	margin: 0;
	text-align: center;
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	vertical-align: middle;
	box-sizing: border-box;
	letter-spacing: 10px;
	padding-left: 10px;
	box-sizing: border-box;
	border: 0;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}

.button-qr:HOVER {
	background: #007b91 repeat-x;
}

.button-qrcommon {
	width: 100px;
	height: 20px;
	background: #008e9f repeat-x;
	line-height: 20px;
	text-decoration: none;
	margin: 0;
	text-align: center;
	display: inline-block;
	color: #ffffff;
	font-size: 12px;
	vertical-align: middle;
	box-sizing: border-box;
	border: 0;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}

.button-qrcommon:HOVER {
	background: #007b91 repeat-x;
}

.pulldown-div {
	position: absolute;
	z-index: 99999;
	display: none;
	background-color: white;
	overflow: auto;
	border: 1px solid #959595;
}

.selectkey {
	color: #e70000;
}

.skin-menu {
	width: 50px;
	height: 45px;
	border: 0;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0px 1px 1px #959595;
	-moz-box-shadow: 0px 1px 1px #959595;
	box-shadow: 0px 1px 1px #959595;
}

.skin-menu .menu-line {
	display: none;
}

.skin-ok {
	background: url(../../image/default/button/skin-ok.png) no-repeat center;
}

#mm .menu-text {
	height: 20px;
	line-height: 20px;
	float: left;
	padding-left: 10px;
}

#mm .menu-sep {
	margin: 0px 0px 0px 0px;
	font-size: 1px;
}

.tabs-child {
	background: #ffffff;
	width: 12px;
}

.treewidget {
	display: inline-block;
	border: 1px solid rgb(160, 160, 160);
}
.treewidget-arr {
    background: #fff url(../../image/combo_arrow.png) no-repeat right;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 20px;
    cursor:pointer;
    display: inline-block;
    float: right;
}
.widgetTreeInput{
	box-sizing: border-box !important;
	border: 0 !important;
}

.widgetclear {
	background: url(../../image/clear.png) right no-repeat;
	width: 16px;
	height: 18px;
	line-height: 18px;
	text-decoration: none;
	display: none;
    float: right;
}

.querytable {
	min-width: 880px;
	padding: 5px;
}

.querytable .tdinput {
	padding-right: 10px;
	margin: 0;
	padding-bottom: 0px;
}

.sorttabs {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 25px;
	background-color: #bed2df;
}

.sorttabs li {
	background-color: #bed2df;
	float: left;
	list-style-type: none;
	height: 25px;
	width: 60px;
	text-align: center;
}

.sorttabs li a {
	line-height: 25px;
	height: 25px;
	text-decoration: none;
	text-align: center;
	color: #000000;
}

.sorttabs li.emptytag {
	background: none transparent scroll repeat 0% 0%;
	width: 4px;
}

.sorttabs li.selectTag {
	height: 25px;
	color: #ffffff;
	background-color: #008a2a;
}

.sorttabs li.selectTag a {
	line-height: 25px;
	height: 25px;
	text-align: center;
	color: #ffffff;
}

.sorttagsDiv .tagsDiv_item {
	display: none;
	background: none repeat-x;
	width: 100%;
	/*padding: 1px 0;*/
	/*border: 1 solid #FF0000;*/
}
.tabshow{
	background: url(../../image/default/hide.png) right no-repeat;
	width:20px;height:20px;cursor:pointer;
	position: absolute;top: 120px;right: 125px;}
.tabhide{
	background: url(../../image/default/show.png) right no-repeat;
	width:20px;height:20px;cursor:pointer;
	position: absolute;top: 120px;right: -8px;}
	

.msgEmailPage_LayoutNorth{
	height:60px;
}

#messageEmail-emailPage-btn-sendEmail,#messageEmail-emailPage-btn-receiveEmail {
	display:block;
	text-align:left;
}

#messageEmail-emailPage-btn-sendEmail:hover{
	background-color:#0098aa;
}
#messageEmail-emailPage-btn-receiveEmail:hover{
	background-color:#0098aa;
}

.msgEmailPage_mailMenuItem{
	border-bottom: 1px solid #ccc;
	height:28px;
	cursor:pointer;
	color:#000;
}
a.msgEmailPage_mailMenuItema{
	text-indent:5px;
	line-height:28px;
	display:block; 
	text-decoration: none; 
	color:#000;
}
a.msgEmailPage_mailMenuItema:hover{
	text-indent:5px;
	line-height:28px;
	color:#fff;
	background-color:#0098aa !important;			
}
.no_input+.textbox-readonly{background: #EBEBE4;}
.no_input+.textbox-readonly input{background: #EBEBE4;}
.nodisplay {
    display: none;
}
.process-title {
    color: #0450a0;
    text-decoration: none;
    cursor: pointer;
    font-family: Microsoft YaHei,Simsun,Verdana,Arial,sans-serif;
}
.process-title:hover {
    text-decoration: underline;
}