#menu_left_tree.ztree{padding: 0px;*margin-left: -16px;}
#menu_left_tree.ztree li a{height: 20px;font-size: 12px;}
#menu_left_tree.ztree li a.curSelectedNode{font-weight: bold; background-color: #374e60; border:0px solid #99BBE8; color:#FFFFFF; padding:3px; }
#menu_left_tree.ztree li a.level0 {height: 25px; text-align: left; display:block; padding:5px 0 5px 10px; border-bottom: 1px solid #cdcdcd; box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; -moz-box-shadow: 0 1px 0 #fff; 
background: #F8F8F8;
background: -moz-linear-gradient(top,  #F8F8F8 0%, #E8E8E8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F8F8F8), color-stop(100%,#E8E8E8));
background: -webkit-linear-gradient(top, #F8F8F8 0%,#E8E8E8 100%);
background: -o-linear-gradient(top, #F8F8F8 0%,#E8E8E8 100%);
background: -ms-linear-gradient(top, #F8F8F8 0%,#E8E8E8 100%);
background: linear-gradient(top, #F8F8F8 0%,#E8E8E8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F8F8F8', endColorstr='#E8E8E8',GradientType=0 );}
#menu_left_tree.ztree li a:hover.level0{border: 1px solid #68a341; box-shadow: 0 1px 2px 0 #a4ca6c inset; -webkit-box-shadow: 0 1px 2px 0 #a4ca6c inset; -moz-box-shadow: 0 1px 2px 0 #a4ca6c inset;
background: #96c161;
background: -moz-linear-gradient(top,  #96c161 0%, #609c3d 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96c161), color-stop(100%,#609c3d));
background: -webkit-linear-gradient(top, #96c161 0%,#609c3d 100%);
background: -o-linear-gradient(top, #96c161 0%,#609c3d 100%);
background: -ms-linear-gradient(top, #96c161 0%,#609c3d 100%);
background: linear-gradient(top, #96c161 0%,#609c3d 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96c161', endColorstr='#609c3d',GradientType=0 );
color:#FFFFFF; font-size:16px; text-decoration:none;
}
#menu_left_tree.ztree li a.level0.curSelectedNode{width:96%;height: 25px; text-align: left;background-color: #E0ECFF; border:1px solid #99BBE8;border-top: 0;}
#menu_left_tree.ztree li a.level0 span {color: #2e2e2e; font-weight: bold;font-size:12px; line-height:25px;}
#menu_left_tree.ztree li a:hover.level0 span {color:#FFFFFF; }
#menu_left_tree.ztree li a.level0 span.button {margin-left: 5px; margin-top:3px; margin-right:10px; height:20px; width:20px;}
#menu_left_tree.ztree li span.button.switch.level0 {display:none;}
#menu_left_tree.ztree li a.level1 {height: 25px;margin: 3px 0 2px 0;}

.cs-north-span{color:#ffffff; padding-bottom:3px;}
.cs-north-span .l-btn-left .l-btn-text{color:#ffffff;}
.cs-south-span{color:#ffffff;}
.main-layout .panel-header{background:url(../../js/themes/default/images/bg2.jpg) repeat;}
.main-layout .panel-title{color:#FFFFFF}
.main-layout .layout-panel-north{z-index: 3;background:url(../../js/themes/default/images/bg2.jpg) repeat;}
.main-layout .layout-panel-south {z-index: 3;background:#5c5c5c}
.main-layout .layout-expand .panel-header{border-bottom-width: 0px;background:url(../../js/themes/default/images/bg2.jpg) repeat;}
.main-layout .layout-expand .panel-body{background:#eef5ff;}
.main-layout .layout-expand-over {background-color: #E0ECFF;}
.left-tabs .tabs li a.tabs-inner {background:url(../../js/themes/default/images/panel-title.jpg) repeat; color:#000000; height:25px; margin-top:5px;}
.left-tabs .tabs li a:hover.tabs-inner {background:url(../../js/themes/default/images/panel-title.jpg) repeat; color:#000000; height:30px; margin:0;}
.left-tabs .tabs li.tabs-selected a.tabs-inner {
  background:url(../../js/themes/default/images/tabs-a-bg2.jpg) repeat; color:#ffffff;
height:30px; margin:0;
}


.tabs-panels .panel-noscroll .easyui-panel .layout-panel-north{ background:#ffffff;}
.main-panel{ border-right:solid 3px #5c5c5c; border-left:0px; border-top:0px;}
.main-layout .layout-split-west{ border-right:solid 1px #919193;border-left:solid 3px #5c5c5c;}
.window .panel-header{  color:#0E2D5F; background:none;}
.window .panel-header .panel-title{ color:#ffffff;}
.main-layout a:hover.l-btn-plain ,main-layout a:active.l-btn-plain{
  border:0px solid;
 
}
.awinpanel-header{background:url(../../js/themes/default/images/menu-tabs-bg.jpg) repeat !important;}
#protal-mywork .layout-panel-north{z-index: 3;background:#ffffff;}
#personnel-tabs-personnelbaseinfo .tabs-header{background:url(../../js/themes/default/images/tabs-select.jpg) repeat;}
.user-icon{background:url(../../js/themes/default/images/user.png)  left center  no-repeat; float:left; height:20px; padding-left:25px;  padding-right:5px; padding-top:5px;}
.bumen-icon{background:url(../../js/themes/default/images/bumen.png) left center no-repeat; float:left; height:20px; padding-left:25px;  padding-right:5px;padding-top:5px;}
.cs-north-span a.l-btn {
  color: #444;
  background-image: none;
  background-repeat: no-repeat;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  border-radius:0;
  border:0 solid;
}
.cs-north-span a.l-btn-plain span.l-btn-left{
 background: url(../../js/themes/default/images/t-button.png) no-repeat;
  border: 0;
  filter: none;
  padding-top:5px ;
    padding-left:10px ;
  height:20px;
  width:74px;
   -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

}
.cs-north-span a.easyui-linkbutton  span.l-btn-left{
 background: url(../../js/themes/default/images/exitbutton.png) no-repeat;
  border: 0;
  filter: none;
  padding-top:5px ;
    padding-left:10px ;
  height:20px;
  width:74px;
   -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;

}

.left-panel{ background: url(../../js/themes/default/images/body.jpg) repeat; border:0px;}

.portal-noborder {
    background:#e5e6e8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=45);
-moz-opacity: 0.5;
    border: 0 none;
}
.portal-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: 10px;
	-moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
}



.main-layout .layout-panel-west .panel-header{ border:0 solid #000000; background:url(../../js/themes/default/images/tabs-bg2.jpg) repeat; height:25px;
}
.main-layout .layout-panel-west .panel-header .panel-title{ background: url(../../js/themes/default/images/menu2.png) no-repeat; padding-left:35px; color:#2e2e2e; line-height:25px; height:25px;}
.main-layout .left-panel .tabs-header{ background: url(../../js/themes/default/images/menu-tabs-bg.jpg) repeat; }

.portal-p .link {
	float: left;
	position: relative;
	width: 100px;
	height: 30px;
	margin-left: 10px;
	text-align: left;
	border: 1px solid white;
	cursor: pointer;
	color:#000000; 
	padding-left:10px;
}
.portal-p .linkover {
	border: 1px solid #ffffff;
	background:#dceab4;
}



