#menu_left_tree.ztree{padding: 0px;*margin-left: -16px;}
#menu_left_tree.ztree li a{height: 20px;font-size: 12px;}
#menu_left_tree.ztree li a.curSelectedNode{font-weight: bold; background-color: #E0ECFF; border:1px solid #99BBE8; }
#menu_left_tree.ztree li a.level0 {width:98%;height: 25px; text-align: left; display:block; background:url(../../js/themes/default1/images/panel-title.jpg) repeat ; border:1px solid #99BBE8;border-top: 0;}
#menu_left_tree.ztree li a:hover.level0{background:#ccdbe6;}
#menu_left_tree.ztree li a.level0.curSelectedNode{width:96%;height: 25px; text-align: left;background-color: #E0ECFF; border:1px solid #99BBE8;border-top: 0;}
#menu_left_tree.ztree li a.level0 span {color: #15428B; font-weight: bold;font-size:12px; line-height:25px;}
#menu_left_tree.ztree li a.level0 span.button {margin-left: 10px; margin-top:5px;}
#menu_left_tree.ztree li span.button.switch.level0 {display:none;}
#menu_left_tree.ztree li a.level1 {height: 25px;margin: 3px 0 2px 0;}

.user-icon{float:left; height:20px; padding-left:25px;  padding-right:5px; padding-top:5px;}
.bumen-icon{ float:left; height:20px; padding-left:25px;  padding-right:5px;padding-top:5px;}
.cs-north-span{color:#ffffff;}
.cs-north-span .l-btn-left .l-btn-text{color:#ffffff;}
.cs-south-span{color:#ffffff;}
.main-layout .panel-header{background:url(../../js/themes/default1/images/bg2.jpg) repeat;}
.main-layout .panel-title{color:#FFFFFF}
.main-layout .layout-panel-north{z-index: 3;background:url(../../js/themes/default1/images/bg2.jpg) repeat;}
.main-layout .layout-panel-south {z-index: 3;background:url(../../js/themes/default1/images/bg-s.jpg) repeat;}
.main-layout .layout-expand .panel-header{border-bottom-width: 0px;background:url(../../js/themes/default1/images/bg-s.jpg) repeat;}
.main-layout .layout-expand .panel-body{background:#eef5ff;}
.main-layout .layout-expand-over {background-color: #E0ECFF;}
.left-tabs .tabs li a.tabs-inner {color: #0E2D5F;background:url(../../js/themes/default1/images/panel-title.jpg) repeat;}

.tabs-panels .panel-noscroll .easyui-panel .layout-panel-north{ background:#ffffff;}
.main-panel{ border-right:solid 3px #326F95;}
.main-layout .layout-split-west{ border-right:solid 5px #326F95;border-left:solid 3px #326F95;}
.window .panel-header{  color:#0E2D5F;}
.window .panel-header .panel-title{ color:#0E2D5F;}
.main-layout a:hover.l-btn-plain {
background:url(../../js/themes/default1/images/tabs-a.jpg) repeat;
border:1px solid #cccccc;
 
}
#protal-mywork .layout-panel-north{z-index: 3;background:#ffffff;}
#personnel-tabs-personnelbaseinfo .tabs-header{background:url(../../js/themes/default1/images/tabs-select.jpg) repeat;}