<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- dao配置 -->
	<bean id="filesLevelMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.FilesLevelMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="departMentMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.DepartMentMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
     <bean id="personnelMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.PersonnelMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="workCanlendarMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.WorkCanlendarMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="workJobMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.WorkJobMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="buyAreaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.BuyAreaMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="buySupplierSortMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.BuySupplierSortMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="buySupplierDetailSortMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.BuySupplierDetailSortMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="buySupplierMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.BuySupplierMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="salesAreaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.SalesAreaMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="customerSortMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.CustomerSortMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="customerMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.CustomerMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="customerAndSortMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.CustomerAndSortMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="contacterSortMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.ContacterSortMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="contacterMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.ContacterMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="contacterAndSortMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.ContacterAndSortMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="storageMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.StorageMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="goodsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.GoodsMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="cmrMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.CMRMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="financeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.FinanceMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
    <bean id="logisticsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.LogisticsMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="adjustPriceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.AdjustPriceMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
	<bean id="adjustMultiPriceMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.hd.agent.basefiles.dao.AdjustMultiPriceMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
    <bean id="adjustPriceDetailMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.AdjustPriceDetailMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="bomMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hd.agent.basefiles.dao.BomMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
	<bean id="subjectMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="com.hd.agent.basefiles.dao.SubjectMapper" />  
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    <bean id="distributionRuleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="mapperInterface" value="com.hd.agent.basefiles.dao.DistributionRuleMapper" />
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
	<bean id="customerUserMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.hd.agent.basefiles.dao.CustomerUserMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	<bean id="storageItemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.hd.agent.basefiles.dao.StorageItemMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	<bean id="jsTaxTypeCodeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.hd.agent.basefiles.dao.JsTaxTypeCodeMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	<bean id="jsTaxTypeCodeBarcodeMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.hd.agent.basefiles.dao.JsTaxTypeCodeBarcodeMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	<!-- service配置 -->
	<bean id="baseFilesService" parent="baseTransactionProxy">
    	<property name="target" ref="baseFilesServiceImpl"></property>   
    </bean>
	<bean id="baseFilesServiceImpl" class="com.hd.agent.basefiles.service.impl.BaseFilesServiceImpl" parent="baseServiceImpl">
		<property name="baseFilesGoodsMapper" ref="goodsMapper"></property>
		<property name="baseFilesStorageMapper" ref="storageMapper"></property>
        <property name="baseFilesDistributionRuleMapper" ref="distributionRuleMapper"></property>
		<property name="baseFilesCustomerMapper" ref="customerMapper"></property>
		<property name="baseFilesFinanceMapper" ref="financeMapper"></property>
		<property name="baseFilesDepartmentMapper" ref="departMentMapper"></property>
		<property name="baseFilesPersonnelMapper" ref="personnelMapper"></property>
		<property name="baseFilesContacterMapper" ref="contacterMapper"></property>
		<property name="baseFilesCrmMapper" ref="cmrMapper"></property>
		<property name="baseFilesBuySupplierMapper" ref="buySupplierMapper"></property>
		<property name="baseFilesSalesAreaMapper" ref="salesAreaMapper"></property>
		<property name="baseSubjectMapper" ref="subjectMapper"></property>
		<property name="baseStorageSummaryService" ref="storageSummaryServiceImpl"></property>
		<property name="salesReceiptMapper" ref="salesReceiptMapper"></property>
		<property name="customerCapitalMapper" ref="customerCapitalMapper"></property>
		<property name="dispatchBillMapper" ref="salesDispatchBillMapper"></property>
		<property name="baseJsTaxTypeCodeMapper" ref="jsTaxTypeCodeMapper"></property>
    </bean>
	
	<bean id="filesLevelService" parent="baseTransactionProxy">
    	<property name="target" ref="filesLevelServiceImpl"></property>   
    </bean>
    <bean id="filesLevelServiceImpl" class="com.hd.agent.basefiles.service.impl.FilesLevelServiceImpl" parent="baseServiceImpl">
    	<property name="filesLevelMapper" ref="filesLevelMapper"></property>
    	<property name="tableColumnMapper" ref="tableColumnMapper"></property>
    	<property name="tableRelationMapper" ref="tableRelationMapper"></property>
    </bean>
    <bean id="departMentService" parent="baseTransactionProxy">
    	<property name="target" ref="departMentServiceImpl"></property>   
    </bean>
    <bean id="departMentServiceImpl" class="com.hd.agent.basefiles.service.impl.DepartMentServiceImpl" parent="filesLevelServiceImpl">
    	<property name="departMentMapper" ref="departMentMapper"></property>
    </bean>
    <bean id="workCanlendarService" parent="baseTransactionProxy">
    	<property name="target" ref="workCanlendarImpl"></property>   
    </bean>
    <bean id="workCanlendarImpl" class="com.hd.agent.basefiles.service.impl.WorkCanlendarServiceImpl" parent="baseServiceImpl">
    	<property name="workCanlendarMapper" ref="workCanlendarMapper"></property>
    </bean>
	
	<bean id="personnelService" parent="baseTransactionProxy">
    	<property name="target" ref="personnelServiceImpl"></property>   
    </bean>
    <bean id="personnelServiceImpl" class="com.hd.agent.basefiles.service.impl.PersonnelServiceImpl" parent="filesLevelServiceImpl">
    	<property name="personnelMapper" ref="personnelMapper"></property>
    	<property name="departMentMapper" ref="departMentMapper"></property>
    	<property name="sysUserMapper" ref="sysUserMapper"></property>
    	<property name="goodsMapper" ref="goodsMapper"></property>
    	<property name="customerMapper" ref="customerMapper"></property>
    	<property name="contacterMapper" ref="contacterMapper"></property>
    	<property name="customerSortMapper" ref="customerSortMapper"></property>
    	<property name="salesAreaMapper" ref="salesAreaMapper"></property>
    </bean>
	<bean id="workJobService" parent="baseTransactionProxy">
    	<property name="target" ref="workJobServiceImpl"></property>   
    </bean>
    <bean id="workJobServiceImpl" class="com.hd.agent.basefiles.service.impl.WorkJobServiceImpl" parent="baseServiceImpl">
    	<property name="workJobMapper" ref="workJobMapper"></property>
    </bean>
	<bean id="buyService" parent="baseTransactionProxy">
    	<property name="target" ref="buyServiceImpl"></property>      
    </bean>
    <bean id="buyServiceImpl" class="com.hd.agent.basefiles.service.impl.BuyServiceImpl" parent="filesLevelServiceImpl">
    	<property name="buyAreaMapper" ref="buyAreaMapper"></property>
    	<property name="buySupplierSortMapper" ref="buySupplierSortMapper"></property>
    	<property name="buySupplierDetailSortMapper" ref="buySupplierDetailSortMapper"></property>
    	<property name="buySupplierMapper" ref="buySupplierMapper"></property>
    	<property name="personnelMapper" ref="personnelMapper"></property>
    	<property name="contacterMapper" ref="contacterMapper"></property>
    </bean>
	<bean id="salesService" parent="baseTransactionProxy">
    	<property name="target" ref="salesServiceImpl"></property>   
    </bean>
    <bean id="salesServiceImpl" class="com.hd.agent.basefiles.service.impl.SalesServiceImpl" parent="filesLevelServiceImpl">
    	<property name="salesAreaMapper" ref="salesAreaMapper"></property>
    	<property name="customerSortMapper" ref="customerSortMapper"></property>
    	<property name="customerMapper" ref="customerMapper"></property>
    	<property name="customerAndSortMapper" ref="customerAndSortMapper"></property>
    	<property name="contacterMapper" ref="contacterMapper"></property>
    	<property name="goodsMapper" ref="goodsMapper"></property>
    	<property name="departMentMapper" ref="departMentMapper"></property>
        <property name="customerCapitalMapper" ref="customerCapitalMapper"></property>
        <property name="distributionRuleMapper" ref="distributionRuleMapper"></property>
        <property name="buySupplierMapper" ref="buySupplierMapper"></property>
    </bean>
	<bean id="salesExtService" parent="baseTransactionProxy">
    	<property name="target" ref="salesExtServiceImpl"></property>   
    </bean>
    <bean id="salesExtServiceImpl" class="com.hd.agent.basefiles.service.impl.SalesExtServiceImpl" parent="baseServiceImpl">
    	<property name="customerMapper" ref="customerMapper"></property>
    </bean>
    <bean id="contacterService" parent="baseTransactionProxy">
    	<property name="target" ref="contacterServiceImpl"></property>  
    </bean>
    <bean id="contacterServiceImpl" class="com.hd.agent.basefiles.service.impl.ContacterServiceImpl" parent="baseServiceImpl">
    	<property name="contacterSortMapper" ref="contacterSortMapper"></property>
    	<property name="contacterMapper" ref="contacterMapper"></property>
    	<property name="contacterAndSortMapper" ref="contacterAndSortMapper"></property>
    	<property name="customerMapper" ref="customerMapper"></property>
    </bean>
    <bean id="storageService" parent="baseTransactionProxy">
    	<property name="target" ref="storageServiceImpl"></property>   
    </bean>
    <bean id="storageServiceImpl" class="com.hd.agent.basefiles.service.impl.StorageServiceImpl" parent="filesLevelServiceImpl">
    	<property name="storageMapper" ref="storageMapper"></property>
    </bean>
    <bean id="goodsService" parent="baseTransactionProxy">
    	<property name="target" ref="goodsServiceImpl"></property>   
    </bean>
    <bean id="goodsServiceImpl" class="com.hd.agent.basefiles.service.impl.GoodsServiceImpl" parent="filesLevelServiceImpl">
    	<property name="goodsMapper" ref="goodsMapper"></property>
    	<property name="storageMapper" ref="storageMapper"></property>
    	<property name="personnelMapper" ref="personnelMapper"></property>
    	<property name="financeMapper" ref="financeMapper"></property>
    	<property name="buySupplierMapper" ref="buySupplierMapper"></property>
        <property name="attachFileMapper" ref="attachFileMapper"></property>
		<property name="salesService" ref="salesService"></property>
		<property name="jsTaxTypeCodeMapper" ref="jsTaxTypeCodeMapper"></property>
    </bean>
    
    <bean id="cmrService" parent="baseTransactionProxy">
    	<property name="target" ref="cmrServiceImpl"></property>   
    </bean>
    <bean id="cmrServiceImpl" class="com.hd.agent.basefiles.service.impl.CMRServiceImpl" parent="filesLevelServiceImpl">
    	<property name="cmrMapper" ref="cmrMapper"></property>
    </bean>
    
    <bean id="financeService" parent="baseTransactionProxy">
    	<property name="target" ref="financeServiceImpl"></property>   
    </bean>
    <bean id="financeServiceImpl" class="com.hd.agent.basefiles.service.impl.FinanceServiceImpl" parent="filesLevelServiceImpl">
    	<property name="financeMapper" ref="financeMapper"></property>
    	<property name="collectionOrderMapper" ref="collectionOrderMapper"></property>
    </bean>
    
    <bean id="logisticsService" parent="baseTransactionProxy">
    	<property name="target" ref="logisticsServiceImpl"></property>   
    </bean>
    <bean id="logisticsServiceImpl" class="com.hd.agent.basefiles.service.impl.LogisticsServiceImpl" parent="baseServiceImpl">
    	<property name="logisticsMapper" ref="logisticsMapper"></property>
    	<property name="personnelMapper" ref="personnelMapper"></property>
    	<property name="salesAreaMapper" ref="salesAreaMapper"></property>
    </bean>
	<bean id="adjustMultiPriceService" parent="baseTransactionProxy">
		<property name="target" ref="adjustMultiPriceImpl"></property>
	</bean>
	<bean id="adjustMultiPriceImpl" class="com.hd.agent.basefiles.service.impl.AdjustMultiPriceServiceImpl" parent="filesLevelServiceImpl">
		<property name="goodsMapper" ref="goodsMapper"></property>
		<property name="adjustMultiPriceMapper" ref="adjustMultiPriceMapper"></property>
		<property name="baseFilesServiceImpl" ref="baseFilesServiceImpl"></property>
	</bean>

    <bean id="adjustPriceService" parent="baseTransactionProxy">
    	<property name="target" ref="adjustPriceImpl"></property>   
    </bean>
    <bean id="adjustPriceImpl" class="com.hd.agent.basefiles.service.impl.AdjustPriceServiceImpl" parent="filesLevelServiceImpl">
    	<property name="goodsMapper" ref="goodsMapper"></property>
    	<property name="baseFilesAdjustPriceMapper" ref="adjustPriceMapper"></property>
		<property name="baseFilesAdjustPriceDetailMapper" ref="adjustPriceDetailMapper"></property>
		<property name="baseFilesServiceImpl" ref="baseFilesServiceImpl"></property>
    </bean>
    <bean id="bomService" parent="baseTransactionProxy">
        <property name="target" ref="bomServiceImpl"></property>
    </bean>
    <bean id="bomServiceImpl" class="com.hd.agent.basefiles.service.impl.BomServiceImpl" parent="baseServiceImpl">
        <property name="bomMapper" ref="bomMapper"></property>
    </bean>
    
    <bean id="subjectService" parent="baseTransactionProxy">
    	<property name="target" ref="subjectServiceImpl"></property>   
    </bean>
    <bean id="subjectServiceImpl" class="com.hd.agent.basefiles.service.impl.SubjectServiceImpl" parent="filesLevelServiceImpl">
    	<property name="subjectMapper" ref="subjectMapper"></property>
    </bean>
	<bean id="customerUserService" parent="baseTransactionProxy">
		<property name="target" ref="customerUserServiceImpl"></property>
	</bean>
	<bean id="customerUserServiceImpl" class="com.hd.agent.basefiles.service.impl.CustomerUserServiceImpl" parent="filesLevelServiceImpl">
		<property name="customerUserMapper" ref="customerUserMapper"></property>
	</bean>
	<bean id="storageItemService" parent="baseTransactionProxy">
		<property name="target" ref="storageItemServiceImpl"></property>
	</bean>
	<bean id="storageItemServiceImpl" class="com.hd.agent.basefiles.service.impl.StorageItemServiceImpl" parent="baseFilesServiceImpl">
		<property name="storageItemMapper" ref="storageItemMapper"></property>
	</bean>
	<bean id="htGoldTaxSystemService" parent="baseTransactionProxy">
		<property name="target" ref="htGoldTaxSystemServiceImpl"></property>
	</bean>
	<bean id="htGoldTaxSystemServiceImpl" class="com.hd.agent.basefiles.service.impl.HtGoldTaxSystemServiceImpl" parent="baseServiceImpl">
		<property name="jsTaxTypeCodeMapper" ref="jsTaxTypeCodeMapper"></property>
		<property name="jsTaxTypeCodeBarcodeMapper" ref="jsTaxTypeCodeBarcodeMapper"></property>
		<property name="goodsMapper" ref="goodsMapper"></property>
	</bean>

	<!-- action配置 -->
	<!-- 基础档案action 提供接口方法给业务模块使用 -->
	<bean id="baseFilesAction" class="com.hd.agent.basefiles.action.BaseFilesAction" scope="prototype" parent="baseAction">
		<property name="baseFilesService" ref="baseFilesService"></property>
		<property name="baseFinanceService" ref="financeService"></property>
		<property name="baseCMRService" ref="cmrService"></property>
		<property name="baseGoodsService" ref="goodsService"></property>
        <property name="excelService" ref="excelService"></property>
		<property name="baseStorageSummaryService" ref="storageSummaryService"></property>
    </bean>
    
	<bean id="filesLevleAction" class="com.hd.agent.basefiles.action.FilesLevelAction" scope="prototype" parent="baseAction">
		<property name="filesLevelService" ref="filesLevelService"></property>
    </bean>
    <bean id="departMentAction" class="com.hd.agent.basefiles.action.DepartMentAction" scope="prototype" parent="filesLevleAction">
		<property name="departMentService" ref="departMentService"></property>
		<property name="sysParamService" ref="sysParamService"></property>
    </bean>
    
    <bean id="personnelAction" class="com.hd.agent.basefiles.action.PersonnelAction" scope="prototype" parent="filesLevleAction">
		<property name="personnelService" ref="personnelService"></property>
		<property name="departMentService" ref="departMentService"></property>
		<property name="goodsService" ref="goodsService"></property>
		<property name="salesService" ref="salesService"></property>
		<property name="sysParamService" ref="sysParamService"></property>
		<property name="taskScheduleService" ref="taskScheduleService"></property>
    </bean>
    <bean id="workCalendarAction" class="com.hd.agent.basefiles.action.WorkCalendarAction" scope="prototype" parent="baseAction">
    	<property name="workCanlendarService" ref="workCanlendarService"></property>
    </bean>
    <bean id="workJobAction" class="com.hd.agent.basefiles.action.WorkJobAction" scope="prototype" parent="baseAction">
    	<property name="workJobService" ref="workJobService"></property>
    </bean>
    <bean id="buyAction" class="com.hd.agent.basefiles.action.BuyAction" scope="prototype" parent="baseAction">
    	<property name="buyService" ref="buyService"></property>
    	<property name="contacterService" ref="contacterService"></property>
    	<property name="taskScheduleService" ref="taskScheduleService"></property>
        <property name="attachFileService" ref="attachFileService"></property>
    	<property name="excelService" ref="excelService"></property>    	
    </bean>
    <bean id="salesAction" class="com.hd.agent.basefiles.action.SalesAction" scope="prototype" parent="baseAction">
    	<property name="salesService" ref="salesService"></property>
    	<property name="contacterService" ref="contacterService"></property>
        <property name="attachFileService" ref="attachFileService"></property>
    	<property name="excelService" ref="excelService"></property>
    	<property name="taskScheduleService" ref="taskScheduleService"></property>
    	<property name="personnelService" ref="personnelService"></property>
    	<property name="departMentService" ref="departMentService"></property>
    </bean>
    <bean id="contacterAction" class="com.hd.agent.basefiles.action.ContacterAction" scope="prototype" parent="baseAction">
    	<property name="contacterService" ref="contacterService"></property>
    </bean>
    <bean id="storageAction" class="com.hd.agent.basefiles.action.StorageAction" scope="prototype" parent="baseAction">
		<property name="storageService" ref="storageService"></property>
    </bean>
    <bean id="goodsAction" class="com.hd.agent.basefiles.action.GoodsAction" scope="prototype" parent="filesLevleAction">
		<property name="goodsService" ref="goodsService"></property>
        <property name="attachFileService" ref="attachFileService"></property>
		<property name="storageService" ref="storageService"></property>
		<property name="sysCodeService" ref="sysCodeService"></property>
		<property name="financeService" ref="financeService"></property>
		<property name="personnelService" ref="personnelService"></property>
		<property name="buyService" ref="buyService"></property>
		<property name="taskScheduleService" ref="taskScheduleService"></property>
		<property name="excelService" ref="excelService"></property>
    </bean>
    <bean id="cmrAction" class="com.hd.agent.basefiles.action.CMRAction" scope="prototype" parent="filesLevleAction">
		<property name="cmrService" ref="cmrService"></property>
    </bean>
    <bean id="financeAction" class="com.hd.agent.basefiles.action.FinanceAction" scope="prototype" parent="filesLevleAction">
		<property name="financeService" ref="financeService"></property>
    </bean>
    <bean id="logisticsAction" class="com.hd.agent.basefiles.action.LogisticsAction" scope="prototype" parent="baseAction">
    	<property name="logisticsService" ref="logisticsService"></property>
    	<property name="personnelService" ref="personnelService"></property>
    </bean>
	<bean id="adjustMultiPriceAction" class="com.hd.agent.basefiles.action.AdjustMultiPriceAction" scope="prototype" parent="filesLevleAction">
		<property name="goodsService" ref="goodsService"></property>
		<property name="adjustMultiPriceService" ref="adjustMultiPriceService"></property>
	</bean>
    <bean id="adjustPriceAction" class="com.hd.agent.basefiles.action.AdjustPriceAction" scope="prototype" parent="filesLevleAction">
		<property name="goodsService" ref="goodsService"></property>
		<property name="adjustPriceService" ref="adjustPriceService"></property>
    </bean>
    <bean id="bomAction" class="com.hd.agent.basefiles.action.BomAction" scope="prototype" parent="baseFilesAction">
        <property name="bomService" ref="bomService"></property>
    </bean>
    <bean id="subjectAction" class="com.hd.agent.basefiles.action.SubjectAction" scope="prototype" parent="baseFilesAction">
		<property name="subjectService" ref="subjectService"></property>
    </bean>

	<bean id="customerUserAction" class="com.hd.agent.basefiles.action.CustomerUserAction" scope="prototype" parent="filesLevleAction">
		<property name="customerUserService" ref="customerUserService"></property>
	</bean>
	<bean id="goodsInterfaceAction" class="com.hd.agent.basefiles.action.GoodsInterfaceAction" scope="prototype" parent="baseAction">
		<property name="goodsService" ref="goodsService"></property>
		<property name="sysUserService" ref="sysUserService"></property>
	</bean>
	<bean id="storageItemAction" class="com.hd.agent.basefiles.action.StorageItemAction" scope="prototype" parent="baseFilesAction">
		<property name="storageItemService" ref="storageItemService"></property>
		<property name="storageService" ref="storageService"></property>
	</bean>
	<bean id="htGoldTaxSystemAction" class="com.hd.agent.basefiles.action.HtGoldTaxSystemAction" scope="prototype" parent="baseAction">
		<property name="htGoldTaxSystemService" ref="htGoldTaxSystemService"></property>
	</bean>
</beans>