<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--<mappers>-->
		<!--&lt;!&ndash; common模块下的mybatis配置文件 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/common/dao/mysql/common_SqlMap.xml" />-->
		<!--<mapper resource="com/hd/agent/common/dao/mysql/SysLogMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/common/dao/mysql/PageSettingMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/common/dao/mysql/QueryMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/common/dao/mysql/AttachFileMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/common/dao/mysql/ExcelMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/common/dao/mysql/ShortcutMapper.xml" />-->
		<!--&lt;!&ndash;accesscontrol权限管理  &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/accesscontrol/dao/mysql/AccessControlMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/accesscontrol/dao/mysql/SysUserMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/accesscontrol/dao/mysql/DataruleMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/accesscontrol/dao/mysql/UserAuthorityMapper.xml" />-->
		<!--&lt;!&ndash; system系统设置 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/TableInfoMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/TableColumnMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/TableRelationMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/SysCodeMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/SysParamMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/SysNumberMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/SysNumberRuleMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/ReferWindowMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/DataExceptionMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/NetLockMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/TaskScheduleMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/AccountingMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/system/dao/mysql/UpdateDBMapper.xml" />-->
		<!--&lt;!&ndash; activiti &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/DefinitionTypeMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/DefinitionMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/DefinitionTaskMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/DefinitionSignMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/FormTypeMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/FormMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/ProcessMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/CommentMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/DelegateMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/DelegateLogMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/WorkLogMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/AttachMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/activiti/dao/mysql/AuthRuleMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/activiti/dao/mysql/EventHandlerMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/activiti/dao/mysql/FormItemMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/activiti/dao/mysql/FormItemRuleMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/activiti/dao/mysql/DataTraceMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/activiti/dao/mysql/KeywordRuleMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/activiti/dao/mysql/AuthMappingMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/activiti/dao/mysql/SourceMapper.xml" />-->
		<!--&lt;!&ndash; hr &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/hr/dao/mysql/SigninMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/hr/dao/mysql/StatisticMapper.xml" />-->
		<!--&lt;!&ndash; basefiles基础档案 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/FilesLevelMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/DepartMentMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/PersonnelMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/WorkCanlendarMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/WorkJobMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/BuyAreaMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/BuySupplierSortMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/BuySupplierDetailSortMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/BuySupplierMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/SalesAreaMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/CustomerSortMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/CustomerMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/CustomerAndSortMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/ContacterSortMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/ContacterMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/ContacterAndSortMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/StorageMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/GoodsMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/FinanceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/CMRMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/LogisticsMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/AdjustPriceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/basefiles/dao/mysql/AdjustPriceDetailMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/basefiles/dao/mysql/BomMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/basefiles/dao/mysql/SubjectMapper.xml" />-->

        <!--&lt;!&ndash; message消息配置  &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/InnerMessageMapper.xml"/>	-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/NoticeMapper.xml"/>		-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/EmailMapper.xml"/>	-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/MobileSmsMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/FileDistribMapper.xml" />-->
		<!--&lt;!&ndash; sales销售 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/OffpriceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/OrderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/OrderDetailMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/OrderCarMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/DispatchBillMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/ReceiptMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/RejectBillMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/DemandMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/PromotionPackageMapper.xml"/>-->
		<!--<mapper resource="com/hd/agent/sales/dao/mysql/OweOrderMapper.xml"/>-->
        <!--<mapper resource="com/hd/agent/sales/dao/mysql/ImportSetMapper.xml"/>-->
		<!--&lt;!&ndash; phone &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/phone/dao/mysql/LocationMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/phone/dao/mysql/PhoneMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/phone/dao/mysql/RouteDistanceMapper.xml" />-->
		<!--&lt;!&ndash; message消息配置  &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/InnerMessageMapper.xml"/>	-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/NoticeMapper.xml"/>		-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/EmailMapper.xml"/>	-->
		<!--<mapper resource="com/hd/agent/message/dao/mysql/MobileSmsMapper.xml" />-->
		<!--&lt;!&ndash; 采购管理 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/purchase/dao/mysql/PlannedOrderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/purchase/dao/mysql/BuyOrderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/purchase/dao/mysql/ArrivalOrderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/purchase/dao/mysql/ReturnOrderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/purchase/dao/mysql/LimitPriceOrderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/purchase/dao/mysql/PurchaseQueryMapper.xml" />-->
		<!--&lt;!&ndash; 库存管理 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/StockInitMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/StorageSummaryMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/CheckListMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/AdjustmentsMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/SaleoutMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/PurchaseEnterMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/SaleRejectEnterMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/PurchaseRejectOutMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/AllocateEnterMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/AllocateNoticeMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/AllocateOutMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/StorageOtherEnterMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/StorageOtherOutMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/DeliveryMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/BigSaleOutMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/StorageDeliveryEnterMapper.xml"/> -->
		<!--<mapper resource="com/hd/agent/storage/dao/mysql/StorageDeliveryOutMapper.xml"/>-->
        <!--<mapper resource="com/hd/agent/storage/dao/mysql/SplitMergeMapper.xml"/>-->
        <!--&lt;!&ndash; 资金报表 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/journalsheet/dao/mysql/JournalSheetMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/journalsheet/dao/mysql/DeptCostsSubjectMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/journalsheet/dao/mysql/CostsFeeMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/journalsheet/dao/mysql/CustomerCostPayableMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/journalsheet/dao/mysql/DeptDailyCostMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/journalsheet/dao/mysql/BugetAnalyzerMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/journalsheet/dao/mysql/DeptIncomeMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/journalsheet/dao/mysql/SalesAreaReportMapper.xml" />-->
		<!--&lt;!&ndash; 应收应付管理(账务管理) &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/SalesInvoiceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/SalesInvoiceBillMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/CollectionOrderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/SalesBillCheckMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/CustomerCapitalMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/PurchaseInvoiceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/PayorderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/PurchaseStatementMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/SalesStatementMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/SupplierCapitalMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/CustomerPushBalanceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/PurchaseInvoicePushMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/SalesFreeOrderMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/BeginAmountMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/BankAmountMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/ReceiptHandMapper.xml" />-->
		<!--&lt;!&ndash; 报表 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/SalesCustomerReportMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/SalesGoodsReportMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/FinanceFundsReturnMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/FinancePaymentsMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/StorageReportMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/StorageCheckListReportMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/PaymentdaysSetMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/PurchaseReportMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/ExceptionReportMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/LogisticsReportMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/PerformanceReportMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/PerformanceKPISubjectMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/ReportTargetMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/report/dao/mysql/deliveryReportMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/report/dao/mysql/BuySaleReportMapper.xml" />-->
		<!-- -->
		<!--&lt;!&ndash; OA &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaCustomerMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaCustomerBrandMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaGoodsMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaGoodsDetailMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaAccessAuditinfoMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaAccessBrandDiscountMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaAccessGoodsAmountMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaAccessGoodsPriceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaAccessInvoiceBrandMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaAccessInvoiceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaAccessMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaAccessResultMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaCustomerPayMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaCustomerPayDetailMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaPersonalLoanMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaInnerShareMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaDailPayMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaDailPayDetailMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaSupplierPayMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaExpensePushMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaExpensePushDetailMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/oa/dao/mysql/OaGoodsPriceMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/oa/dao/mysql/OaOffPriceMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaCustomerFeeMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/oa/dao/mysql/OaBrandFeeMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/oa/dao/mysql/OaDelegateMapper.xml" />-->
		<!--&lt;!&ndash; 打印相关 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/agprint/dao/mysql/PrintTempletMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/agprint/dao/mysql/PrintOrderSeqMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/agprint/dao/mysql/PrintTempletSubjectMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/agprint/dao/mysql/PrintTempletResourceMapper.xml" />-->
		<!--&lt;!&ndash; 交款单 &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/account/dao/mysql/PaymentVoucherMapper.xml" />-->
		<!--&lt;!&ndash; crm &ndash;&gt;-->
		<!--<mapper resource="com/hd/agent/crm/dao/mysql/CrmVisitPlanMapper.xml" />-->
		<!--<mapper resource="com/hd/agent/crm/dao/mysql/CrmVisitRecordMapper.xml" />-->
        <!--&lt;!&ndash; 电商 &ndash;&gt;-->
        <!--<mapper resource="com/hd/agent/ebshop/dao/mysql/EbGoodsMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/ebshop/dao/mysql/EbTradeMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/ebshop/dao/mysql/EbSellerMapper.xml" />-->
        <!--&lt;!&ndash; 配送 &ndash;&gt;-->
        <!--<mapper resource="com/hd/agent/delivery/dao/mysql/DeliveryAogorderMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/delivery/dao/mysql/DeliveryAogreturnMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/delivery/dao/mysql/DeliveryOrderMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/delivery/dao/mysql/DeliveryRejectbillMapper.xml" />-->
        <!--&lt;!&ndash; ERP接通 &ndash;&gt;-->
        <!--<mapper resource="com/hd/agent/erpconnect/dao/mysql/ERPParamMapper.xml" />-->
        <!--<mapper resource="com/hd/agent/erpconnect/dao/mysql/AccountCodeMapper.xml" />-->

		<!--<mapper resource="com/hd/agent/manufacturerdata/dao/mysql/DataParamMapper.xml" />-->
	<!--</mappers>-->
</configuration>