<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.agent.oa.dao.OaAccessResultMapper" >
  <resultMap id="BaseResultMap" type="com.hd.agent.oa.model.OaAccessResult" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="billid" property="billid" jdbcType="VARCHAR" />
    <result column="brandid" property="brandid" jdbcType="VARCHAR" />
    <result column="expensesort" property="expensesort" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="salesamount" property="salesamount" jdbcType="DECIMAL" />
    <result column="begindate" property="begindate" jdbcType="VARCHAR" />
    <result column="enddate" property="enddate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, billid, brandid, expensesort, amount, salesamount, begindate, enddate
  </sql>

</mapper>