<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.agent.oa.dao.OaAccessInvoiceBrandMapper" >
  <resultMap id="BaseResultMap" type="com.hd.agent.oa.model.OaAccessInvoiceBrand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="billid" property="billid" jdbcType="VARCHAR" />
    <result column="oaid" property="oaid" jdbcType="VARCHAR" />
    <result column="customerid" property="customerid" jdbcType="VARCHAR" />
    <result column="brandid" property="brandid" jdbcType="VARCHAR" />
    <result column="payamount" property="payamount" jdbcType="DECIMAL" />
    <result column="relateid" property="relateid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, billid, oaid, customerid, brandid, payamount, relateid
  </sql>
</mapper>