<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.agent.activiti.dao.DefinitionSignMapper" >
  <resultMap id="BaseResultMap" type="com.hd.agent.activiti.model.DefinitionSign" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="definitionkey" property="definitionkey" jdbcType="VARCHAR" />
    <result column="taskkey" property="taskkey" jdbcType="VARCHAR" />
    <result column="taskname" property="taskname" jdbcType="VARCHAR" />
    <result column="counttype" property="counttype" jdbcType="VARCHAR" />
    <result column="decisiontype" property="decisiontype" jdbcType="VARCHAR" />
    <result column="votetype" property="votetype" jdbcType="VARCHAR" />
    <result column="votenum" property="votenum" jdbcType="INTEGER" />
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="adduserid" property="adduserid" jdbcType="VARCHAR" />
    <result column="addusername" property="addusername" jdbcType="VARCHAR" />
    <result column="adddeptid" property="adddeptid" jdbcType="VARCHAR" />
    <result column="adddeptname" property="adddeptname" jdbcType="VARCHAR" />
    <result column="adddate" property="adddate" jdbcType="TIMESTAMP" />
    <result column="modifyuserid" property="modifyuserid" jdbcType="VARCHAR" />
    <result column="modifyusername" property="modifyusername" jdbcType="VARCHAR" />
    <result column="modifytime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="definitionid" property="definitionid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, definitionkey, taskkey, taskname, counttype, decisiontype, votetype, votenum, 
    user, name, adduserid, addusername, adddeptid, adddeptname, adddate, modifyuserid, 
    modifyusername, modifytime, definitionid
  </sql>
  <select id="getDefinitionSign" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_act_definition_sign
    where id = #{id}
  </select>
  <select id="getDefinitionSignCountByDefinitionid" resultType="java.lang.Integer" parameterType="java.lang.String">
  	select count(1) from t_act_definition_sign where definitionid = #{0} and taskkey = #{1}
  </select>	
  <select id="getDefinitionSignByDefinitionid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_act_definition_sign
    where definitionid = #{0} and taskkey = #{1}
  </select>
  <delete id="deleteDefinitionSign" parameterType="java.lang.String" >
    delete from t_act_definition_sign
    where id = #{id}
  </delete>
  <insert id="addDefinitionSign" parameterType="com.hd.agent.activiti.model.DefinitionSign" >
    insert into t_act_definition_sign
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="definitionkey != null" >
        definitionkey,
      </if>
      <if test="taskkey != null" >
        taskkey,
      </if>
      <if test="taskname != null" >
        taskname,
      </if>
      <if test="counttype != null" >
        counttype,
      </if>
      <if test="decisiontype != null" >
        decisiontype,
      </if>
      <if test="votetype != null" >
        votetype,
      </if>
      <if test="votenum != null" >
        votenum,
      </if>
      <if test="user != null" >
        user,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="adduserid != null" >
        adduserid,
      </if>
      <if test="addusername != null" >
        addusername,
      </if>
      <if test="adddeptid != null" >
        adddeptid,
      </if>
      <if test="adddeptname != null" >
        adddeptname,
      </if>
        adddate,
      <if test="modifyuserid != null" >
        modifyuserid,
      </if>
      <if test="modifyusername != null" >
        modifyusername,
      </if>
      <if test="modifytime != null" >
        modifytime,
      </if>
      <if test="definitionid != null" >
        definitionid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="definitionkey != null" >
        #{definitionkey},
      </if>
      <if test="taskkey != null" >
        #{taskkey},
      </if>
      <if test="taskname != null" >
        #{taskname},
      </if>
      <if test="counttype != null" >
        #{counttype},
      </if>
      <if test="decisiontype != null" >
        #{decisiontype},
      </if>
      <if test="votetype != null" >
        #{votetype},
      </if>
      <if test="votenum != null" >
        #{votenum},
      </if>
      <if test="user != null" >
        #{user},
      </if>
      <if test="name != null" >
        #{name},
      </if>
      <if test="adduserid != null" >
        #{adduserid},
      </if>
      <if test="addusername != null" >
        #{addusername},
      </if>
      <if test="adddeptid != null" >
        #{adddeptid},
      </if>
      <if test="adddeptname != null" >
        #{adddeptname},
      </if>
        now(),
      <if test="modifyuserid != null" >
        #{modifyuserid},
      </if>
      <if test="modifyusername != null" >
        #{modifyusername},
      </if>
      <if test="modifytime != null" >
        #{modifytime},
      </if>
      <if test="definitionid != null" >
        #{definitionid},
      </if>
    </trim>
  </insert>
  <update id="updateDefinitionSignByKey" parameterType="com.hd.agent.activiti.model.DefinitionSign" >
    update t_act_definition_sign
    <set >
      <if test="taskname != null" >
        taskname = #{taskname},
      </if>
      <if test="counttype != null" >
        counttype = #{counttype},
      </if>
      <if test="decisiontype != null" >
        decisiontype = #{decisiontype},
      </if>
      <if test="votetype != null" >
        votetype = #{votetype},
      </if>
      <if test="votenum != null" >
        votenum = #{votenum},
      </if>
      <if test="user != null" >
        user = #{user},
      </if>
      <if test="name != null" >
        name = #{name},
      </if>
      <if test="modifyuserid != null" >
        modifyuserid = #{modifyuserid},
      </if>
      <if test="modifyusername != null" >
        modifyusername = #{modifyusername},
      </if>
        modifytime = now(),
    </set>
    where definitionkey = #{definitionkey} and taskkey = #{taskkey} and definitionid = #{definitionid }
  </update>
  <insert id="doCloneOldVerson2NewVersion" parameterType="java.util.Map">
    delete from t_act_definition_sign where definitionid = #{newdefinitionid };

    insert into t_act_definition_sign (definitionkey, taskkey, taskname, counttype, decisiontype, votetype, votenum, user, name, definitionid)
    (select definitionkey, taskkey, taskname, counttype, decisiontype, votetype, votenum, user, name, #{newdefinitionid } from t_act_definition_sign where definitionid = #{olddefinitionid});

    update t_act_definition_sign
    set
    adduserid = #{adduserid },
    addusername = #{addusername },
    adddeptid = #{adddeptid },
    adddeptname = #{adddeptname },
    adddate = now()
    where definitionid = #{newdefinitionid }
  </insert>
</mapper>