<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.agent.storage.dao.StorageDeliveryEnterMapper">
	<sql id="StorageDeliveryEnterQuery">
		<trim prefix="where" prefixOverrides="and|or">
			<include refid="common.Page_dataSql" />
			<if test="condition.id != null">
				and id like CONCAT('%',#{condition.id},'%')
			</if>
			<if test="condition.sourceid != null">
				and sourceid like CONCAT('%',#{condition.sourceid},'%')
			</if>
			<if test="condition.businessdatestart != null">
	         	<![CDATA[ and businessdate>= #{condition.businessdatestart} ]]>
			</if>
			<if test="condition.businessdateend != null">
	         	<![CDATA[ and businessdate <= #{condition.businessdateend} ]]>
			</if>
			<if test="condition.status != null">
				and status = #{condition.status}
			</if>
			<if test="condition.remark != null">
				and remark = #{condition.remark}
			</if>
			<if test="condition.customerbill != null">
				and customerbill = #{condition.customerbill}
			</if>
			<if test="condition.adduserid != null">
				and adduserid = #{condition.adduserid}
			</if>
			<if test="condition.addusername != null">
				and addusername = #{condition.addusername}
			</if>
			<if test="condition.adddeptid != null">
				and adddeptid = #{condition.adddeptid}
			</if>
			<if test="condition.adddeptname != null">
				and adddeptname = #{condition.adddeptname}
			</if>
			<if test="condition.addtime != null">
				and addtime = #{condition.addtime}
			</if>
			<if test="condition.modifyuserid != null">
				and modifyuserid = #{condition.modifyuserid}
			</if>
			<if test="condition.modifyusername != null">
				and modifyusername = #{condition.modifyusername}
			</if>
			<if test="condition.modifytime != null">
				and modifytime = #{condition.modifytime}
			</if>
			<if test="condition.audituserid != null">
				and audituserid = #{condition.audituserid}
			</if>
			<if test="condition.auditusername != null">
				and auditusername = #{condition.auditusername}
			</if>
			<if test="condition.audittime != null">
				and audittime = #{condition.audittime}
			</if>
			<if test="condition.stopuserid != null">
				and stopuserid = #{condition.stopuserid}
			</if>
			<if test="condition.stopusername != null">
				and stopusername = #{condition.stopusername}
			</if>
			<if test="condition.stoptime != null">
				and stoptime = #{condition.stoptime}
			</if>
			<if test="condition.closetime != null">
				and closetime = #{condition.closetime}
			</if>
			<if test="condition.printtimes != null">
				and printtimes = #{condition.printtimes}
			</if>
			<if test="condition.billtype != null">
				and billtype = #{condition.billtype}
			</if>
			<if test="condition.sourcetype != null">
				and sourcetype = #{condition.sourcetype}
			</if>
			<if test="condition.supplierid != null">
				and supplierid = #{condition.supplierid}
			</if>
			<if test="condition.customerid != null">
				and customerid = #{condition.customerid}
			</if>
			<if test="condition.pcustomerid != null">
				and pcustomerid = #{condition.pcustomerid}
			</if>
			<if test="condition.customersort != null">
				and customersort = #{condition.customersort}
			</if>
			<if test="condition.deptid != null">
				and deptid = #{condition.deptid}
			</if>
			<if test="condition.storageid != null">
				and storageid = #{condition.storageid}
			</if>
			<if test="condition.totalvolume != null">
				and totalvolume = #{condition.totalvolume}
			</if>
			<if test="condition.totalweight != null">
				and totalweight = #{condition.totalweight}
			</if>
			<if test="condition.totalbox != null">
				and totalbox = #{condition.totalbox}
			</if>
			<if test="condition.totalamount != null">
				and totalamount = #{condition.totalamount}
			</if>
			<if test="condition.ischeck != null">
				and ischeck = #{condition.ischeck}
			</if>
			<if test="condition.checkuserid != null">
				and checkuserid = #{condition.checkuserid}
			</if>
			<if test="condition.checkname != null">
				and checkname = #{condition.checkname}
			</if>
			<if test="condition.checktime != null">
				and checktime = #{condition.checktime}
			</if>
			<if test="condition.printstatus != null">
				<if test="condition.printstatus == 0 ">
					and printtimes = 0
				</if>
				<if test="condition.printstatus == 1 ">
					and printtimes > 0
				</if>
			</if>
		</trim>
	</sql>
	<sql id="Base_Column_List">
		id, businessdate, status, remark, customerbill,adduserid, addusername,
		adddeptid,
		adddeptname,
		addtime, modifyuserid, modifyusername,
		modifytime, audituserid, auditusername,
		audittime,
		stopuserid,
		stopusername, stoptime, closetime, printtimes, billtype, sourcetype,
		sourceid, supplierid, customerid, pcustomerid, customersort, deptid,
		storageid, totalvolume,
		totalweight, totalbox, totalamount, ischeck,
		checkuserid, checkname, checktime
	</sql>
	<select id="getStorageDeliveryEnterList" parameterType="com.hd.agent.common.util.PageMap"
		resultType="com.hd.agent.storage.model.StorageDeliveryEnter">
		select
		<choose>
			<when test="cols!=null">
				<include refid="common.Page_Column" />
			</when>
			<when test="cols==null">
				<include refid="Base_Column_List" />
			</when>
		</choose>
		from t_storage_delivery_enter
		<include refid="StorageDeliveryEnterQuery" />
		<include refid="common.Page_limit" />
	</select>

	<select id="getStorageDeliveryEnterCount" resultType="int"
		parameterType="com.hd.agent.common.util.PageMap">
		select count(1)
		from t_storage_delivery_enter
		<include refid="StorageDeliveryEnterQuery" />
	</select>

	<select id="getGoodsInfo" parameterType="java.lang.String"
		resultMap="goods">
		select
		grossweight,netweight,totalweight,totalvolume,singlevolume,kgweight
		from t_base_goods_info t where t.id=#{goodsId}
	</select>
	<resultMap type="java.util.Map" id="goods">
		<id column="grossweight" property="grossweight" />
		<result column="netweight" property="netweight" />
		<result column="totalweight" property="totalweight" />
		<result column="totalvolume" property="totalvolume" />
		<result column="singlevolume" property="singlevolume" />
		<result column="kgweight" property="kgweight" />
	</resultMap>

	<insert id="insertStorageDeliveryEnter" useGeneratedKeys="true"
		keyProperty="id" parameterType="com.hd.agent.storage.model.StorageDeliveryEnter">
		insert into t_storage_delivery_enter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="businessdate != null">
				businessdate,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="customerbill != null">
				customerbill,
			</if>
			<if test="adduserid != null">
				adduserid,
			</if>
			<if test="addusername != null">
				addusername,
			</if>
			<if test="adddeptid != null">
				adddeptid,
			</if>
			<if test="adddeptname != null">
				adddeptname,
			</if>
			<if test="addtime != null">
				addtime,
			</if>
			<if test="modifyuserid != null">
				modifyuserid,
			</if>
			<if test="modifyusername != null">
				modifyusername,
			</if>
			<if test="modifytime != null">
				modifytime,
			</if>
			<if test="audituserid != null">
				audituserid,
			</if>
			<if test="auditusername != null">
				auditusername,
			</if>
			<if test="audittime != null">
				audittime,
			</if>
			<if test="stopuserid != null">
				stopuserid,
			</if>
			<if test="stopusername != null">
				stopusername,
			</if>
			<if test="stoptime != null">
				stoptime,
			</if>
			<if test="closetime != null">
				closetime,
			</if>
			<if test="printtimes != null">
				printtimes,
			</if>
			<if test="billtype != null">
				billtype,
			</if>
			<if test="sourcetype != null">
				sourcetype,
			</if>
			<if test="sourceid != null">
				sourceid,
			</if>
			<if test="supplierid != null">
				supplierid,
			</if>
			<if test="customerid != null">
				customerid,
			</if>
			<if test="pcustomerid != null">
				pcustomerid,
			</if>
			<if test="customersort != null">
				customersort,
			</if>
			<if test="deptid != null">
				deptid,
			</if>
			<if test="storageid != null">
				storageid,
			</if>
			<if test="totalvolume != null">
				totalvolume,
			</if>
			<if test="totalweight != null">
				totalweight,
			</if>
			<if test="totalbox != null">
				totalbox,
			</if>
			<if test="totalamount != null">
				totalamount,
			</if>
			<if test="ischeck != null">
				ischeck,
			</if>
			<if test="checkuserid != null">
				checkuserid,
			</if>
			<if test="checkname != null">
				checkname,
			</if>
			<if test="checktime != null">
				checktime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="businessdate != null">
				#{businessdate},
			</if>
			<if test="status != null">
				#{status},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="customerbill != null">
				#{customerbill},
			</if>
			<if test="adduserid != null">
				#{adduserid},
			</if>
			<if test="addusername != null">
				#{addusername},
			</if>
			<if test="adddeptid != null">
				#{adddeptid},
			</if>
			<if test="adddeptname != null">
				#{adddeptname},
			</if>
			<if test="addtime != null">
				#{addtime},
			</if>
			<if test="modifyuserid != null">
				#{modifyuserid},
			</if>
			<if test="modifyusername != null">
				#{modifyusername},
			</if>
			<if test="modifytime != null">
				#{modifytime},
			</if>
			<if test="audituserid != null">
				#{audituserid},
			</if>
			<if test="auditusername != null">
				#{auditusername},
			</if>
			<if test="audittime != null">
				#{audittime},
			</if>
			<if test="stopuserid != null">
				#{stopuserid},
			</if>
			<if test="stopusername != null">
				#{stopusername},
			</if>
			<if test="stoptime != null">
				#{stoptime},
			</if>
			<if test="closetime != null">
				#{closetime},
			</if>
			<if test="printtimes != null">
				#{printtimes},
			</if>
			<if test="billtype != null">
				#{billtype},
			</if>
			<if test="sourcetype != null">
				#{sourcetype},
			</if>
			<if test="sourceid != null">
				#{sourceid},
			</if>
			<if test="supplierid != null">
				#{supplierid},
			</if>
			<if test="customerid != null">
				#{customerid},
			</if>
			<if test="pcustomerid != null">
				#{pcustomerid},
			</if>
			<if test="customersort != null">
				#{customersort},
			</if>
			<if test="deptid != null">
				#{deptid},
			</if>
			<if test="storageid != null">
				#{storageid},
			</if>
			<if test="totalvolume != null">
				#{totalvolume},
			</if>
			<if test="totalweight != null">
				#{totalweight},
			</if>
			<if test="totalbox != null">
				#{totalbox},
			</if>
			<if test="totalamount != null">
				#{totalamount},
			</if>
			<if test="ischeck != null">
				#{ischeck},
			</if>
			<if test="checkuserid != null">
				#{checkuserid},
			</if>
			<if test="checkname != null">
				#{checkname},
			</if>
			<if test="checktime != null">
				#{checktime},
			</if>
		</trim>

	</insert>

	<insert id="insertStorageDeliveryEnterDetail" parameterType="com.hd.agent.storage.model.StorageDeliveryEnterDetail">
		insert into t_storage_delivery_enter_detail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="billid != null">
				billid,
			</if>
			<if test="summarybatchid != null">
				summarybatchid,
			</if>
			<if test="sourcebillid != null">
				sourcebillid,
			</if>
			<if test="sourcebilldetailid != null">
				sourcebilldetailid,
			</if>
			<if test="goodsid != null">
				goodsid,
			</if>
			<if test="goodssort != null">
				goodssort,
			</if>
			<if test="brandid != null">
				brandid,
			</if>
			<if test="unitid != null">
				unitid,
			</if>
			<if test="unitname != null">
				unitname,
			</if>
			<if test="unitnum != null">
				unitnum,
			</if>
			<if test="auxunitid != null">
				auxunitid,
			</if>
			<if test="auxunitname != null">
				auxunitname,
			</if>
			<if test="auxnum != null">
				auxnum,
			</if>
			<if test="auxnumdetail != null">
				auxnumdetail,
			</if>
			<if test="overnum != null">
				overnum,
			</if>
			<if test="totalbox != null">
				totalbox,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="taxamount != null">
				taxamount,
			</if>
            <if test="addcostprice != null">
                addcostprice,
            </if>
			<if test="seq != null">
				seq,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="buyprice != null">
				buyprice,
			</if>
			
			<if test="produceddate != null">
				produceddate,
			</if>
			<if test="deadline != null">
				deadline,
			</if>
			<if test="batchno != null">
				batchno,
			</if>
			<if test="storagelocationid != null">
				storagelocationid,
			</if>
			
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="billid != null">
				#{billid},
			</if>
			<if test="summarybatchid != null">
				#{summarybatchid},
			</if>
			<if test="sourcebillid != null">
				#{sourcebillid},
			</if>
			<if test="sourcebilldetailid != null">
				#{sourcebilldetailid},
			</if>
			<if test="goodsid != null">
				#{goodsid},
			</if>
			<if test="goodssort != null">
				#{goodssort},
			</if>
			<if test="brandid != null">
				#{brandid},
			</if>
			<if test="unitid != null">
				#{unitid},
			</if>
			<if test="unitname != null">
				#{unitname},
			</if>
			<if test="unitnum != null">
				#{unitnum},
			</if>
			<if test="auxunitid != null">
				#{auxunitid},
			</if>
			<if test="auxunitname != null">
				#{auxunitname},
			</if>
			<if test="auxnum != null">
				#{auxnum},
			</if>
			<if test="auxnumdetail != null">
				#{auxnumdetail},
			</if>
			<if test="overnum != null">
				#{overnum},
			</if>
			<if test="totalbox != null">
				#{totalbox},
			</if>
			<if test="price != null">
				#{price},
			</if>
			<if test="taxamount != null">
				#{taxamount},
			</if>
            <if test="addcostprice != null">
                #{addcostprice},
            </if>
			<if test="seq != null">
				#{seq},
			</if>
			<if test="remark != null">
				#{remark},
			</if>
			<if test="buyprice != null">
				#{buyprice},
			</if>
			
			<if test="produceddate != null">
				#{produceddate},
			</if>
			<if test="deadline != null">
				#{deadline},
			</if>
			<if test="batchno != null">
				#{batchno},
			</if>
			<if test="storagelocationid != null">
				#{storagelocationid},
			</if>
		</trim>

	</insert>
	
	
	<select id="getDeliveryEnterByID" resultType="com.hd.agent.storage.model.StorageDeliveryEnter" parameterType="java.lang.String">
			select * from   t_storage_delivery_enter   where id=#{id}
	</select>


	<select id="getDeliveryEnterDetailByID" parameterType="java.lang.String" resultType="com.hd.agent.storage.model.StorageDeliveryEnterDetail">
				select * from   t_storage_delivery_enter_detail   where billid=#{id}
	</select>

	<update id="updateDeliveryEnter" parameterType="com.hd.agent.storage.model.StorageDeliveryEnter">
		 update t_storage_delivery_enter 
	<set >
      <if test=" businessdate != null" >
        businessdate = #{ businessdate},
      </if>
      <if test=" status != null" >
        status = #{ status},
      </if>
      <if test=" remark != null" >
        remark = #{ remark},
      </if>
		<if test=" customerbill != null" >
			customerbill = #{ customerbill},
		</if>
      <if test=" adduserid != null" >
        adduserid = #{ adduserid},
      </if>
      <if test=" addusername != null" >
        addusername = #{ addusername},
      </if>
      <if test=" adddeptid != null" >
        adddeptid = #{ adddeptid},
      </if>
      <if test=" adddeptname != null" >
        adddeptname = #{ adddeptname},
      </if>
      <if test=" addtime != null" >
        addtime = #{ addtime},
      </if>
      <if test=" modifyuserid != null" >
        modifyuserid = #{ modifyuserid},
      </if>
      <if test=" modifyusername != null" >
        modifyusername = #{ modifyusername},
      </if>
      <if test=" modifytime != null" >
        modifytime = #{ modifytime},
      </if>
      <if test=" audituserid != null" >
        audituserid = #{ audituserid},
      </if>
      <if test=" auditusername != null" >
        auditusername = #{ auditusername},
      </if>
      <if test=" audittime != null" >
        audittime = #{ audittime},
      </if>
      <if test=" stopuserid != null" >
        stopuserid = #{ stopuserid},
      </if>
      <if test=" stopusername != null" >
        stopusername = #{ stopusername},
      </if>
      <if test=" stoptime != null" >
        stoptime = #{ stoptime},
      </if>
      <if test=" closetime != null" >
        closetime = #{ closetime},
      </if>
      <if test=" printtimes != null" >
        printtimes = #{ printtimes},
      </if>
      <if test=" billtype != null" >
        billtype = #{ billtype},
      </if>
      <if test=" sourcetype != null" >
        sourcetype = #{ sourcetype},
      </if>
      <if test=" sourceid != null" >
        sourceid = #{ sourceid},
      </if>
      <if test=" supplierid != null" >
        supplierid = #{ supplierid},
      </if>
      <if test=" customerid != null" >
        customerid = #{ customerid},
      </if>
      <if test=" pcustomerid != null" >
        pcustomerid = #{ pcustomerid},
      </if>
      <if test=" customersort != null" >
        customersort = #{ customersort},
      </if>
      <if test=" deptid != null" >
        deptid = #{ deptid},
      </if>
      <if test=" storageid != null" >
        storageid = #{ storageid},
      </if>
      <if test=" totalvolume != null" >
        totalvolume = #{ totalvolume},
      </if>
      <if test=" totalweight != null" >
        totalweight = #{ totalweight},
      </if>
      <if test=" totalbox != null" >
        totalbox = #{ totalbox},
      </if>
      <if test=" totalamount != null" >
        totalamount = #{ totalamount},
      </if>
      <if test=" ischeck != null" >
        ischeck = #{ ischeck},
      </if>
      <if test=" checkuserid != null" >
        checkuserid = #{ checkuserid},
      </if>
      <if test=" checkname != null" >
        checkname = #{ checkname},
      </if>
      <if test=" checktime != null" >
        checktime = #{ checktime},
      </if>
    </set>
	 where id= #{id}
	</update>
	
	<delete id="deleteDetailsById" parameterType="java.lang.String">
		delete from t_storage_delivery_enter_detail where billid= #{id}
	</delete>

	<delete id="deleteEnterById" parameterType="java.lang.String">
		delete from t_storage_delivery_enter where id= #{id}
	</delete>
	                                                            
	<select id="getStorageDeliveryEnterBySourceId" resultType="com.hd.agent.storage.model.StorageDeliveryEnter"  parameterType="java.lang.String">
		select * from t_storage_delivery_enter where sourceid=#{sourceid}
		
	</select>
	
	<select id="getEntersForJob" parameterType="java.lang.String" resultType="com.hd.agent.storage.model.StorageDeliveryEnterForJob">
        select
		t.id,
		t.storageid,
        t.id as pid,
		t.businessdate , 
		t.remark as premark ,
		t.customerbill ,
		t.adduserid,
		t.addusername,
		t.adddeptid,
		t.adddeptname,
		t.addtime,
		t.modifyuserid,
		t.modifyusername,
		t.modifytime,
		t.audituserid,
		t.auditusername,
		t.audittime,
		t.stopuserid,
		t.stopusername,
		t.stoptime,
		t.closetime,
		t.billtype,
		t.sourcetype,
		t.sourceid,
		t.supplierid,
		t.checktime
		from t_storage_delivery_enter  t
		where  t.ischeck = '1' and  t.billtype = '2' and jobexecutetimes=0
		group by t.id
	</select>
	
	
	<select id="getEntersDetailForJob" parameterType="java.lang.String" resultType="com.hd.agent.storage.model.StorageDeliveryEnterForJob">
	 select  
		t1.id,
		t1.goodsid,
		t1.brandid,
		t1.unitid, 
		t1.unitname, 
		sum(t1.unitnum) as unitnum,
		t1.auxunitid, 
		t1.auxunitname, 
		sum(t1.totalbox) as  totalbox,
		t1.addcostprice
		from t_storage_delivery_enter  t , t_storage_delivery_enter_detail t1
		
		where  	t.id =t1.billid and  t.ischeck = "1" and  t.billtype = "2"  and t.supplierid=#{supplierid} and t.storageid=#{storageid}
		
		group by  t1.goodsid,t1.addcostprice
	
	</select>
	
	<select id="getEnterDetailForJobWithOutGroup" parameterType="java.lang.String" resultType="com.hd.agent.storage.model.StorageDeliveryEnterForJob">
	 select id,goodsid,brandid,unitid,unitname,unitnum,auxunitid,auxunitname,totalbox,addcostprice,remark from t_storage_delivery_enter_detail where billid = #{id}
	</select>
	
	
	
	
	<select id="showDeliveryEnterByIds" parameterType="java.util.Map" resultType="com.hd.agent.storage.model.StorageDeliveryEnter">
		select 
	    <include refid="Base_Column_List" />
	    from t_storage_delivery_enter
  		<trim prefix="where" prefixOverrides="and|or">
		  	<if test="dataSql != null">
		  		and ${dataSql}
		  	</if>
  			<if test="idarrs!=null">
  				and find_in_set(id,#{idarrs})
  			</if>
  		</trim>
	
	</select>
	
	
	<update id="updateOrderPrinttimes">
		update t_storage_delivery_enter set printtimes =printtimes +1 where id=#{id}
	</update>
	
	<update id="updateJobtimes">
		update t_storage_delivery_enter set jobexecutetimes =jobexecutetimes +1 where id=#{id}
	</update>
	
	
	<update id="updateDeliverEnterDetailAddcostprice">
        update t_storage_delivery_enter_detail t
        set t.addcostprice = #{addcostprice}
        where t.id=#{id} and t.goodsid=#{goodsid}
    </update>
</mapper>