<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.agent.crm.dao.CrmSalesOrderMapper" >
  <resultMap id="BaseResultMap" type="com.hd.agent.crm.model.CrmSalesOrderDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="orderid" property="orderid" jdbcType="VARCHAR" />
    <result column="goodsid" property="goodsid" jdbcType="VARCHAR" />
    <result column="goodssort" property="goodssort" jdbcType="VARCHAR" />
    <result column="brandid" property="brandid" jdbcType="VARCHAR" />
    <result column="branduser" property="branduser" jdbcType="VARCHAR" />
    <result column="branddept" property="branddept" jdbcType="VARCHAR" />
    <result column="supplierid" property="supplierid" jdbcType="VARCHAR" />
    <result column="supplieruser" property="supplieruser" jdbcType="VARCHAR" />
    <result column="unitid" property="unitid" jdbcType="VARCHAR" />
    <result column="unitname" property="unitname" jdbcType="VARCHAR" />
    <result column="fixnum" property="fixnum" jdbcType="DECIMAL" />
    <result column="unitnum" property="unitnum" jdbcType="DECIMAL" />
    <result column="auxunitid" property="auxunitid" jdbcType="VARCHAR" />
    <result column="auxunitname" property="auxunitname" jdbcType="VARCHAR" />
    <result column="auxnum" property="auxnum" jdbcType="DECIMAL" />
    <result column="overnum" property="overnum" jdbcType="DECIMAL" />
    <result column="auxnumdetail" property="auxnumdetail" jdbcType="VARCHAR" />
    <result column="totalbox" property="totalbox" jdbcType="DECIMAL" />
    <result column="fixprice" property="fixprice" jdbcType="DECIMAL" />
    <result column="oldprice" property="oldprice" jdbcType="DECIMAL" />
    <result column="taxprice" property="taxprice" jdbcType="DECIMAL" />
    <result column="taxamount" property="taxamount" jdbcType="DECIMAL" />
    <result column="notaxprice" property="notaxprice" jdbcType="DECIMAL" />
    <result column="notaxamount" property="notaxamount" jdbcType="DECIMAL" />
    <result column="costprice" property="costprice" jdbcType="DECIMAL" />
    <result column="taxtype" property="taxtype" jdbcType="VARCHAR" />
    <result column="tax" property="tax" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="seq" property="seq" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.orderid != null" >
         and orderid = #{condition.orderid}
      </if>
      <if test="condition.goodsid != null" >
         and goodsid = #{condition.goodsid}
      </if>
      <if test="condition.goodssort != null" >
         and goodssort = #{condition.goodssort}
      </if>
      <if test="condition.brandid != null" >
         and brandid = #{condition.brandid}
      </if>
      <if test="condition.branduser != null" >
         and branduser = #{condition.branduser}
      </if>
      <if test="condition.branddept != null" >
         and branddept = #{condition.branddept}
      </if>
      <if test="condition.supplierid != null" >
         and supplierid = #{condition.supplierid}
      </if>
      <if test="condition.supplieruser != null" >
         and supplieruser = #{condition.supplieruser}
      </if>
      <if test="condition.unitid != null" >
         and unitid = #{condition.unitid}
      </if>
      <if test="condition.unitname != null" >
         and unitname = #{condition.unitname}
      </if>
      <if test="condition.fixnum != null" >
         and fixnum = #{condition.fixnum}
      </if>
      <if test="condition.unitnum != null" >
         and unitnum = #{condition.unitnum}
      </if>
      <if test="condition.auxunitid != null" >
         and auxunitid = #{condition.auxunitid}
      </if>
      <if test="condition.auxunitname != null" >
         and auxunitname = #{condition.auxunitname}
      </if>
      <if test="condition.auxnum != null" >
         and auxnum = #{condition.auxnum}
      </if>
      <if test="condition.overnum != null" >
         and overnum = #{condition.overnum}
      </if>
      <if test="condition.auxnumdetail != null" >
         and auxnumdetail = #{condition.auxnumdetail}
      </if>
      <if test="condition.totalbox != null" >
         and totalbox = #{condition.totalbox}
      </if>
      <if test="condition.fixprice != null" >
         and fixprice = #{condition.fixprice}
      </if>
      <if test="condition.oldprice != null" >
         and oldprice = #{condition.oldprice}
      </if>
      <if test="condition.taxprice != null" >
         and taxprice = #{condition.taxprice}
      </if>
      <if test="condition.taxamount != null" >
         and taxamount = #{condition.taxamount}
      </if>
      <if test="condition.notaxprice != null" >
         and notaxprice = #{condition.notaxprice}
      </if>
      <if test="condition.notaxamount != null" >
         and notaxamount = #{condition.notaxamount}
      </if>
      <if test="condition.costprice != null" >
         and costprice = #{condition.costprice}
      </if>
      <if test="condition.taxtype != null" >
         and taxtype = #{condition.taxtype}
      </if>
      <if test="condition.tax != null" >
         and tax = #{condition.tax}
      </if>
      <if test="condition.remark != null" >
         and remark = #{condition.remark}
      </if>
      <if test="condition.seq != null" >
         and seq = #{condition.seq}
      </if>
    </trim>
  </sql>
  <sql id="Base_Column_List" >
    id, orderid, goodsid, goodssort, brandid, branduser, branddept, supplierid, supplieruser, 
    unitid, unitname, fixnum, unitnum, auxunitid, auxunitname, auxnum, overnum, auxnumdetail, 
    totalbox, fixprice, oldprice, taxprice, taxamount, notaxprice, notaxamount, costprice, 
    taxtype, tax, remark, seq
  </sql>
  <select id="getCrmOrderDetailByOrderid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select <include refid="Base_Column_List" /> from t_crm_sales_order_detail where orderid = #{orderid}
  </select>
  <select id="getCrmOrderDetailTotal" parameterType="java.lang.String" resultType="map">
    select sum(taxamount) taxamount, sum(notaxamount) notaxamount, sum(tax) tax from t_crm_sales_order_detail where orderid = #{id}
  </select>
  <insert id="addCrmSalesOrderDetail" parameterType="com.hd.agent.crm.model.CrmSalesOrderDetail" >
    insert into t_crm_sales_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="goodsid != null" >
        goodsid,
      </if>
      <if test="goodssort != null" >
        goodssort,
      </if>
      <if test="brandid != null" >
        brandid,
      </if>
      <if test="branduser != null" >
        branduser,
      </if>
      <if test="branddept != null" >
        branddept,
      </if>
      <if test="supplierid != null" >
        supplierid,
      </if>
      <if test="supplieruser != null" >
        supplieruser,
      </if>
      <if test="unitid != null" >
        unitid,
      </if>
      <if test="unitname != null" >
        unitname,
      </if>
      <if test="fixnum != null" >
        fixnum,
      </if>
      <if test="unitnum != null" >
        unitnum,
      </if>
      <if test="auxunitid != null" >
        auxunitid,
      </if>
      <if test="auxunitname != null" >
        auxunitname,
      </if>
      <if test="auxnum != null" >
        auxnum,
      </if>
      <if test="overnum != null" >
        overnum,
      </if>
      <if test="auxnumdetail != null" >
        auxnumdetail,
      </if>
      <if test="totalbox != null" >
        totalbox,
      </if>
      <if test="fixprice != null" >
        fixprice,
      </if>
      <if test="oldprice != null" >
        oldprice,
      </if>
      <if test="taxprice != null" >
        taxprice,
      </if>
      <if test="taxamount != null" >
        taxamount,
      </if>
      <if test="notaxprice != null" >
        notaxprice,
      </if>
      <if test="notaxamount != null" >
        notaxamount,
      </if>
      <if test="costprice != null" >
        costprice,
      </if>
      <if test="taxtype != null" >
        taxtype,
      </if>
      <if test="tax != null" >
        tax,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="seq != null" >
        seq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orderid != null" >
        #{orderid},
      </if>
      <if test="goodsid != null" >
        #{goodsid},
      </if>
      <if test="goodssort != null" >
        #{goodssort},
      </if>
      <if test="brandid != null" >
        #{brandid},
      </if>
      <if test="branduser != null" >
        #{branduser},
      </if>
      <if test="branddept != null" >
        #{branddept},
      </if>
      <if test="supplierid != null" >
        #{supplierid},
      </if>
      <if test="supplieruser != null" >
        #{supplieruser},
      </if>
      <if test="unitid != null" >
        #{unitid},
      </if>
      <if test="unitname != null" >
        #{unitname},
      </if>
      <if test="fixnum != null" >
        #{fixnum},
      </if>
      <if test="unitnum != null" >
        #{unitnum},
      </if>
      <if test="auxunitid != null" >
        #{auxunitid},
      </if>
      <if test="auxunitname != null" >
        #{auxunitname},
      </if>
      <if test="auxnum != null" >
        #{auxnum},
      </if>
      <if test="overnum != null" >
        #{overnum},
      </if>
      <if test="auxnumdetail != null" >
        #{auxnumdetail},
      </if>
      <if test="totalbox != null" >
        #{totalbox},
      </if>
      <if test="fixprice != null" >
        #{fixprice},
      </if>
      <if test="oldprice != null" >
        #{oldprice},
      </if>
      <if test="taxprice != null" >
        #{taxprice},
      </if>
      <if test="taxamount != null" >
        #{taxamount},
      </if>
      <if test="notaxprice != null" >
        #{notaxprice},
      </if>
      <if test="notaxamount != null" >
        #{notaxamount},
      </if>
      <if test="costprice != null" >
        #{costprice},
      </if>
      <if test="taxtype != null" >
        #{taxtype},
      </if>
      <if test="tax != null" >
        #{tax},
      </if>
      <if test="remark != null" >
        #{remark},
      </if>
      <if test="seq != null" >
        #{seq},
      </if>
    </trim>
  </insert>
  <delete id="deleteByorderid" parameterType="java.lang.Integer" >
    delete from t_crm_sales_order_detail where orderid = #{id}
  </delete>
  <delete id="deleteDetailByid" parameterType="java.lang.Integer" >
    delete from t_crm_sales_order_detail where id = #{id}
  </delete>
  <select id="getCrmSalesGoodsNumByDate" resultType="java.util.Map"  parameterType="com.hd.agent.common.util.PageMap" >
    SELECT sum(t1.unitnum) as salesnum,SUM(t1.taxamount) as salesamount from t_crm_sales_order t
    LEFT JOIN  t_crm_sales_order_detail t1 on t.id = t1.orderid
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.businessdate != null">
        <![CDATA[ and t.businessdate >= #{condition.businessdate} ]]>
      </if>
      <if test="condition.businessdate1 != null">
        <![CDATA[ and t.businessdate <= #{condition.businessdate1} ]]>
      </if>
      <if test="condition.customerid != null">
        and t.customerid = #{condition.customerid}
      </if>
      <if test="condition.goodsid != null">
        and t1.goodsid = #{condition.goodsid}
      </if>
      <if test="condition.supplierid != null">
        and t1.supplierid = #{condition.supplierid}
      </if>
    </trim>
  </select>

</mapper>