@CHARSET "UTF-8";
*{font-family: '宋体';}
.right{text-align:right;}
.left{text-align:left;}
.center{text-align:center;}
.len10{width:10px;}
.len15{width:15px;}
.len20{width:20px;}
.len25{width:25px;}
.len30{width:30px;}
.len35{width:35px;}
.len40{width:40px;}
.len45{width:45px;}
.len50{width:50px;}
.len60{width:60px;}
.len70{width:70px;}
.len75{width:75px;}
.len80{width:80px;}
.len90{width:90px;}
.len100{width:100px;}
.len110{width:110px;}
.len120{width:120px;}
.len130{width:130px;}
.len136{width:135px;}
.len140{width:140px;}
.len150{width:150px;}
.len160{width:160px;}
.len165{width:165px;}
.len170{width:170px;}
.len180{width:180px;}
.len190{width:190px;}
.len200{width:200px;}
.len210{width:210px;}
.len220{width:220px;}
.len230{width:230px;}
.len240{width:240px;}
.len250{width:250px;}
.len400{width:400px;}
.title{font-size: 25px; line-height: 55px; font-weight: bold; text-align:center;}
.limit-width {width: 800px;}
.limit-width2{width: 850px;}
.limit-width3{width: 935px;}
table {table-layout:fixed;}
table th,td {height: 30px;padding: 1px;word-break:break-all;}
/*table th{font-weight: bolder;}*/
.align-center{margin: 10px auto;}
.process-info{table-layout: fixed;font-size: 12px; border: none;}
.process-info th,td {height: 20px;padding: 2px; border: none;}
.underline {
    text-decoration: underline;
}
.italic {
    font-style: italic;
}
.advice {
    color: #FF0000;
}
.bold {
    font-weight: bold;
}
