@charset "UTF-8;";

* {
    font-family: 'Microsoft YaHei', '宋体', Arial, Helvetica, sans-serif;;
}

.portrait label.error, .landscape label.error,label.error {
    color: red;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.4;
    margin-top: 0.5em;
    width: 100%;
    float: none;
}

.landscape label.error { display: inline-block; margin-left: 22%; }

.portrait label.error { margin-left: 0; display: block; }

.my-icon-refresh{
	background:transparent url('../image/refresh.png') no-repeat center 0;
	width:22px;
	height:22px;
}
.laypage_total label{
    display: inline !important;
}