<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd.agent.system.dao.ReferWindowMapper" >
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
	<select id="getReferWindowData" parameterType="com.hd.agent.common.util.PageMap" resultType="java.util.Map" useCache="false">
		<choose>
			<when test="condition.col !=null and condition.content != null">
				select referWindow.* from (${condition.sql}) referWindow  
				<trim prefix="where" prefixOverrides="and|or">
				<if test="condition.paramRuleSql != null">${condition.paramRuleSql}</if>
				<if test="condition.paramRuleSql == null">1=1</if> 
				<choose>
					<when test="condition.querycol != null">
						and referWindow.${condition.querycol} like CONCAT('%',#{condition.content},'%')
					</when>
					<otherwise>
						<if test="condition.colname != null">
							and (referWindow.${condition.col} like CONCAT('%',#{condition.content},'%')
							or referWindow.${condition.colname} like CONCAT('%',#{condition.content},'%')
                            <if test="condition.con != null">
                                or (
                                <trim prefix="" prefixOverrides="and|or">
                                    <foreach collection="condition.con" index="index" item="item">
                                        and referWindow.${condition.colname} like '%${item}%'
                                    </foreach>
                                </trim>
                                )
                            </if>
                            )
						</if> 
						<if test="condition.colname == null">
							and referWindow.${condition.col} like CONCAT('%',#{condition.content},'%')
						</if> 
						<if test="condition.idcol != null and condition.initvalue != null">
							and  FIND_IN_SET(referWindow.${condition.idcol},#{condition.initvalue})
						</if>
					</otherwise>
				</choose>
				</trim>
			</when>			
			<when test="condition.col ==null and condition.content == null">
				select referWindow.* from (${condition.sql}) referWindow 
				<trim prefix="where" prefixOverrides="and|or"> 
				<if test="condition.paramRuleSql != null">${condition.paramRuleSql}</if>
				<if test="condition.paramRuleSql == null">1=1</if> 
				<if test="condition.idcol != null and condition.initvalue != null">
                    and  FIND_IN_SET(referWindow.${condition.idcol},#{condition.initvalue})
                </if>
                </trim>
			</when>
		</choose>
		<include refid="common.Page_dataSql"/>
		<include refid="common.Page_limit" />
	</select>
	<select id="getReferWindowDataCount" parameterType="com.hd.agent.common.util.PageMap" resultType="int" useCache="false">
		<choose>
			<when test="condition.col !=null and condition.content != null">
				select count(1) from (${condition.sql}) referWindow 
				<trim prefix="where" prefixOverrides="and|or">  
				<if test="condition.paramRuleSql != null">${condition.paramRuleSql}</if>
				<if test="condition.paramRuleSql == null">1=1</if> 
				<choose>
					<when test="condition.querycol != null">
						and referWindow.${condition.querycol} like CONCAT('%',#{condition.content},'%')
					</when>
					<otherwise>
						<if test="condition.colname != null">
							and (referWindow.${condition.col} like CONCAT('%',#{condition.content},'%')
							or referWindow.${condition.colname} like CONCAT('%',#{condition.content},'%')
                            <if test="condition.con != null">
                                or (
                                <trim prefix="" prefixOverrides="and|or">
                                    <foreach collection="condition.con" index="index" item="item">
                                        and referWindow.${condition.colname} like '%${item}%'
                                    </foreach>
                                </trim>
                                )
                            </if>
                            )
						</if> 
						<if test="condition.colname == null">
							and referWindow.${condition.col} like CONCAT('%',#{condition.content},'%')
						</if> 
						<if test="condition.idcol != null and condition.initvalue != null">
                            and  FIND_IN_SET(referWindow.${condition.idcol},#{condition.initvalue})
                        </if>
					</otherwise>
				</choose>
				</trim>
			</when>
			<when test="condition.col ==null and condition.content == null">
				select count(1) from (${condition.sql}) referWindow 
				<trim prefix="where" prefixOverrides="and|or">   
				<if test="condition.paramRuleSql != null">${condition.paramRuleSql}</if>
				<if test="condition.paramRuleSql == null">1=1</if>
				<if test="condition.idcol != null and condition.initvalue != null">
                    and  FIND_IN_SET(referWindow.${condition.idcol},#{condition.initvalue})
                </if>
                </trim>
			</when>
		</choose>
		<include refid="common.Page_dataSql"/>
	</select>
	<select id="getReferWindowAllData" parameterType="com.hd.agent.common.util.PageMap" resultType="java.util.Map" useCache="false">
		<choose>
			<when test="condition.col !=null and condition.content != null">
				select referWindow.* from (${condition.sql}) referWindow 
				<trim prefix="where" prefixOverrides="and|or"> 
				<if test="condition.paramRuleSql != null">${condition.paramRuleSql}</if>
				<if test="condition.paramRuleSql == null">1=1</if> 
				<if test="condition.colname != null">
					and (referWindow.${condition.col} like CONCAT('%',#{condition.content},'%')
					or referWindow.${condition.colname} like CONCAT('%',#{condition.content},'%')
                    <if test="condition.con != null">
                        or (
                        <trim prefix="" prefixOverrides="and|or">
                            <foreach collection="condition.con" index="index" item="item">
                                and referWindow.${condition.colname} like '%${item}%'
                            </foreach>
                        </trim>
                        )
                    </if>
                    )
				</if> 
				<if test="condition.colname == null">
					and referWindow.${condition.col} like CONCAT('%',#{condition.content},'%')
				</if> 
				<if test="condition.idcol != null and condition.initvalue != null">
					and referWindow.${condition.idcol} =#{condition.initvalue}
				</if>
				</trim>
			</when>
			<when test="condition.col ==null and condition.content == null">
				select referWindow.* from (${condition.sql}) referWindow 
				<trim prefix="where" prefixOverrides="and|or">
				<if test="condition.paramRuleSql != null">${condition.paramRuleSql}</if>
				<if test="condition.paramRuleSql == null">1=1</if>
				<if test="condition.idcol != null and condition.initvalue != null">
					and referWindow.${condition.idcol} =#{condition.initvalue}
				</if>
				</trim>
			</when>
		</choose>
		<include refid="common.Page_dataSql"/>
		<include refid="common.Page_OrderOnly" />
	</select>
	<select id="getReferWindowDataInCount" parameterType="com.hd.agent.common.util.PageMap" resultType="java.util.Map" useCache="false">
		<choose>
			<when test="condition.col !=null and condition.content != null">
				select referWindow.* from (${condition.sql}) referWindow 
				<trim prefix="where" prefixOverrides="and|or"> 
				<if test="condition.paramRuleSql != null">${condition.paramRuleSql}</if>
				<if test="condition.paramRuleSql == null">1=1</if> 
				<if test="condition.colname != null">
					and (referWindow.${condition.col} like CONCAT('%',#{condition.content},'%')
					or referWindow.${condition.colname} like CONCAT('%',#{condition.content},'%')
                    <if test="condition.con != null">
                        or (
                        <trim prefix="" prefixOverrides="and|or">
                            <foreach collection="condition.con" index="index" item="item">
                                and referWindow.${condition.colname} like '%${item}%'
                            </foreach>
                        </trim>
                        )
                    </if>
                    )
				</if> 
				<if test="condition.colname == null">
					and referWindow.${condition.col} like CONCAT('%',#{condition.content},'%')
				</if> 
				<if test="condition.idcol != null and condition.initvalue != null">
					and referWindow.${condition.idcol} !=#{condition.initvalue}
				</if>
				</trim>
			</when>
			<when test="condition.col ==null and condition.content == null">
				select referWindow.* from (${condition.sql}) referWindow 
				<trim prefix="where" prefixOverrides="and|or"> 
				<if test="condition.paramRuleSql != null">${condition.paramRuleSql}</if>
				<if test="condition.paramRuleSql == null">1=1</if>
				<if test="condition.idcol != null and condition.initvalue != null">
					and referWindow.${condition.idcol} =#{condition.initvalue}
				</if>
				</trim>
			</when>
		</choose>
		<include refid="common.Page_dataSql"/>
		limit 1 , ${condition.dataCount}
	</select>
	<insert id="addReferWindowBaseInfo" parameterType="com.hd.agent.system.model.ReferWindow">
	    insert into t_sys_referwindow
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="wname != null">
	        wname,
	      </if>
	      <if test="state != null">
	        state,
	      </if>
	      <if test="model != null">
	        model,
	      </if>
	      <if test="tables != null">
	        tables,
	      </if>
	      <if test="remark != null">
	        remark,
	      </if>
	      <if test="1==1">
	        addtime,
	      </if>
	      <if test="adduserid != null">
	        adduserid,
	      </if>
	      <if test="sqlstr != null">
	        sqlstr,
	      </if>
	      <if test="viewsql != null">
	        viewsql,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id},
	      </if>
	      <if test="wname != null">
	        #{wname},
	      </if>
	      <if test="state != null">
	        #{state},
	      </if>
	      <if test="model != null">
	        #{model},
	      </if>
	      <if test="tables != null">
	        #{tables},
	      </if>
	      <if test="remark != null">
	        #{remark},
	      </if>
	      <if test="1==1">
	        now(),
	      </if>
	      <if test="adduserid != null">
	        #{adduserid},
	      </if>
	      <if test="sqlstr != null">
	        #{sqlstr},
	      </if>
	      <if test="viewsql != null">
	        #{viewsql},
	      </if>
	    </trim>
	  </insert>
	  
	  <insert id="addReferWindowColumn" parameterType="com.hd.agent.system.model.ReferWindowColumn">
	    insert into t_sys_referwindow_column
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        id,
	      </if>
	      <if test="referwinid != null">
	        referwinid,
	      </if>
	      <if test="col != null">
	        col,
	      </if>
	      <if test="colname != null">
	        colname,
	      </if>
	      <if test="tablename != null">
	        tablename,
	      </if>
	      <if test="tablecol != null">
	        tablecol,
	      </if>
	      <if test="isquote != null">
	        isquote,
	      </if>
	      <if test="codetype != null and codetype!='null'">
	        codetype,
	      </if>
	      <if test="remark != null">
	        remark,
	      </if>
	      <if test="seq != null">
	        seq,
	      </if>
	      <if test="width != null">
	        width,
	      </if>
	      <if test="orderbyseq != null">
	        orderbyseq,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides=",">
	      <if test="id != null">
	        #{id},
	      </if>
	      <if test="referwinid != null">
	        #{referwinid},
	      </if>
	      <if test="col != null">
	        #{col},
	      </if>
	      <if test="colname != null">
	        #{colname},
	      </if>
	      <if test="tablename != null">
	        #{tablename},
	      </if>
	      <if test="tablecol != null">
	        #{tablecol},
	      </if>
	      <if test="isquote != null">
	        #{isquote},
	      </if>
	      <if test="codetype != null and codetype!='null'">
	        #{codetype},
	      </if>
	      <if test="remark != null">
	        #{remark},
	      </if>
	      <if test="seq != null">
	        #{seq},
	      </if>
	      <if test="width != null">
	        #{width},
	      </if>
	      <if test="orderbyseq != null">
	        #{orderbyseq},
	      </if>
	    </trim>
	  </insert>
	  
	  <select id="showReferWindowList" parameterType="com.hd.agent.common.util.PageMap" resultType="com.hd.agent.system.model.ReferWindow" useCache="false">
	  	select id, wname, state,model, tables, remark, addtime, adduserid, modifytime, modifyuserid,sqlstr,viewsql
	  	from t_sys_referwindow
		<trim prefix="where" prefixOverrides="and|or">
	      <if test="condition.wname != null">
	         and wname like CONCAT('%',#{condition.wname},'%')
	      </if>
	      <if test="condition.id != null">
	         and id like CONCAT('%',#{condition.id},'%')
	      </if>
	      <if test="condition.state != null">
	         and state = #{condition.state}
	      </if>
	    </trim>
	    <include refid="common.Page_limit" />
	  </select>
	  <select id="showReferWindowCount" parameterType="com.hd.agent.common.util.PageMap" resultType="int" useCache="false">
	  	select count(1) from t_sys_referwindow
	  	<trim prefix="where" prefixOverrides="and|or">
	      <if test="condition.wname != null">
	         and wname like CONCAT('%',#{condition.wname},'%')
	      </if>
	      <if test="condition.id != null">
	         and id like CONCAT('%',#{condition.id},'%')
	      </if>
	      <if test="condition.state != null">
	         and state = #{condition.state}
	      </if>
	    </trim>
	  </select>
	  <select id="checkReferWindowID" parameterType="java.lang.String" resultType="int" useCache="false">
	  	select count(1) from t_sys_referwindow
	  	where id=#{id}
	  </select>
	  <delete id="deleteReferWindow" parameterType="java.lang.String">
	  	delete from t_sys_referwindow where id=#{id}
	  </delete>
	  <delete id="deleteReferWindowColumm" parameterType="java.lang.String">
	  	delete from t_sys_referwindow_column where referwinid=#{referwinid}
	  </delete>
	  <update id="openReferWindow" parameterType="java.lang.String">
	  	update t_sys_referwindow set state='1' where id=#{id}
	  </update>
	  <update id="closeReferWindow" parameterType="java.lang.String">
	  	update t_sys_referwindow set state='0' where id=#{id}
	  </update>
	  
	  <select id="getReferWindow" parameterType="java.lang.String" resultType="com.hd.agent.system.model.ReferWindow" useCache="true">
	  	select id, wname, state,model, tables, remark, addtime, adduserid, modifytime, modifyuserid,sqlstr,viewsql
	  	from t_sys_referwindow where id=#{id}
	  </select>
	  <select id="getReferWindowColumnList" parameterType="java.lang.String" resultType="com.hd.agent.system.model.ReferWindowColumn" useCache="true">
	  	select id, referwinid, col, colname, tablename, tablecol, isquote,codetype, remark,seq,width,orderbyseq
	  	from t_sys_referwindow_column where referwinid=#{id} order by seq
	  </select>
	  
	  <update id="editReferWindow" parameterType="com.hd.agent.system.model.ReferWindow">
	    update t_sys_referwindow
	    <set>
	      <if test="wname != null">
	        wname = #{wname},
	      </if>
	      <if test="state != null">
	        state = #{state},
	      </if>
	      <if test="model != null">
	        model = #{model},
	      </if>
	      <if test="tables != null">
	        tables = #{tables},
	      </if>
	      <if test="remark != null">
	        remark = #{remark},
	      </if>
	      <if test="1==1">
	        modifytime = now(),
	      </if>
	      <if test="modifyuserid != null">
	        modifyuserid = #{modifyuserid},
	      </if>
	      <if test="sqlstr != null">
	        sqlstr = #{sqlstr},
	      </if>
	      <if test="viewsql != null">
	        viewsql = #{viewsql},
	      </if>
	    </set>
	    where id = #{id}
	  </update>
	  <select id="getReferWindowList" parameterType="java.util.Map" resultType="com.hd.agent.system.model.ReferWindow" useCache="false">
	  	select id, wname, state,model, tables, remark, addtime, adduserid, modifytime, modifyuserid,sqlstr,viewsql
	  	from t_sys_referwindow
	  	<trim prefix="where" prefixOverrides="and|or">
	      <if test="wname != null">
	         and wname like CONCAT('%',#{condition.wname},'%')
	      </if>
	      <if test="state != null">
	         and state = #{condition.state}
	      </if>
	    </trim>
	  </select>
</mapper>