.Wdate{
	border: #B3ADAB 1px solid;
	/*height: 18px;*/
	background:#fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}

.checkbox1{
    float:left;
    height: 22px;
    line-height: 22px;
}
.divtext{
    height:22px;
    line-height:22px;
    float:left;
    display: block;
}